=begin
#UltraCart Rest API V2

#This is the next generation UltraCart REST API...

OpenAPI spec version: 2.0.0
Contact: support@ultracart.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module UltraCartAdminV2
  class ChargebackApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Delete a chargeback
    # Delete a chargeback on the UltraCart account. 
    # @param chargeback_dispute_oid The chargeback_dispute_oid to delete.
    # @param [Hash] opts the optional parameters
    # @return [ChargebackDisputeResponse]
    def chargeback_chargebacks_chargeback_dispute_oid_delete(chargeback_dispute_oid, opts = {})
      data, _status_code, _headers = chargeback_chargebacks_chargeback_dispute_oid_delete_with_http_info(chargeback_dispute_oid, opts)
      return data
    end

    # Delete a chargeback
    # Delete a chargeback on the UltraCart account. 
    # @param chargeback_dispute_oid The chargeback_dispute_oid to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChargebackDisputeResponse, Fixnum, Hash)>] ChargebackDisputeResponse data, response status code and response headers
    def chargeback_chargebacks_chargeback_dispute_oid_delete_with_http_info(chargeback_dispute_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChargebackApi.chargeback_chargebacks_chargeback_dispute_oid_delete ..."
      end
      # verify the required parameter 'chargeback_dispute_oid' is set
      fail ArgumentError, "Missing the required parameter 'chargeback_dispute_oid' when calling ChargebackApi.chargeback_chargebacks_chargeback_dispute_oid_delete" if chargeback_dispute_oid.nil?
      # resource path
      local_var_path = "/chargeback/chargebacks/{chargeback_dispute_oid}".sub('{format}','json').sub('{' + 'chargeback_dispute_oid' + '}', chargeback_dispute_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json; charset=UTF-8']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChargebackDisputeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargebackApi#chargeback_chargebacks_chargeback_dispute_oid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a chargeback
    # Retrieves a single chargeback using the specified chargeback dispute oid. 
    # @param chargeback_dispute_oid The chargeback dispute oid to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [ChargebackDisputeResponse]
    def chargeback_chargebacks_chargeback_dispute_oid_get(chargeback_dispute_oid, opts = {})
      data, _status_code, _headers = chargeback_chargebacks_chargeback_dispute_oid_get_with_http_info(chargeback_dispute_oid, opts)
      return data
    end

    # Retrieve a chargeback
    # Retrieves a single chargeback using the specified chargeback dispute oid. 
    # @param chargeback_dispute_oid The chargeback dispute oid to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [Array<(ChargebackDisputeResponse, Fixnum, Hash)>] ChargebackDisputeResponse data, response status code and response headers
    def chargeback_chargebacks_chargeback_dispute_oid_get_with_http_info(chargeback_dispute_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChargebackApi.chargeback_chargebacks_chargeback_dispute_oid_get ..."
      end
      # verify the required parameter 'chargeback_dispute_oid' is set
      fail ArgumentError, "Missing the required parameter 'chargeback_dispute_oid' when calling ChargebackApi.chargeback_chargebacks_chargeback_dispute_oid_get" if chargeback_dispute_oid.nil?
      # resource path
      local_var_path = "/chargeback/chargebacks/{chargeback_dispute_oid}".sub('{format}','json').sub('{' + 'chargeback_dispute_oid' + '}', chargeback_dispute_oid.to_s)

      # query parameters
      query_params = {}
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChargebackDisputeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargebackApi#chargeback_chargebacks_chargeback_dispute_oid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a chargeback
    # Update a chargeback on the UltraCart account. 
    # @param chargeback Chargeback to update
    # @param chargeback_dispute_oid The chargeback_dispute_oid to update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [ChargebackDisputeResponse]
    def chargeback_chargebacks_chargeback_dispute_oid_put(chargeback, chargeback_dispute_oid, opts = {})
      data, _status_code, _headers = chargeback_chargebacks_chargeback_dispute_oid_put_with_http_info(chargeback, chargeback_dispute_oid, opts)
      return data
    end

    # Update a chargeback
    # Update a chargeback on the UltraCart account. 
    # @param chargeback Chargeback to update
    # @param chargeback_dispute_oid The chargeback_dispute_oid to update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [Array<(ChargebackDisputeResponse, Fixnum, Hash)>] ChargebackDisputeResponse data, response status code and response headers
    def chargeback_chargebacks_chargeback_dispute_oid_put_with_http_info(chargeback, chargeback_dispute_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChargebackApi.chargeback_chargebacks_chargeback_dispute_oid_put ..."
      end
      # verify the required parameter 'chargeback' is set
      fail ArgumentError, "Missing the required parameter 'chargeback' when calling ChargebackApi.chargeback_chargebacks_chargeback_dispute_oid_put" if chargeback.nil?
      # verify the required parameter 'chargeback_dispute_oid' is set
      fail ArgumentError, "Missing the required parameter 'chargeback_dispute_oid' when calling ChargebackApi.chargeback_chargebacks_chargeback_dispute_oid_put" if chargeback_dispute_oid.nil?
      # resource path
      local_var_path = "/chargeback/chargebacks/{chargeback_dispute_oid}".sub('{format}','json').sub('{' + 'chargeback_dispute_oid' + '}', chargeback_dispute_oid.to_s)

      # query parameters
      query_params = {}
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json; charset=UTF-8']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(chargeback)
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChargebackDisputeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargebackApi#chargeback_chargebacks_chargeback_dispute_oid_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve chargebacks
    # Retrieves chargebacks from the account.  If no parameters are specified, all chargebacks will be returned.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_id Order Id
    # @option opts [String] :case_number Case number
    # @option opts [String] :status Status
    # @option opts [String] :expiration_dts_start Expiration dts start
    # @option opts [String] :expiration_dts_end Expiration dts end
    # @option opts [String] :chargeback_dts_start Chargeback dts start
    # @option opts [String] :chargeback_dts_end Chargeback dts end
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Max 200) (default to 100)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_since Fetch chargebacks that have been created/modified since this date/time.
    # @option opts [String] :_sort The sort order of the chargebacks.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [ChargebackDisputesResponse]
    def chargeback_chargebacks_get(opts = {})
      data, _status_code, _headers = chargeback_chargebacks_get_with_http_info(opts)
      return data
    end

    # Retrieve chargebacks
    # Retrieves chargebacks from the account.  If no parameters are specified, all chargebacks will be returned.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_id Order Id
    # @option opts [String] :case_number Case number
    # @option opts [String] :status Status
    # @option opts [String] :expiration_dts_start Expiration dts start
    # @option opts [String] :expiration_dts_end Expiration dts end
    # @option opts [String] :chargeback_dts_start Chargeback dts start
    # @option opts [String] :chargeback_dts_end Chargeback dts end
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Max 200)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index.
    # @option opts [String] :_since Fetch chargebacks that have been created/modified since this date/time.
    # @option opts [String] :_sort The sort order of the chargebacks.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [Array<(ChargebackDisputesResponse, Fixnum, Hash)>] ChargebackDisputesResponse data, response status code and response headers
    def chargeback_chargebacks_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChargebackApi.chargeback_chargebacks_get ..."
      end
      # resource path
      local_var_path = "/chargeback/chargebacks".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'order_id'] = opts[:'order_id'] if !opts[:'order_id'].nil?
      query_params[:'case_number'] = opts[:'case_number'] if !opts[:'case_number'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'expiration_dts_start'] = opts[:'expiration_dts_start'] if !opts[:'expiration_dts_start'].nil?
      query_params[:'expiration_dts_end'] = opts[:'expiration_dts_end'] if !opts[:'expiration_dts_end'].nil?
      query_params[:'chargeback_dts_start'] = opts[:'chargeback_dts_start'] if !opts[:'chargeback_dts_start'].nil?
      query_params[:'chargeback_dts_end'] = opts[:'chargeback_dts_end'] if !opts[:'chargeback_dts_end'].nil?
      query_params[:'_limit'] = opts[:'_limit'] if !opts[:'_limit'].nil?
      query_params[:'_offset'] = opts[:'_offset'] if !opts[:'_offset'].nil?
      query_params[:'_since'] = opts[:'_since'] if !opts[:'_since'].nil?
      query_params[:'_sort'] = opts[:'_sort'] if !opts[:'_sort'].nil?
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChargebackDisputesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargebackApi#chargeback_chargebacks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Insert a chargeback
    # Insert a chargeback on the UltraCart account. 
    # @param chargeback Chargeback to insert
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [ChargebackDisputeResponse]
    def chargeback_chargebacks_post(chargeback, opts = {})
      data, _status_code, _headers = chargeback_chargebacks_post_with_http_info(chargeback, opts)
      return data
    end

    # Insert a chargeback
    # Insert a chargeback on the UltraCart account. 
    # @param chargeback Chargeback to insert
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [Array<(ChargebackDisputeResponse, Fixnum, Hash)>] ChargebackDisputeResponse data, response status code and response headers
    def chargeback_chargebacks_post_with_http_info(chargeback, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChargebackApi.chargeback_chargebacks_post ..."
      end
      # verify the required parameter 'chargeback' is set
      fail ArgumentError, "Missing the required parameter 'chargeback' when calling ChargebackApi.chargeback_chargebacks_post" if chargeback.nil?
      # resource path
      local_var_path = "/chargeback/chargebacks".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json; charset=UTF-8']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(chargeback)
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChargebackDisputeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargebackApi#chargeback_chargebacks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
