=begin
#UltraCart Rest API V2

#This is the next generation UltraCart REST API...

OpenAPI spec version: 2.0.0
Contact: support@ultracart.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module UltraCartAdminV2
  class OrderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Retrieve orders
    # Retrieves a group of orders from the account.  If no parameters are specified, the API call will fail with a bad request error.  Always specify some parameters to limit the scope of the orders returned to ones you are truly interested in.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_id Order Id
    # @option opts [String] :payment_method Payment Method
    # @option opts [String] :company Company
    # @option opts [String] :first_name First Name
    # @option opts [String] :last_name Last Name
    # @option opts [String] :city City
    # @option opts [String] :state_region State/Region
    # @option opts [String] :postal_code Postal Code
    # @option opts [String] :country_code Country Code (ISO-3166 two letter)
    # @option opts [String] :phone Phone
    # @option opts [String] :email Email
    # @option opts [String] :cc_email CC Email
    # @option opts [Float] :total Total
    # @option opts [String] :screen_branding_theme_code Screen Branding Theme Code
    # @option opts [String] :storefront_host_name StoreFront Host Name
    # @option opts [String] :creation_date_begin Creation Date Begin
    # @option opts [String] :creation_date_end Creation Date End
    # @option opts [String] :payment_date_begin Payment Date Begin
    # @option opts [String] :payment_date_end Payment Date End
    # @option opts [String] :shipment_date_begin Shipment Date Begin
    # @option opts [String] :shipment_date_end Shipment Date End
    # @option opts [String] :rma RMA
    # @option opts [String] :purchase_order_number Purchase Order Number
    # @option opts [String] :item_id Item Id
    # @option opts [String] :current_stage Current Stage
    # @option opts [String] :channel_partner_code Channel Partner Code
    # @option opts [String] :channel_partner_order_id Channel Partner Order ID
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 200) (default to 100)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_sort The sort order of the orders.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
    # @option opts [String] :_expand The object expansion to perform on the result.
    # @return [OrdersResponse]
    def order_orders_get(opts = {})
      data, _status_code, _headers = order_orders_get_with_http_info(opts)
      return data
    end

    # Retrieve orders
    # Retrieves a group of orders from the account.  If no parameters are specified, the API call will fail with a bad request error.  Always specify some parameters to limit the scope of the orders returned to ones you are truly interested in.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_id Order Id
    # @option opts [String] :payment_method Payment Method
    # @option opts [String] :company Company
    # @option opts [String] :first_name First Name
    # @option opts [String] :last_name Last Name
    # @option opts [String] :city City
    # @option opts [String] :state_region State/Region
    # @option opts [String] :postal_code Postal Code
    # @option opts [String] :country_code Country Code (ISO-3166 two letter)
    # @option opts [String] :phone Phone
    # @option opts [String] :email Email
    # @option opts [String] :cc_email CC Email
    # @option opts [Float] :total Total
    # @option opts [String] :screen_branding_theme_code Screen Branding Theme Code
    # @option opts [String] :storefront_host_name StoreFront Host Name
    # @option opts [String] :creation_date_begin Creation Date Begin
    # @option opts [String] :creation_date_end Creation Date End
    # @option opts [String] :payment_date_begin Payment Date Begin
    # @option opts [String] :payment_date_end Payment Date End
    # @option opts [String] :shipment_date_begin Shipment Date Begin
    # @option opts [String] :shipment_date_end Shipment Date End
    # @option opts [String] :rma RMA
    # @option opts [String] :purchase_order_number Purchase Order Number
    # @option opts [String] :item_id Item Id
    # @option opts [String] :current_stage Current Stage
    # @option opts [String] :channel_partner_code Channel Partner Code
    # @option opts [String] :channel_partner_order_id Channel Partner Order ID
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 200)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index.
    # @option opts [String] :_sort The sort order of the orders.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
    # @option opts [String] :_expand The object expansion to perform on the result.
    # @return [Array<(OrdersResponse, Fixnum, Hash)>] OrdersResponse data, response status code and response headers
    def order_orders_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrderApi.order_orders_get ..."
      end
      # resource path
      local_var_path = "/order/orders".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'order_id'] = opts[:'order_id'] if !opts[:'order_id'].nil?
      query_params[:'payment_method'] = opts[:'payment_method'] if !opts[:'payment_method'].nil?
      query_params[:'company'] = opts[:'company'] if !opts[:'company'].nil?
      query_params[:'first_name'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'last_name'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state_region'] = opts[:'state_region'] if !opts[:'state_region'].nil?
      query_params[:'postal_code'] = opts[:'postal_code'] if !opts[:'postal_code'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'cc_email'] = opts[:'cc_email'] if !opts[:'cc_email'].nil?
      query_params[:'total'] = opts[:'total'] if !opts[:'total'].nil?
      query_params[:'screen_branding_theme_code'] = opts[:'screen_branding_theme_code'] if !opts[:'screen_branding_theme_code'].nil?
      query_params[:'storefront_host_name'] = opts[:'storefront_host_name'] if !opts[:'storefront_host_name'].nil?
      query_params[:'creation_date_begin'] = opts[:'creation_date_begin'] if !opts[:'creation_date_begin'].nil?
      query_params[:'creation_date_end'] = opts[:'creation_date_end'] if !opts[:'creation_date_end'].nil?
      query_params[:'payment_date_begin'] = opts[:'payment_date_begin'] if !opts[:'payment_date_begin'].nil?
      query_params[:'payment_date_end'] = opts[:'payment_date_end'] if !opts[:'payment_date_end'].nil?
      query_params[:'shipment_date_begin'] = opts[:'shipment_date_begin'] if !opts[:'shipment_date_begin'].nil?
      query_params[:'shipment_date_end'] = opts[:'shipment_date_end'] if !opts[:'shipment_date_end'].nil?
      query_params[:'rma'] = opts[:'rma'] if !opts[:'rma'].nil?
      query_params[:'purchase_order_number'] = opts[:'purchase_order_number'] if !opts[:'purchase_order_number'].nil?
      query_params[:'item_id'] = opts[:'item_id'] if !opts[:'item_id'].nil?
      query_params[:'current_stage'] = opts[:'current_stage'] if !opts[:'current_stage'].nil?
      query_params[:'channel_partner_code'] = opts[:'channel_partner_code'] if !opts[:'channel_partner_code'].nil?
      query_params[:'channel_partner_order_id'] = opts[:'channel_partner_order_id'] if !opts[:'channel_partner_order_id'].nil?
      query_params[:'_limit'] = opts[:'_limit'] if !opts[:'_limit'].nil?
      query_params[:'_offset'] = opts[:'_offset'] if !opts[:'_offset'].nil?
      query_params[:'_sort'] = opts[:'_sort'] if !opts[:'_sort'].nil?
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OrdersResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_orders_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel an order
    # Cancel an order on the UltraCart account.  If the success flag is false, then consult the error message for why it failed. 
    # @param order_id The order id to cancel.
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def order_orders_order_id_cancel_post(order_id, opts = {})
      data, _status_code, _headers = order_orders_order_id_cancel_post_with_http_info(order_id, opts)
      return data
    end

    # Cancel an order
    # Cancel an order on the UltraCart account.  If the success flag is false, then consult the error message for why it failed. 
    # @param order_id The order id to cancel.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def order_orders_order_id_cancel_post_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrderApi.order_orders_order_id_cancel_post ..."
      end
      # verify the required parameter 'order_id' is set
      fail ArgumentError, "Missing the required parameter 'order_id' when calling OrderApi.order_orders_order_id_cancel_post" if order_id.nil?
      # resource path
      local_var_path = "/order/orders/{order_id}/cancel".sub('{format}','json').sub('{' + 'order_id' + '}', order_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_orders_order_id_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an order
    # Delete an order on the UltraCart account. 
    # @param order_id The order id to delete.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def order_orders_order_id_delete(order_id, opts = {})
      order_orders_order_id_delete_with_http_info(order_id, opts)
      return nil
    end

    # Delete an order
    # Delete an order on the UltraCart account. 
    # @param order_id The order id to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def order_orders_order_id_delete_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrderApi.order_orders_order_id_delete ..."
      end
      # verify the required parameter 'order_id' is set
      fail ArgumentError, "Missing the required parameter 'order_id' when calling OrderApi.order_orders_order_id_delete" if order_id.nil?
      # resource path
      local_var_path = "/order/orders/{order_id}".sub('{format}','json').sub('{' + 'order_id' + '}', order_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_orders_order_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an order
    # Retrieves a single order using the specified order id. 
    # @param order_id The order id to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [OrderResponse]
    def order_orders_order_id_get(order_id, opts = {})
      data, _status_code, _headers = order_orders_order_id_get_with_http_info(order_id, opts)
      return data
    end

    # Retrieve an order
    # Retrieves a single order using the specified order id. 
    # @param order_id The order id to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [Array<(OrderResponse, Fixnum, Hash)>] OrderResponse data, response status code and response headers
    def order_orders_order_id_get_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrderApi.order_orders_order_id_get ..."
      end
      # verify the required parameter 'order_id' is set
      fail ArgumentError, "Missing the required parameter 'order_id' when calling OrderApi.order_orders_order_id_get" if order_id.nil?
      # resource path
      local_var_path = "/order/orders/{order_id}".sub('{format}','json').sub('{' + 'order_id' + '}', order_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OrderResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_orders_order_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an order
    # Update a new order on the UltraCart account. 
    # @param order Order to update
    # @param order_id The order id to update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [OrderResponse]
    def order_orders_order_id_put(order, order_id, opts = {})
      data, _status_code, _headers = order_orders_order_id_put_with_http_info(order, order_id, opts)
      return data
    end

    # Update an order
    # Update a new order on the UltraCart account. 
    # @param order Order to update
    # @param order_id The order id to update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [Array<(OrderResponse, Fixnum, Hash)>] OrderResponse data, response status code and response headers
    def order_orders_order_id_put_with_http_info(order, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrderApi.order_orders_order_id_put ..."
      end
      # verify the required parameter 'order' is set
      fail ArgumentError, "Missing the required parameter 'order' when calling OrderApi.order_orders_order_id_put" if order.nil?
      # verify the required parameter 'order_id' is set
      fail ArgumentError, "Missing the required parameter 'order_id' when calling OrderApi.order_orders_order_id_put" if order_id.nil?
      # resource path
      local_var_path = "/order/orders/{order_id}".sub('{format}','json').sub('{' + 'order_id' + '}', order_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json; charset=UTF-8']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(order)
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OrderResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_orders_order_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend receipt
    # Resend the receipt for an order on the UltraCart account. 
    # @param order_id The order id to resend the receipt for.
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def order_orders_order_id_resend_receipt_post(order_id, opts = {})
      data, _status_code, _headers = order_orders_order_id_resend_receipt_post_with_http_info(order_id, opts)
      return data
    end

    # Resend receipt
    # Resend the receipt for an order on the UltraCart account. 
    # @param order_id The order id to resend the receipt for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def order_orders_order_id_resend_receipt_post_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrderApi.order_orders_order_id_resend_receipt_post ..."
      end
      # verify the required parameter 'order_id' is set
      fail ArgumentError, "Missing the required parameter 'order_id' when calling OrderApi.order_orders_order_id_resend_receipt_post" if order_id.nil?
      # resource path
      local_var_path = "/order/orders/{order_id}/resend_receipt".sub('{format}','json').sub('{' + 'order_id' + '}', order_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_orders_order_id_resend_receipt_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend shipment confirmation
    # Resend shipment confirmation for an order on the UltraCart account. 
    # @param order_id The order id to resend the shipment notification for.
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def order_orders_order_id_resend_shipment_confirmation_post(order_id, opts = {})
      data, _status_code, _headers = order_orders_order_id_resend_shipment_confirmation_post_with_http_info(order_id, opts)
      return data
    end

    # Resend shipment confirmation
    # Resend shipment confirmation for an order on the UltraCart account. 
    # @param order_id The order id to resend the shipment notification for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def order_orders_order_id_resend_shipment_confirmation_post_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OrderApi.order_orders_order_id_resend_shipment_confirmation_post ..."
      end
      # verify the required parameter 'order_id' is set
      fail ArgumentError, "Missing the required parameter 'order_id' when calling OrderApi.order_orders_order_id_resend_shipment_confirmation_post" if order_id.nil?
      # resource path
      local_var_path = "/order/orders/{order_id}/resend_shipment_confirmation".sub('{format}','json').sub('{' + 'order_id' + '}', order_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_orders_order_id_resend_shipment_confirmation_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
