=begin
#UltraCart Rest API V2

#UltraCart REST API Version 2

The version of the OpenAPI document: 2.0.0
Contact: support@ultracart.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1-SNAPSHOT

=end

require 'cgi'

module UltracartClient
  class AffiliateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    def self.new_using_api_key(simple_key, verify_ssl = true, debugging = false)
      api_config = Configuration.new
      api_config.api_key_prefix['x-ultracart-simple-key'] = simple_key
      api_config.api_version = '2017-03-01'
      api_config.verify_ssl = verify_ssl

      api_client = ApiClient.new(api_config)
      api_client.config.debugging = debugging

      UltracartClient::AffiliateApi.new(api_client)
    end

    # Delete an affiliate
    # Delete an affiliate on the UltraCart account.  The affiliate is disabled within the active affiliate program; their ledger and click history is preserved. 
    # @param affiliate_oid [Integer] The affiliate oid to delete.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_affiliate(affiliate_oid, opts = {})
      delete_affiliate_with_http_info(affiliate_oid, opts)
      nil
    end

    # Delete an affiliate
    # Delete an affiliate on the UltraCart account.  The affiliate is disabled within the active affiliate program; their ledger and click history is preserved. 
    # @param affiliate_oid [Integer] The affiliate oid to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_affiliate_with_http_info(affiliate_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliateApi.delete_affiliate ...'
      end
      # verify the required parameter 'affiliate_oid' is set
      if @api_client.config.client_side_validation && affiliate_oid.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_oid' when calling AffiliateApi.delete_affiliate"
      end
      # resource path
      local_var_path = '/affiliate/affiliates/{affiliate_oid}'.sub('{' + 'affiliate_oid' + '}', CGI.escape(affiliate_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"AffiliateApi.delete_affiliate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliateApi#delete_affiliate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an affiliate
    # Retrieves a single affiliate using the specified affiliate oid. 
    # @param affiliate_oid [Integer] The affiliate oid to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [AffiliateResponse]
    def get_affiliate(affiliate_oid, opts = {})
      data, _status_code, _headers = get_affiliate_with_http_info(affiliate_oid, opts)
      data
    end

    # Retrieve an affiliate
    # Retrieves a single affiliate using the specified affiliate oid. 
    # @param affiliate_oid [Integer] The affiliate oid to retrieve.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [Array<(AffiliateResponse, Integer, Hash)>] AffiliateResponse data, response status code and response headers
    def get_affiliate_with_http_info(affiliate_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliateApi.get_affiliate ...'
      end
      # verify the required parameter 'affiliate_oid' is set
      if @api_client.config.client_side_validation && affiliate_oid.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_oid' when calling AffiliateApi.get_affiliate"
      end
      # resource path
      local_var_path = '/affiliate/affiliates/{affiliate_oid}'.sub('{' + 'affiliate_oid' + '}', CGI.escape(affiliate_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AffiliateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"AffiliateApi.get_affiliate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliateApi#get_affiliate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve affiliates
    # Retrieves a group of affiliates from the account based on a query object.  If no parameters are specified, the API call will fail with a bad request error.  Always specify some parameters to limit the scope of the affiliates returned to ones you are truly interested in.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param affiliate_query [AffiliateQuery] Affiliate query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 200) (default to 100)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_sort The sort order of the affiliates.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
    # @return [AffiliatesResponse]
    def get_affiliates_by_query(affiliate_query, opts = {})
      data, _status_code, _headers = get_affiliates_by_query_with_http_info(affiliate_query, opts)
      data
    end

    # Retrieve affiliates
    # Retrieves a group of affiliates from the account based on a query object.  If no parameters are specified, the API call will fail with a bad request error.  Always specify some parameters to limit the scope of the affiliates returned to ones you are truly interested in.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param affiliate_query [AffiliateQuery] Affiliate query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 200) (default to 100)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_sort The sort order of the affiliates.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
    # @return [Array<(AffiliatesResponse, Integer, Hash)>] AffiliatesResponse data, response status code and response headers
    def get_affiliates_by_query_with_http_info(affiliate_query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliateApi.get_affiliates_by_query ...'
      end
      # verify the required parameter 'affiliate_query' is set
      if @api_client.config.client_side_validation && affiliate_query.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_query' when calling AffiliateApi.get_affiliates_by_query"
      end
      # resource path
      local_var_path = '/affiliate/affiliates/query'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'_limit'] = opts[:'_limit'] if !opts[:'_limit'].nil?
      query_params[:'_offset'] = opts[:'_offset'] if !opts[:'_offset'].nil?
      query_params[:'_sort'] = opts[:'_sort'] if !opts[:'_sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(affiliate_query)

      # return_type
      return_type = opts[:debug_return_type] || 'AffiliatesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"AffiliateApi.get_affiliates_by_query",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliateApi#get_affiliates_by_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve clicks
    # Retrieves a group of clicks from the account based on a query object.  If no parameters are specified, the API call will fail with a bad request error.  Always specify some parameters to limit the scope of the clicks returned to ones you are truly interested in.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param click_query [AffiliateClickQuery] Click query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 10000) (default to 10000)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_expand The object expansion to perform on the result.  Only option is link.
    # @return [AffiliateClicksResponse]
    def get_clicks_by_query(click_query, opts = {})
      data, _status_code, _headers = get_clicks_by_query_with_http_info(click_query, opts)
      data
    end

    # Retrieve clicks
    # Retrieves a group of clicks from the account based on a query object.  If no parameters are specified, the API call will fail with a bad request error.  Always specify some parameters to limit the scope of the clicks returned to ones you are truly interested in.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param click_query [AffiliateClickQuery] Click query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 10000) (default to 10000)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_expand The object expansion to perform on the result.  Only option is link.
    # @return [Array<(AffiliateClicksResponse, Integer, Hash)>] AffiliateClicksResponse data, response status code and response headers
    def get_clicks_by_query_with_http_info(click_query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliateApi.get_clicks_by_query ...'
      end
      # verify the required parameter 'click_query' is set
      if @api_client.config.client_side_validation && click_query.nil?
        fail ArgumentError, "Missing the required parameter 'click_query' when calling AffiliateApi.get_clicks_by_query"
      end
      # resource path
      local_var_path = '/affiliate/clicks/query'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'_limit'] = opts[:'_limit'] if !opts[:'_limit'].nil?
      query_params[:'_offset'] = opts[:'_offset'] if !opts[:'_offset'].nil?
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(click_query)

      # return_type
      return_type = opts[:debug_return_type] || 'AffiliateClicksResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"AffiliateApi.get_clicks_by_query",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliateApi#get_clicks_by_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve ledger entries
    # Retrieves a group of ledger entries from the account based on a query object.  If no parameters are specified, the API call will fail with a bad request error.  Always specify some parameters to limit the scope of the ledgers returned to ones you are truly interested in.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param ledger_query [AffiliateLedgerQuery] Ledger query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 200) (default to 100)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_expand The object expansion to perform on the result.  Only option is link.
    # @return [AffiliateLedgersResponse]
    def get_ledgers_by_query(ledger_query, opts = {})
      data, _status_code, _headers = get_ledgers_by_query_with_http_info(ledger_query, opts)
      data
    end

    # Retrieve ledger entries
    # Retrieves a group of ledger entries from the account based on a query object.  If no parameters are specified, the API call will fail with a bad request error.  Always specify some parameters to limit the scope of the ledgers returned to ones you are truly interested in.  You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. 
    # @param ledger_query [AffiliateLedgerQuery] Ledger query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 200) (default to 100)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_expand The object expansion to perform on the result.  Only option is link.
    # @return [Array<(AffiliateLedgersResponse, Integer, Hash)>] AffiliateLedgersResponse data, response status code and response headers
    def get_ledgers_by_query_with_http_info(ledger_query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliateApi.get_ledgers_by_query ...'
      end
      # verify the required parameter 'ledger_query' is set
      if @api_client.config.client_side_validation && ledger_query.nil?
        fail ArgumentError, "Missing the required parameter 'ledger_query' when calling AffiliateApi.get_ledgers_by_query"
      end
      # resource path
      local_var_path = '/affiliate/ledgers/query'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'_limit'] = opts[:'_limit'] if !opts[:'_limit'].nil?
      query_params[:'_offset'] = opts[:'_offset'] if !opts[:'_offset'].nil?
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ledger_query)

      # return_type
      return_type = opts[:debug_return_type] || 'AffiliateLedgersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"AffiliateApi.get_ledgers_by_query",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliateApi#get_ledgers_by_query\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Insert an affiliate
    # Insert an affiliate on the UltraCart account.  The affiliate is created within the merchant's active affiliate program. 
    # @param affiliate [Affiliate] Affiliate to insert
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :send_welcome_email Whether to send a welcome email to the affiliate after it is created.  Defaults to false. (default to false)
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [AffiliateResponse]
    def insert_affiliate(affiliate, opts = {})
      data, _status_code, _headers = insert_affiliate_with_http_info(affiliate, opts)
      data
    end

    # Insert an affiliate
    # Insert an affiliate on the UltraCart account.  The affiliate is created within the merchant&#39;s active affiliate program. 
    # @param affiliate [Affiliate] Affiliate to insert
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :send_welcome_email Whether to send a welcome email to the affiliate after it is created.  Defaults to false. (default to false)
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [Array<(AffiliateResponse, Integer, Hash)>] AffiliateResponse data, response status code and response headers
    def insert_affiliate_with_http_info(affiliate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliateApi.insert_affiliate ...'
      end
      # verify the required parameter 'affiliate' is set
      if @api_client.config.client_side_validation && affiliate.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate' when calling AffiliateApi.insert_affiliate"
      end
      # resource path
      local_var_path = '/affiliate/affiliates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'send_welcome_email'] = opts[:'send_welcome_email'] if !opts[:'send_welcome_email'].nil?
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=UTF-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(affiliate)

      # return_type
      return_type = opts[:debug_return_type] || 'AffiliateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"AffiliateApi.insert_affiliate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliateApi#insert_affiliate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a welcome email to an affiliate
    # Sends a welcome email to the specified affiliate using the welcome letter configured on the merchant's active affiliate program. 
    # @param affiliate_oid [Integer] The affiliate oid to send the welcome email to.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def send_affiliate_welcome_email(affiliate_oid, opts = {})
      send_affiliate_welcome_email_with_http_info(affiliate_oid, opts)
      nil
    end

    # Send a welcome email to an affiliate
    # Sends a welcome email to the specified affiliate using the welcome letter configured on the merchant&#39;s active affiliate program. 
    # @param affiliate_oid [Integer] The affiliate oid to send the welcome email to.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def send_affiliate_welcome_email_with_http_info(affiliate_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliateApi.send_affiliate_welcome_email ...'
      end
      # verify the required parameter 'affiliate_oid' is set
      if @api_client.config.client_side_validation && affiliate_oid.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_oid' when calling AffiliateApi.send_affiliate_welcome_email"
      end
      # resource path
      local_var_path = '/affiliate/affiliates/{affiliate_oid}/welcome_email'.sub('{' + 'affiliate_oid' + '}', CGI.escape(affiliate_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"AffiliateApi.send_affiliate_welcome_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliateApi#send_affiliate_welcome_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an affiliate
    # Update an affiliate on the UltraCart account.  This is a full replacement of the affiliate; omitted fields are reset to their defaults, with the exception of password which is only changed when supplied. 
    # @param affiliate_oid [Integer] The affiliate oid to update.
    # @param affiliate [Affiliate] Affiliate to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [AffiliateResponse]
    def update_affiliate(affiliate_oid, affiliate, opts = {})
      data, _status_code, _headers = update_affiliate_with_http_info(affiliate_oid, affiliate, opts)
      data
    end

    # Update an affiliate
    # Update an affiliate on the UltraCart account.  This is a full replacement of the affiliate; omitted fields are reset to their defaults, with the exception of password which is only changed when supplied. 
    # @param affiliate_oid [Integer] The affiliate oid to update.
    # @param affiliate [Affiliate] Affiliate to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :_expand The object expansion to perform on the result.  See documentation for examples
    # @return [Array<(AffiliateResponse, Integer, Hash)>] AffiliateResponse data, response status code and response headers
    def update_affiliate_with_http_info(affiliate_oid, affiliate, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AffiliateApi.update_affiliate ...'
      end
      # verify the required parameter 'affiliate_oid' is set
      if @api_client.config.client_side_validation && affiliate_oid.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_oid' when calling AffiliateApi.update_affiliate"
      end
      # verify the required parameter 'affiliate' is set
      if @api_client.config.client_side_validation && affiliate.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate' when calling AffiliateApi.update_affiliate"
      end
      # resource path
      local_var_path = '/affiliate/affiliates/{affiliate_oid}'.sub('{' + 'affiliate_oid' + '}', CGI.escape(affiliate_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'_expand'] = opts[:'_expand'] if !opts[:'_expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=UTF-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(affiliate)

      # return_type
      return_type = opts[:debug_return_type] || 'AffiliateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"AffiliateApi.update_affiliate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AffiliateApi#update_affiliate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
