=begin
#UltraCart Rest API V2

#UltraCart REST API Version 2

The version of the OpenAPI document: 2.0.0
Contact: support@ultracart.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1-SNAPSHOT

=end

require 'cgi'

module UltracartClient
  class BulkApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    def self.new_using_api_key(simple_key, verify_ssl = true, debugging = false)
      api_config = Configuration.new
      api_config.api_key_prefix['x-ultracart-simple-key'] = simple_key
      api_config.api_version = '2017-03-01'
      api_config.verify_ssl = verify_ssl

      api_client = ApiClient.new(api_config)
      api_client.config.debugging = debugging

      UltracartClient::BulkApi.new(api_client)
    end

    # Request cancellation of a bulk job
    # Queued jobs cancel immediately (200). In-progress jobs finalize as cancelled between records (202); already-processed records stand. 
    # @param object [String] Object type
    # @param job_id [String] The bulk job id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def bulk_cancel_job(object, job_id, opts = {})
      bulk_cancel_job_with_http_info(object, job_id, opts)
      nil
    end

    # Request cancellation of a bulk job
    # Queued jobs cancel immediately (200). In-progress jobs finalize as cancelled between records (202); already-processed records stand. 
    # @param object [String] Object type
    # @param job_id [String] The bulk job id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def bulk_cancel_job_with_http_info(object, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkApi.bulk_cancel_job ...'
      end
      # verify the required parameter 'object' is set
      if @api_client.config.client_side_validation && object.nil?
        fail ArgumentError, "Missing the required parameter 'object' when calling BulkApi.bulk_cancel_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling BulkApi.bulk_cancel_job"
      end
      # resource path
      local_var_path = '/bulk/{object}/{job_id}'.sub('{' + 'object' + '}', CGI.escape(object.to_s)).sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"BulkApi.bulk_cancel_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkApi#bulk_cancel_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate a presigned upload URL for a bulk payload
    # Returns a presigned S3 PUT URL the merchant uploads NDJSON to, plus the s3_key to pass to submit. 
    # @param object [String] Object type
    # @param [Hash] opts the optional parameters
    # @return [BulkUploadUrlResponse]
    def bulk_generate_upload_url(object, opts = {})
      data, _status_code, _headers = bulk_generate_upload_url_with_http_info(object, opts)
      data
    end

    # Generate a presigned upload URL for a bulk payload
    # Returns a presigned S3 PUT URL the merchant uploads NDJSON to, plus the s3_key to pass to submit. 
    # @param object [String] Object type
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkUploadUrlResponse, Integer, Hash)>] BulkUploadUrlResponse data, response status code and response headers
    def bulk_generate_upload_url_with_http_info(object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkApi.bulk_generate_upload_url ...'
      end
      # verify the required parameter 'object' is set
      if @api_client.config.client_side_validation && object.nil?
        fail ArgumentError, "Missing the required parameter 'object' when calling BulkApi.bulk_generate_upload_url"
      end
      # resource path
      local_var_path = '/bulk/{object}/upload-url'.sub('{' + 'object' + '}', CGI.escape(object.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkUploadUrlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"BulkApi.bulk_generate_upload_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkApi#bulk_generate_upload_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a bulk job's status and counts
    # @param object [String] Object type
    # @param job_id [String] The bulk job id
    # @param [Hash] opts the optional parameters
    # @return [BulkJobResponse]
    def bulk_get_job(object, job_id, opts = {})
      data, _status_code, _headers = bulk_get_job_with_http_info(object, job_id, opts)
      data
    end

    # Retrieve a bulk job&#39;s status and counts
    # @param object [String] Object type
    # @param job_id [String] The bulk job id
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkJobResponse, Integer, Hash)>] BulkJobResponse data, response status code and response headers
    def bulk_get_job_with_http_info(object, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkApi.bulk_get_job ...'
      end
      # verify the required parameter 'object' is set
      if @api_client.config.client_side_validation && object.nil?
        fail ArgumentError, "Missing the required parameter 'object' when calling BulkApi.bulk_get_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling BulkApi.bulk_get_job"
      end
      # resource path
      local_var_path = '/bulk/{object}/{job_id}'.sub('{' + 'object' + '}', CGI.escape(object.to_s)).sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkJobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"BulkApi.bulk_get_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkApi#bulk_get_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Paginate a bulk job's per-record results
    # @param object [String] Object type
    # @param job_id [String] The bulk job id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by per-record result status (success, failed, duplicate)
    # @option opts [String] :cursor Opaque pagination cursor
    # @option opts [Integer] :limit Page size (default 100, max 1000)
    # @return [BulkRecordsResponse]
    def bulk_get_job_records(object, job_id, opts = {})
      data, _status_code, _headers = bulk_get_job_records_with_http_info(object, job_id, opts)
      data
    end

    # Paginate a bulk job&#39;s per-record results
    # @param object [String] Object type
    # @param job_id [String] The bulk job id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by per-record result status (success, failed, duplicate)
    # @option opts [String] :cursor Opaque pagination cursor
    # @option opts [Integer] :limit Page size (default 100, max 1000)
    # @return [Array<(BulkRecordsResponse, Integer, Hash)>] BulkRecordsResponse data, response status code and response headers
    def bulk_get_job_records_with_http_info(object, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkApi.bulk_get_job_records ...'
      end
      # verify the required parameter 'object' is set
      if @api_client.config.client_side_validation && object.nil?
        fail ArgumentError, "Missing the required parameter 'object' when calling BulkApi.bulk_get_job_records"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling BulkApi.bulk_get_job_records"
      end
      # resource path
      local_var_path = '/bulk/{object}/{job_id}/records'.sub('{' + 'object' + '}', CGI.escape(object.to_s)).sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkRecordsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"BulkApi.bulk_get_job_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkApi#bulk_get_job_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List bulk jobs for the calling merchant
    # @param object [String] Object type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by job status
    # @option opts [String] :cursor Opaque pagination cursor
    # @option opts [Integer] :limit Page size (default 100, max 1000)
    # @return [BulkJobsResponse]
    def bulk_list_jobs(object, opts = {})
      data, _status_code, _headers = bulk_list_jobs_with_http_info(object, opts)
      data
    end

    # List bulk jobs for the calling merchant
    # @param object [String] Object type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by job status
    # @option opts [String] :cursor Opaque pagination cursor
    # @option opts [Integer] :limit Page size (default 100, max 1000)
    # @return [Array<(BulkJobsResponse, Integer, Hash)>] BulkJobsResponse data, response status code and response headers
    def bulk_list_jobs_with_http_info(object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkApi.bulk_list_jobs ...'
      end
      # verify the required parameter 'object' is set
      if @api_client.config.client_side_validation && object.nil?
        fail ArgumentError, "Missing the required parameter 'object' when calling BulkApi.bulk_list_jobs"
      end
      # resource path
      local_var_path = '/bulk/{object}'.sub('{' + 'object' + '}', CGI.escape(object.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkJobsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"BulkApi.bulk_list_jobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkApi#bulk_list_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit a bulk job
    # Submits a job referencing a previously uploaded NDJSON object. One active job per merchant; additional submissions queue. The bulk surface is write-only (insert / upsert); it has no bulk read or export operation. 
    # @param object [String] Object type
    # @param bulk_job [BulkJobRequest] Bulk job submission
    # @param [Hash] opts the optional parameters
    # @return [BulkJobResponse]
    def bulk_submit_job(object, bulk_job, opts = {})
      data, _status_code, _headers = bulk_submit_job_with_http_info(object, bulk_job, opts)
      data
    end

    # Submit a bulk job
    # Submits a job referencing a previously uploaded NDJSON object. One active job per merchant; additional submissions queue. The bulk surface is write-only (insert / upsert); it has no bulk read or export operation. 
    # @param object [String] Object type
    # @param bulk_job [BulkJobRequest] Bulk job submission
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkJobResponse, Integer, Hash)>] BulkJobResponse data, response status code and response headers
    def bulk_submit_job_with_http_info(object, bulk_job, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkApi.bulk_submit_job ...'
      end
      # verify the required parameter 'object' is set
      if @api_client.config.client_side_validation && object.nil?
        fail ArgumentError, "Missing the required parameter 'object' when calling BulkApi.bulk_submit_job"
      end
      # verify the required parameter 'bulk_job' is set
      if @api_client.config.client_side_validation && bulk_job.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_job' when calling BulkApi.bulk_submit_job"
      end
      # resource path
      local_var_path = '/bulk/{object}'.sub('{' + 'object' + '}', CGI.escape(object.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=UTF-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_job)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkJobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"BulkApi.bulk_submit_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkApi#bulk_submit_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
