=begin
#UltraCart Rest API V2

#UltraCart REST API Version 2

The version of the OpenAPI document: 2.0.0
Contact: support@ultracart.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1-SNAPSHOT

=end

require 'cgi'

module UltracartClient
  class ConversationEmbedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    def self.new_using_api_key(simple_key, verify_ssl = true, debugging = false)
      api_config = Configuration.new
      api_config.api_key_prefix['x-ultracart-simple-key'] = simple_key
      api_config.api_version = '2017-03-01'
      api_config.verify_ssl = verify_ssl

      api_client = ApiClient.new(api_config)
      api_client.config.debugging = debugging

      UltracartClient::ConversationEmbedApi.new(api_client)
    end

    # Initiate a device authorization flow for an embed widget.
    # RFC 8628 device authorization. Only the embed widget's client_id and the crm_embed scope are accepted. 
    # @param client_id [String] The embed widget OAuth client_id.
    # @param scope [String] The application-level scope (must be &#39;crm_embed&#39;).
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def embed_oauth_device_authorize(client_id, scope, opts = {})
      embed_oauth_device_authorize_with_http_info(client_id, scope, opts)
      nil
    end

    # Initiate a device authorization flow for an embed widget.
    # RFC 8628 device authorization. Only the embed widget&#39;s client_id and the crm_embed scope are accepted. 
    # @param client_id [String] The embed widget OAuth client_id.
    # @param scope [String] The application-level scope (must be &#39;crm_embed&#39;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def embed_oauth_device_authorize_with_http_info(client_id, scope, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationEmbedApi.embed_oauth_device_authorize ...'
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling ConversationEmbedApi.embed_oauth_device_authorize"
      end
      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling ConversationEmbedApi.embed_oauth_device_authorize"
      end
      # resource path
      local_var_path = '/conversation_embed/oauth/device/authorize'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['client_id'] = client_id
      form_params['scope'] = scope

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"ConversationEmbedApi.embed_oauth_device_authorize",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationEmbedApi#embed_oauth_device_authorize\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke an embed widget access or refresh token.
    # RFC 7009 style â€” the token itself is proof of possession. Accepts either an access token or a refresh token in the 'token' parameter. 
    # @param client_id [String] The embed widget OAuth client_id.
    # @param token [String] The token to revoke (access token or refresh token).
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def embed_oauth_revoke(client_id, token, opts = {})
      embed_oauth_revoke_with_http_info(client_id, token, opts)
      nil
    end

    # Revoke an embed widget access or refresh token.
    # RFC 7009 style â€” the token itself is proof of possession. Accepts either an access token or a refresh token in the &#39;token&#39; parameter. 
    # @param client_id [String] The embed widget OAuth client_id.
    # @param token [String] The token to revoke (access token or refresh token).
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def embed_oauth_revoke_with_http_info(client_id, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationEmbedApi.embed_oauth_revoke ...'
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling ConversationEmbedApi.embed_oauth_revoke"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling ConversationEmbedApi.embed_oauth_revoke"
      end
      # resource path
      local_var_path = '/conversation_embed/oauth/device/revoke'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['client_id'] = client_id
      form_params['token'] = token

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"ConversationEmbedApi.embed_oauth_revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationEmbedApi#embed_oauth_revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exchange a device_code or refresh_token for an access token (embed widget).
    # Accepts grant_type=urn:ietf:params:oauth:grant-type:device_code or grant_type=refresh_token. Other grant types are rejected. Access tokens issued here expire in 60 minutes. 
    # @param client_id [String] The embed widget OAuth client_id.
    # @param grant_type [String] Grant type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_code The device code received from /oauth/device/authorize (required for device_code grant).
    # @option opts [String] :refresh_token The refresh token (required for refresh_token grant).
    # @return [nil]
    def embed_oauth_token(client_id, grant_type, opts = {})
      embed_oauth_token_with_http_info(client_id, grant_type, opts)
      nil
    end

    # Exchange a device_code or refresh_token for an access token (embed widget).
    # Accepts grant_type&#x3D;urn:ietf:params:oauth:grant-type:device_code or grant_type&#x3D;refresh_token. Other grant types are rejected. Access tokens issued here expire in 60 minutes. 
    # @param client_id [String] The embed widget OAuth client_id.
    # @param grant_type [String] Grant type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_code The device code received from /oauth/device/authorize (required for device_code grant).
    # @option opts [String] :refresh_token The refresh token (required for refresh_token grant).
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def embed_oauth_token_with_http_info(client_id, grant_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationEmbedApi.embed_oauth_token ...'
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling ConversationEmbedApi.embed_oauth_token"
      end
      # verify the required parameter 'grant_type' is set
      if @api_client.config.client_side_validation && grant_type.nil?
        fail ArgumentError, "Missing the required parameter 'grant_type' when calling ConversationEmbedApi.embed_oauth_token"
      end
      # resource path
      local_var_path = '/conversation_embed/oauth/device/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['client_id'] = client_id
      form_params['grant_type'] = grant_type
      form_params['device_code'] = opts[:'device_code'] if !opts[:'device_code'].nil?
      form_params['refresh_token'] = opts[:'refresh_token'] if !opts[:'refresh_token'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"ConversationEmbedApi.embed_oauth_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationEmbedApi#embed_oauth_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get PBX authorization for the embedded softphone widget.
    # Returns a narrow subset of agent auth fields â€” only what the softphone widget needs to connect to the PBX relay. Twilio tokens, conversation JWTs, and chat/customer permissions are intentionally excluded. 
    # @param [Hash] opts the optional parameters
    # @return [ConversationEmbedPbxAuthResponse]
    def get_embed_pbx_auth(opts = {})
      data, _status_code, _headers = get_embed_pbx_auth_with_http_info(opts)
      data
    end

    # Get PBX authorization for the embedded softphone widget.
    # Returns a narrow subset of agent auth fields â€” only what the softphone widget needs to connect to the PBX relay. Twilio tokens, conversation JWTs, and chat/customer permissions are intentionally excluded. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationEmbedPbxAuthResponse, Integer, Hash)>] ConversationEmbedPbxAuthResponse data, response status code and response headers
    def get_embed_pbx_auth_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationEmbedApi.get_embed_pbx_auth ...'
      end
      # resource path
      local_var_path = '/conversation_embed/pbx-auth'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConversationEmbedPbxAuthResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth']

      new_options = opts.merge(
        :operation => :"ConversationEmbedApi.get_embed_pbx_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationEmbedApi#get_embed_pbx_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
