=begin
#UltraCart Rest API V2

#UltraCart REST API Version 2

OpenAPI spec version: 2.0.0
Contact: support@ultracart.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15-SNAPSHOT

=end

require 'addressable/uri'

module UltracartClient
  class ConversationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    def self.new_using_api_key(simple_key, verify_ssl = true, debugging = false)
      api_config = Configuration.new
      api_config.api_key_prefix['x-ultracart-simple-key'] = simple_key
      api_config.api_version = '2017-03-01'
      api_config.verify_ssl = verify_ssl

      api_client = ApiClient.new(api_config)
      api_client.config.debugging = debugging

      UltracartClient::ConversationApi.new(api_client)
    end

    # Delete a conversation canned message
    # Delete a conversation canned message 
    # @param conversation_canned_message_oid 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_conversation_canned_message(conversation_canned_message_oid, opts = {})
      delete_conversation_canned_message_with_http_info(conversation_canned_message_oid, opts)
      nil
    end

    # Delete a conversation canned message
    # Delete a conversation canned message 
    # @param conversation_canned_message_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_conversation_canned_message_with_http_info(conversation_canned_message_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_conversation_canned_message ...'
      end
      # verify the required parameter 'conversation_canned_message_oid' is set
      if @api_client.config.client_side_validation && conversation_canned_message_oid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_canned_message_oid' when calling ConversationApi.delete_conversation_canned_message"
      end
      # resource path
      local_var_path = '/conversation/canned_messages/{conversation_canned_message_oid}'.sub('{' + 'conversation_canned_message_oid' + '}', conversation_canned_message_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_conversation_canned_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a conversation department
    # Delete a conversation department 
    # @param conversation_department_oid 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_department(conversation_department_oid, opts = {})
      delete_department_with_http_info(conversation_department_oid, opts)
      nil
    end

    # Delete a conversation department
    # Delete a conversation department 
    # @param conversation_department_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_department_with_http_info(conversation_department_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_department ...'
      end
      # verify the required parameter 'conversation_department_oid' is set
      if @api_client.config.client_side_validation && conversation_department_oid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_department_oid' when calling ConversationApi.delete_department"
      end
      # resource path
      local_var_path = '/conversation/departments/{conversation_department_oid}'.sub('{' + 'conversation_department_oid' + '}', conversation_department_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_department\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a conversation engagement
    # Delete a conversation engagement 
    # @param conversation_engagement_oid 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_engagement(conversation_engagement_oid, opts = {})
      delete_engagement_with_http_info(conversation_engagement_oid, opts)
      nil
    end

    # Delete a conversation engagement
    # Delete a conversation engagement 
    # @param conversation_engagement_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_engagement_with_http_info(conversation_engagement_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_engagement ...'
      end
      # verify the required parameter 'conversation_engagement_oid' is set
      if @api_client.config.client_side_validation && conversation_engagement_oid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_engagement_oid' when calling ConversationApi.delete_engagement"
      end
      # resource path
      local_var_path = '/conversation/engagements/{conversation_engagement_oid}'.sub('{' + 'conversation_engagement_oid' + '}', conversation_engagement_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_engagement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete pbx agent
    # Delete a pbx agent 
    # @param conversation_pbx_agent_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxAgentResponse]
    def delete_pbx_agent(conversation_pbx_agent_uuid, opts = {})
      data, _status_code, _headers = delete_pbx_agent_with_http_info(conversation_pbx_agent_uuid, opts)
      data
    end

    # Delete pbx agent
    # Delete a pbx agent 
    # @param conversation_pbx_agent_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxAgentResponse, Fixnum, Hash)>] ConversationPbxAgentResponse data, response status code and response headers
    def delete_pbx_agent_with_http_info(conversation_pbx_agent_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_pbx_agent ...'
      end
      # verify the required parameter 'conversation_pbx_agent_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_agent_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_agent_uuid' when calling ConversationApi.delete_pbx_agent"
      end
      # resource path
      local_var_path = '/conversation/pbx/agent/{conversationPbxAgentUuid}'.sub('{' + 'conversationPbxAgentUuid' + '}', conversation_pbx_agent_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxAgentResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_pbx_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete pbx audio
    # Delete a pbx audio 
    # @param conversation_pbx_audio_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxAudioResponse]
    def delete_pbx_audio(conversation_pbx_audio_uuid, opts = {})
      data, _status_code, _headers = delete_pbx_audio_with_http_info(conversation_pbx_audio_uuid, opts)
      data
    end

    # Delete pbx audio
    # Delete a pbx audio 
    # @param conversation_pbx_audio_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxAudioResponse, Fixnum, Hash)>] ConversationPbxAudioResponse data, response status code and response headers
    def delete_pbx_audio_with_http_info(conversation_pbx_audio_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_pbx_audio ...'
      end
      # verify the required parameter 'conversation_pbx_audio_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_audio_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_audio_uuid' when calling ConversationApi.delete_pbx_audio"
      end
      # resource path
      local_var_path = '/conversation/pbx/audio/{conversationPbxAudioUuid}'.sub('{' + 'conversationPbxAudioUuid' + '}', conversation_pbx_audio_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxAudioResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_pbx_audio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete pbx menu
    # Delete a pbx menu 
    # @param conversation_pbx_menu_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxMenuResponse]
    def delete_pbx_menu(conversation_pbx_menu_uuid, opts = {})
      data, _status_code, _headers = delete_pbx_menu_with_http_info(conversation_pbx_menu_uuid, opts)
      data
    end

    # Delete pbx menu
    # Delete a pbx menu 
    # @param conversation_pbx_menu_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxMenuResponse, Fixnum, Hash)>] ConversationPbxMenuResponse data, response status code and response headers
    def delete_pbx_menu_with_http_info(conversation_pbx_menu_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_pbx_menu ...'
      end
      # verify the required parameter 'conversation_pbx_menu_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_menu_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_menu_uuid' when calling ConversationApi.delete_pbx_menu"
      end
      # resource path
      local_var_path = '/conversation/pbx/menu/{conversationPbxMenuUuid}'.sub('{' + 'conversationPbxMenuUuid' + '}', conversation_pbx_menu_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxMenuResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_pbx_menu\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete pbx phoneNumber
    # Delete a pbx phoneNumber 
    # @param conversation_pbx_phone_number_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxPhoneNumberResponse]
    def delete_pbx_phone_number(conversation_pbx_phone_number_uuid, opts = {})
      data, _status_code, _headers = delete_pbx_phone_number_with_http_info(conversation_pbx_phone_number_uuid, opts)
      data
    end

    # Delete pbx phoneNumber
    # Delete a pbx phoneNumber 
    # @param conversation_pbx_phone_number_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxPhoneNumberResponse, Fixnum, Hash)>] ConversationPbxPhoneNumberResponse data, response status code and response headers
    def delete_pbx_phone_number_with_http_info(conversation_pbx_phone_number_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_pbx_phone_number ...'
      end
      # verify the required parameter 'conversation_pbx_phone_number_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_phone_number_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_phone_number_uuid' when calling ConversationApi.delete_pbx_phone_number"
      end
      # resource path
      local_var_path = '/conversation/pbx/phone_number/{conversationPbxPhoneNumberUuid}'.sub('{' + 'conversationPbxPhoneNumberUuid' + '}', conversation_pbx_phone_number_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxPhoneNumberResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_pbx_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete pbx queue
    # Delete a pbx queue 
    # @param conversation_pbx_queue_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxQueueResponse]
    def delete_pbx_queue(conversation_pbx_queue_uuid, opts = {})
      data, _status_code, _headers = delete_pbx_queue_with_http_info(conversation_pbx_queue_uuid, opts)
      data
    end

    # Delete pbx queue
    # Delete a pbx queue 
    # @param conversation_pbx_queue_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxQueueResponse, Fixnum, Hash)>] ConversationPbxQueueResponse data, response status code and response headers
    def delete_pbx_queue_with_http_info(conversation_pbx_queue_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_pbx_queue ...'
      end
      # verify the required parameter 'conversation_pbx_queue_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_queue_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_queue_uuid' when calling ConversationApi.delete_pbx_queue"
      end
      # resource path
      local_var_path = '/conversation/pbx/queue/{conversationPbxQueueUuid}'.sub('{' + 'conversationPbxQueueUuid' + '}', conversation_pbx_queue_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxQueueResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_pbx_queue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete pbx timeBased
    # Delete a pbx timeBased 
    # @param conversation_pbx_time_based_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxTimeBasedResponse]
    def delete_pbx_time_based(conversation_pbx_time_based_uuid, opts = {})
      data, _status_code, _headers = delete_pbx_time_based_with_http_info(conversation_pbx_time_based_uuid, opts)
      data
    end

    # Delete pbx timeBased
    # Delete a pbx timeBased 
    # @param conversation_pbx_time_based_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxTimeBasedResponse, Fixnum, Hash)>] ConversationPbxTimeBasedResponse data, response status code and response headers
    def delete_pbx_time_based_with_http_info(conversation_pbx_time_based_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_pbx_time_based ...'
      end
      # verify the required parameter 'conversation_pbx_time_based_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_time_based_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_time_based_uuid' when calling ConversationApi.delete_pbx_time_based"
      end
      # resource path
      local_var_path = '/conversation/pbx/time_based/{conversationPbxTimeBasedUuid}'.sub('{' + 'conversationPbxTimeBasedUuid' + '}', conversation_pbx_time_based_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxTimeBasedResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_pbx_time_based\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete pbx timeRange
    # Delete a pbx timeRange 
    # @param conversation_pbx_time_range_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxTimeRangeResponse]
    def delete_pbx_time_range(conversation_pbx_time_range_uuid, opts = {})
      data, _status_code, _headers = delete_pbx_time_range_with_http_info(conversation_pbx_time_range_uuid, opts)
      data
    end

    # Delete pbx timeRange
    # Delete a pbx timeRange 
    # @param conversation_pbx_time_range_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxTimeRangeResponse, Fixnum, Hash)>] ConversationPbxTimeRangeResponse data, response status code and response headers
    def delete_pbx_time_range_with_http_info(conversation_pbx_time_range_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_pbx_time_range ...'
      end
      # verify the required parameter 'conversation_pbx_time_range_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_time_range_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_time_range_uuid' when calling ConversationApi.delete_pbx_time_range"
      end
      # resource path
      local_var_path = '/conversation/pbx/time_range/{conversationPbxTimeRangeUuid}'.sub('{' + 'conversationPbxTimeRangeUuid' + '}', conversation_pbx_time_range_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxTimeRangeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_pbx_time_range\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete pbx voicemailMailbox
    # Delete a pbx voicemailMailbox 
    # @param conversation_pbx_voicemail_mailbox_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxVoicemailMailboxResponse]
    def delete_pbx_voicemail_mailbox(conversation_pbx_voicemail_mailbox_uuid, opts = {})
      data, _status_code, _headers = delete_pbx_voicemail_mailbox_with_http_info(conversation_pbx_voicemail_mailbox_uuid, opts)
      data
    end

    # Delete pbx voicemailMailbox
    # Delete a pbx voicemailMailbox 
    # @param conversation_pbx_voicemail_mailbox_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxVoicemailMailboxResponse, Fixnum, Hash)>] ConversationPbxVoicemailMailboxResponse data, response status code and response headers
    def delete_pbx_voicemail_mailbox_with_http_info(conversation_pbx_voicemail_mailbox_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.delete_pbx_voicemail_mailbox ...'
      end
      # verify the required parameter 'conversation_pbx_voicemail_mailbox_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_voicemail_mailbox_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_voicemail_mailbox_uuid' when calling ConversationApi.delete_pbx_voicemail_mailbox"
      end
      # resource path
      local_var_path = '/conversation/pbx/voicemail_mailbox/{conversationPbxVoicemailMailboxUuid}'.sub('{' + 'conversationPbxVoicemailMailboxUuid' + '}', conversation_pbx_voicemail_mailbox_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxVoicemailMailboxResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#delete_pbx_voicemail_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Agent keep alive
    # Called periodically by the conversation API to keep the session alive. 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_agent_keep_alive(opts = {})
      get_agent_keep_alive_with_http_info(opts)
      nil
    end

    # Agent keep alive
    # Called periodically by the conversation API to keep the session alive. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_agent_keep_alive_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_agent_keep_alive ...'
      end
      # resource path
      local_var_path = '/conversation/agent/keepalive'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_agent_keep_alive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get agent profile
    # Retrieve the agents profile 
    # @param [Hash] opts the optional parameters
    # @return [ConversationAgentProfileResponse]
    def get_agent_profile(opts = {})
      data, _status_code, _headers = get_agent_profile_with_http_info(opts)
      data
    end

    # Get agent profile
    # Retrieve the agents profile 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationAgentProfileResponse, Fixnum, Hash)>] ConversationAgentProfileResponse data, response status code and response headers
    def get_agent_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_agent_profile ...'
      end
      # resource path
      local_var_path = '/conversation/agent/profile'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationAgentProfileResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_agent_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get agent websocket authorization
    # Retrieve a JWT to authorize an agent to make a websocket connection. 
    # @param [Hash] opts the optional parameters
    # @return [ConversationAgentAuthResponse]
    def get_agent_websocket_authorization(opts = {})
      data, _status_code, _headers = get_agent_websocket_authorization_with_http_info(opts)
      data
    end

    # Get agent websocket authorization
    # Retrieve a JWT to authorize an agent to make a websocket connection. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationAgentAuthResponse, Fixnum, Hash)>] ConversationAgentAuthResponse data, response status code and response headers
    def get_agent_websocket_authorization_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_agent_websocket_authorization ...'
      end
      # resource path
      local_var_path = '/conversation/agent/auth'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationAgentAuthResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_agent_websocket_authorization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a conversation
    # Retrieve a conversation including the participants and messages 
    # @param conversation_uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [ConversationResponse]
    def get_conversation(conversation_uuid, opts = {})
      data, _status_code, _headers = get_conversation_with_http_info(conversation_uuid, opts)
      data
    end

    # Retrieve a conversation
    # Retrieve a conversation including the participants and messages 
    # @param conversation_uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [Array<(ConversationResponse, Fixnum, Hash)>] ConversationResponse data, response status code and response headers
    def get_conversation_with_http_info(conversation_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation ...'
      end
      # verify the required parameter 'conversation_uuid' is set
      if @api_client.config.client_side_validation && conversation_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_uuid' when calling ConversationApi.get_conversation"
      end
      # resource path
      local_var_path = '/conversation/conversations/{conversation_uuid}'.sub('{' + 'conversation_uuid' + '}', conversation_uuid.to_s)

      # query parameters
      query_params = {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a list of canned messages ordered by short_code
    # Retrieve a list of canned messages ordered by short_code 
    # @param [Hash] opts the optional parameters
    # @return [ConversationCannedMessagesResponse]
    def get_conversation_canned_messages(opts = {})
      data, _status_code, _headers = get_conversation_canned_messages_with_http_info(opts)
      data
    end

    # Retrieve a list of canned messages ordered by short_code
    # Retrieve a list of canned messages ordered by short_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationCannedMessagesResponse, Fixnum, Hash)>] ConversationCannedMessagesResponse data, response status code and response headers
    def get_conversation_canned_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_canned_messages ...'
      end
      # resource path
      local_var_path = '/conversation/canned_messages'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationCannedMessagesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_canned_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a webchat conversation context
    # Get a webchat conversation context 
    # @param conversation_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationWebchatContext]
    def get_conversation_context(conversation_uuid, opts = {})
      data, _status_code, _headers = get_conversation_context_with_http_info(conversation_uuid, opts)
      data
    end

    # Get a webchat conversation context
    # Get a webchat conversation context 
    # @param conversation_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationWebchatContext, Fixnum, Hash)>] ConversationWebchatContext data, response status code and response headers
    def get_conversation_context_with_http_info(conversation_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_context ...'
      end
      # verify the required parameter 'conversation_uuid' is set
      if @api_client.config.client_side_validation && conversation_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_uuid' when calling ConversationApi.get_conversation_context"
      end
      # resource path
      local_var_path = '/conversation/conversations/{conversation_uuid}/context'.sub('{' + 'conversation_uuid' + '}', conversation_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationWebchatContext')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_context\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a list of possible department members
    # Retrieve a list of possible department members 
    # @param [Hash] opts the optional parameters
    # @return [ConversationDepartmentMembersResponse]
    def get_conversation_department_member_list(opts = {})
      data, _status_code, _headers = get_conversation_department_member_list_with_http_info(opts)
      data
    end

    # Retrieve a list of possible department members
    # Retrieve a list of possible department members 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationDepartmentMembersResponse, Fixnum, Hash)>] ConversationDepartmentMembersResponse data, response status code and response headers
    def get_conversation_department_member_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_department_member_list ...'
      end
      # resource path
      local_var_path = '/conversation/department_members'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationDepartmentMembersResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_department_member_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a list of departments ordered by name
    # Retrieve a list of departments ordered by name 
    # @param [Hash] opts the optional parameters
    # @return [ConversationDepartmentsResponse]
    def get_conversation_departments(opts = {})
      data, _status_code, _headers = get_conversation_departments_with_http_info(opts)
      data
    end

    # Retrieve a list of departments ordered by name
    # Retrieve a list of departments ordered by name 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationDepartmentsResponse, Fixnum, Hash)>] ConversationDepartmentsResponse data, response status code and response headers
    def get_conversation_departments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_departments ...'
      end
      # resource path
      local_var_path = '/conversation/departments'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationDepartmentsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_departments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve an engagement
    # Retrieve an engagement 
    # @param conversation_engagement_oid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationEngagementResponse]
    def get_conversation_engagement(conversation_engagement_oid, opts = {})
      data, _status_code, _headers = get_conversation_engagement_with_http_info(conversation_engagement_oid, opts)
      data
    end

    # Retrieve an engagement
    # Retrieve an engagement 
    # @param conversation_engagement_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationEngagementResponse, Fixnum, Hash)>] ConversationEngagementResponse data, response status code and response headers
    def get_conversation_engagement_with_http_info(conversation_engagement_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_engagement ...'
      end
      # verify the required parameter 'conversation_engagement_oid' is set
      if @api_client.config.client_side_validation && conversation_engagement_oid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_engagement_oid' when calling ConversationApi.get_conversation_engagement"
      end
      # resource path
      local_var_path = '/conversation/engagements/{conversation_engagement_oid}'.sub('{' + 'conversation_engagement_oid' + '}', conversation_engagement_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationEngagementResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_engagement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a list of engagements ordered by name
    # Retrieve a list of engagements ordered by name 
    # @param [Hash] opts the optional parameters
    # @return [ConversationEngagementsResponse]
    def get_conversation_engagements(opts = {})
      data, _status_code, _headers = get_conversation_engagements_with_http_info(opts)
      data
    end

    # Retrieve a list of engagements ordered by name
    # Retrieve a list of engagements ordered by name 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationEngagementsResponse, Fixnum, Hash)>] ConversationEngagementsResponse data, response status code and response headers
    def get_conversation_engagements_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_engagements ...'
      end
      # resource path
      local_var_path = '/conversation/engagements'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationEngagementsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_engagements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve conversation messages
    # Retrieve conversation messages since a particular time 
    # @param conversation_uuid 
    # @param since 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [ConversationMessagesResponse]
    def get_conversation_messages(conversation_uuid, since, opts = {})
      data, _status_code, _headers = get_conversation_messages_with_http_info(conversation_uuid, since, opts)
      data
    end

    # Retrieve conversation messages
    # Retrieve conversation messages since a particular time 
    # @param conversation_uuid 
    # @param since 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @return [Array<(ConversationMessagesResponse, Fixnum, Hash)>] ConversationMessagesResponse data, response status code and response headers
    def get_conversation_messages_with_http_info(conversation_uuid, since, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_messages ...'
      end
      # verify the required parameter 'conversation_uuid' is set
      if @api_client.config.client_side_validation && conversation_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_uuid' when calling ConversationApi.get_conversation_messages"
      end
      # verify the required parameter 'since' is set
      if @api_client.config.client_side_validation && since.nil?
        fail ArgumentError, "Missing the required parameter 'since' when calling ConversationApi.get_conversation_messages"
      end
      # resource path
      local_var_path = '/conversation/conversations/{conversation_uuid}/messages/{since}'.sub('{' + 'conversation_uuid' + '}', conversation_uuid.to_s).sub('{' + 'since' + '}', since.to_s)

      # query parameters
      query_params = {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationMessagesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a presigned conversation multimedia upload URL
    # Get a presigned conversation multimedia upload URL 
    # @param extension 
    # @param [Hash] opts the optional parameters
    # @return [ConversationMultimediaUploadUrlResponse]
    def get_conversation_multimedia_upload_url(extension, opts = {})
      data, _status_code, _headers = get_conversation_multimedia_upload_url_with_http_info(extension, opts)
      data
    end

    # Get a presigned conversation multimedia upload URL
    # Get a presigned conversation multimedia upload URL 
    # @param extension 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationMultimediaUploadUrlResponse, Fixnum, Hash)>] ConversationMultimediaUploadUrlResponse data, response status code and response headers
    def get_conversation_multimedia_upload_url_with_http_info(extension, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_multimedia_upload_url ...'
      end
      # verify the required parameter 'extension' is set
      if @api_client.config.client_side_validation && extension.nil?
        fail ArgumentError, "Missing the required parameter 'extension' when calling ConversationApi.get_conversation_multimedia_upload_url"
      end
      # resource path
      local_var_path = '/conversation/upload_url/{extension}'.sub('{' + 'extension' + '}', extension.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationMultimediaUploadUrlResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_multimedia_upload_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a pre-signed conversation multimedia upload URL
    # Get a pre-signed conversation multimedia upload URL 
    # @param extension 
    # @param [Hash] opts the optional parameters
    # @return [ConversationMultimediaUploadUrlResponse]
    def get_conversation_pbx_audio_upload_url(extension, opts = {})
      data, _status_code, _headers = get_conversation_pbx_audio_upload_url_with_http_info(extension, opts)
      data
    end

    # Get a pre-signed conversation multimedia upload URL
    # Get a pre-signed conversation multimedia upload URL 
    # @param extension 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationMultimediaUploadUrlResponse, Fixnum, Hash)>] ConversationMultimediaUploadUrlResponse data, response status code and response headers
    def get_conversation_pbx_audio_upload_url_with_http_info(extension, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_pbx_audio_upload_url ...'
      end
      # verify the required parameter 'extension' is set
      if @api_client.config.client_side_validation && extension.nil?
        fail ArgumentError, "Missing the required parameter 'extension' when calling ConversationApi.get_conversation_pbx_audio_upload_url"
      end
      # resource path
      local_var_path = '/conversation/pbx/audio/upload_url/{extension}'.sub('{' + 'extension' + '}', extension.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationMultimediaUploadUrlResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_pbx_audio_upload_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get orders and customer information for a phone number
    # Retrieves all the orders, auto orders, and customer profile for a given phone number 
    # @param pbx_customer_snapshot_request Conversation pbx customer snapshot request
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxCustomerSnapshotResponse]
    def get_conversation_pbx_customer_snapshot(pbx_customer_snapshot_request, opts = {})
      data, _status_code, _headers = get_conversation_pbx_customer_snapshot_with_http_info(pbx_customer_snapshot_request, opts)
      data
    end

    # Get orders and customer information for a phone number
    # Retrieves all the orders, auto orders, and customer profile for a given phone number 
    # @param pbx_customer_snapshot_request Conversation pbx customer snapshot request
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxCustomerSnapshotResponse, Fixnum, Hash)>] ConversationPbxCustomerSnapshotResponse data, response status code and response headers
    def get_conversation_pbx_customer_snapshot_with_http_info(pbx_customer_snapshot_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_pbx_customer_snapshot ...'
      end
      # verify the required parameter 'pbx_customer_snapshot_request' is set
      if @api_client.config.client_side_validation && pbx_customer_snapshot_request.nil?
        fail ArgumentError, "Missing the required parameter 'pbx_customer_snapshot_request' when calling ConversationApi.get_conversation_pbx_customer_snapshot"
      end
      # resource path
      local_var_path = '/conversation/pbx/customer_snapshot'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(pbx_customer_snapshot_request)
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxCustomerSnapshotResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_pbx_customer_snapshot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve conversation permissions
    # Retrieve conversation permissions 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPermissionsResponse]
    def get_conversation_permissions(opts = {})
      data, _status_code, _headers = get_conversation_permissions_with_http_info(opts)
      data
    end

    # Retrieve conversation permissions
    # Retrieve conversation permissions 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPermissionsResponse, Fixnum, Hash)>] ConversationPermissionsResponse data, response status code and response headers
    def get_conversation_permissions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_permissions ...'
      end
      # resource path
      local_var_path = '/conversation/permissions'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPermissionsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a conversation webchat queue statuses
    # Retrieve a conversation webchat queue statuses including agent status and queue entries 
    # @param [Hash] opts the optional parameters
    # @return [ConversationWebchatQueueStatusesResponse]
    def get_conversation_webchat_queue_statuses(opts = {})
      data, _status_code, _headers = get_conversation_webchat_queue_statuses_with_http_info(opts)
      data
    end

    # Retrieve a conversation webchat queue statuses
    # Retrieve a conversation webchat queue statuses including agent status and queue entries 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationWebchatQueueStatusesResponse, Fixnum, Hash)>] ConversationWebchatQueueStatusesResponse data, response status code and response headers
    def get_conversation_webchat_queue_statuses_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversation_webchat_queue_statuses ...'
      end
      # resource path
      local_var_path = '/conversation/conversations/queues/statuses'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationWebchatQueueStatusesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversation_webchat_queue_statuses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a list of conversation summaries newest to oldest
    # Retrieve a list of conversation summaries that are ordered newest to oldest, include the most recent message and whether its been read. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :medium 
    # @option opts [String] :before 
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Max 200) (default to 100)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @return [ConversationsResponse]
    def get_conversations(opts = {})
      data, _status_code, _headers = get_conversations_with_http_info(opts)
      data
    end

    # Retrieve a list of conversation summaries newest to oldest
    # Retrieve a list of conversation summaries that are ordered newest to oldest, include the most recent message and whether its been read. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :medium 
    # @option opts [String] :before 
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Max 200)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index.
    # @return [Array<(ConversationsResponse, Fixnum, Hash)>] ConversationsResponse data, response status code and response headers
    def get_conversations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversations ...'
      end
      # resource path
      local_var_path = '/conversation/conversations'

      # query parameters
      query_params = {}
      query_params[:'medium'] = opts[:'medium'] if !opts[:'medium'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'_limit'] = opts[:'_limit'] if !opts[:'_limit'].nil?
      query_params[:'_offset'] = opts[:'_offset'] if !opts[:'_offset'].nil?

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a list of matching terms for a search field
    # Retrieve a list of matching terms for a search field 
    # @param autocomplete_request Autocomplete Request
    # @param [Hash] opts the optional parameters
    # @return [ConversationAutocompleteResponse]
    def get_conversations_autocomplete(autocomplete_request, opts = {})
      data, _status_code, _headers = get_conversations_autocomplete_with_http_info(autocomplete_request, opts)
      data
    end

    # Retrieve a list of matching terms for a search field
    # Retrieve a list of matching terms for a search field 
    # @param autocomplete_request Autocomplete Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationAutocompleteResponse, Fixnum, Hash)>] ConversationAutocompleteResponse data, response status code and response headers
    def get_conversations_autocomplete_with_http_info(autocomplete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversations_autocomplete ...'
      end
      # verify the required parameter 'autocomplete_request' is set
      if @api_client.config.client_side_validation && autocomplete_request.nil?
        fail ArgumentError, "Missing the required parameter 'autocomplete_request' when calling ConversationApi.get_conversations_autocomplete"
      end
      # resource path
      local_var_path = '/conversation/conversations/autocomplete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(autocomplete_request)
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationAutocompleteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversations_autocomplete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Search conversations
    # Search conversations 
    # @param search_request Search Request
    # @param [Hash] opts the optional parameters
    # @return [ConversationSearchResponse]
    def get_conversations_search(search_request, opts = {})
      data, _status_code, _headers = get_conversations_search_with_http_info(search_request, opts)
      data
    end

    # Search conversations
    # Search conversations 
    # @param search_request Search Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationSearchResponse, Fixnum, Hash)>] ConversationSearchResponse data, response status code and response headers
    def get_conversations_search_with_http_info(search_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_conversations_search ...'
      end
      # verify the required parameter 'search_request' is set
      if @api_client.config.client_side_validation && search_request.nil?
        fail ArgumentError, "Missing the required parameter 'search_request' when calling ConversationApi.get_conversations_search"
      end
      # resource path
      local_var_path = '/conversation/conversations/search'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(search_request)
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationSearchResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_conversations_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get location data for engagement configuration
    # Get location data for engagement configuration 
    # @param [Hash] opts the optional parameters
    # @return [ConversationLocationsResponse]
    def get_locations_for_engagement(opts = {})
      data, _status_code, _headers = get_locations_for_engagement_with_http_info(opts)
      data
    end

    # Get location data for engagement configuration
    # Get location data for engagement configuration 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationLocationsResponse, Fixnum, Hash)>] ConversationLocationsResponse data, response status code and response headers
    def get_locations_for_engagement_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_locations_for_engagement ...'
      end
      # resource path
      local_var_path = '/conversation/locations'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationLocationsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_locations_for_engagement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx agent
    # Retrieve a pbx agent 
    # @param conversation_pbx_agent_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxAgentResponse]
    def get_pbx_agent(conversation_pbx_agent_uuid, opts = {})
      data, _status_code, _headers = get_pbx_agent_with_http_info(conversation_pbx_agent_uuid, opts)
      data
    end

    # Get pbx agent
    # Retrieve a pbx agent 
    # @param conversation_pbx_agent_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxAgentResponse, Fixnum, Hash)>] ConversationPbxAgentResponse data, response status code and response headers
    def get_pbx_agent_with_http_info(conversation_pbx_agent_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_pbx_agent ...'
      end
      # verify the required parameter 'conversation_pbx_agent_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_agent_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_agent_uuid' when calling ConversationApi.get_pbx_agent"
      end
      # resource path
      local_var_path = '/conversation/pbx/agent/{conversationPbxAgentUuid}'.sub('{' + 'conversationPbxAgentUuid' + '}', conversation_pbx_agent_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxAgentResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_pbx_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx agents
    # Retrieve pbx agents 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxAgentsResponse]
    def get_pbx_agents(opts = {})
      data, _status_code, _headers = get_pbx_agents_with_http_info(opts)
      data
    end

    # Get pbx agents
    # Retrieve pbx agents 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxAgentsResponse, Fixnum, Hash)>] ConversationPbxAgentsResponse data, response status code and response headers
    def get_pbx_agents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_pbx_agents ...'
      end
      # resource path
      local_var_path = '/conversation/pbx/agent'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxAgentsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_pbx_agents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx audio
    # Retrieve a pbx audio 
    # @param conversation_pbx_audio_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxAudioResponse]
    def get_pbx_audio(conversation_pbx_audio_uuid, opts = {})
      data, _status_code, _headers = get_pbx_audio_with_http_info(conversation_pbx_audio_uuid, opts)
      data
    end

    # Get pbx audio
    # Retrieve a pbx audio 
    # @param conversation_pbx_audio_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxAudioResponse, Fixnum, Hash)>] ConversationPbxAudioResponse data, response status code and response headers
    def get_pbx_audio_with_http_info(conversation_pbx_audio_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_pbx_audio ...'
      end
      # verify the required parameter 'conversation_pbx_audio_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_audio_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_audio_uuid' when calling ConversationApi.get_pbx_audio"
      end
      # resource path
      local_var_path = '/conversation/pbx/audio/{conversationPbxAudioUuid}'.sub('{' + 'conversationPbxAudioUuid' + '}', conversation_pbx_audio_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxAudioResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_pbx_audio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx audios
    # Retrieve pbx audios 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxAudiosResponse]
    def get_pbx_audios(opts = {})
      data, _status_code, _headers = get_pbx_audios_with_http_info(opts)
      data
    end

    # Get pbx audios
    # Retrieve pbx audios 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxAudiosResponse, Fixnum, Hash)>] ConversationPbxAudiosResponse data, response status code and response headers
    def get_pbx_audios_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_pbx_audios ...'
      end
      # resource path
      local_var_path = '/conversation/pbx/audio'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxAudiosResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_pbx_audios\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx menu
    # Retrieve a pbx menu 
    # @param conversation_pbx_menu_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxMenuResponse]
    def get_pbx_menu(conversation_pbx_menu_uuid, opts = {})
      data, _status_code, _headers = get_pbx_menu_with_http_info(conversation_pbx_menu_uuid, opts)
      data
    end

    # Get pbx menu
    # Retrieve a pbx menu 
    # @param conversation_pbx_menu_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxMenuResponse, Fixnum, Hash)>] ConversationPbxMenuResponse data, response status code and response headers
    def get_pbx_menu_with_http_info(conversation_pbx_menu_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_pbx_menu ...'
      end
      # verify the required parameter 'conversation_pbx_menu_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_menu_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_menu_uuid' when calling ConversationApi.get_pbx_menu"
      end
      # resource path
      local_var_path = '/conversation/pbx/menu/{conversationPbxMenuUuid}'.sub('{' + 'conversationPbxMenuUuid' + '}', conversation_pbx_menu_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxMenuResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_pbx_menu\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx menus
    # Retrieve pbx menus 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxMenusResponse]
    def get_pbx_menus(opts = {})
      data, _status_code, _headers = get_pbx_menus_with_http_info(opts)
      data
    end

    # Get pbx menus
    # Retrieve pbx menus 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxMenusResponse, Fixnum, Hash)>] ConversationPbxMenusResponse data, response status code and response headers
    def get_pbx_menus_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_pbx_menus ...'
      end
      # resource path
      local_var_path = '/conversation/pbx/menu'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxMenusResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_pbx_menus\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx phoneNumber
    # Retrieve a pbx phoneNumber 
    # @param conversation_pbx_phone_number_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxPhoneNumberResponse]
    def get_pbx_phone_number(conversation_pbx_phone_number_uuid, opts = {})
      data, _status_code, _headers = get_pbx_phone_number_with_http_info(conversation_pbx_phone_number_uuid, opts)
      data
    end

    # Get pbx phoneNumber
    # Retrieve a pbx phoneNumber 
    # @param conversation_pbx_phone_number_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxPhoneNumberResponse, Fixnum, Hash)>] ConversationPbxPhoneNumberResponse data, response status code and response headers
    def get_pbx_phone_number_with_http_info(conversation_pbx_phone_number_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_pbx_phone_number ...'
      end
      # verify the required parameter 'conversation_pbx_phone_number_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_phone_number_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_phone_number_uuid' when calling ConversationApi.get_pbx_phone_number"
      end
      # resource path
      local_var_path = '/conversation/pbx/phone_number/{conversationPbxPhoneNumberUuid}'.sub('{' + 'conversationPbxPhoneNumberUuid' + '}', conversation_pbx_phone_number_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxPhoneNumberResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_pbx_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx phoneNumbers
    # Retrieve pbx phoneNumbers 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxPhoneNumbersResponse]
    def get_pbx_phone_numbers(opts = {})
      data, _status_code, _headers = get_pbx_phone_numbers_with_http_info(opts)
      data
    end

    # Get pbx phoneNumbers
    # Retrieve pbx phoneNumbers 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxPhoneNumbersResponse, Fixnum, Hash)>] ConversationPbxPhoneNumbersResponse data, response status code and response headers
    def get_pbx_phone_numbers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_pbx_phone_numbers ...'
      end
      # resource path
      local_var_path = '/conversation/pbx/phone_number'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxPhoneNumbersResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_pbx_phone_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx queue
    # Retrieve a pbx queue 
    # @param conversation_pbx_queue_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxQueueResponse]
    def get_pbx_queue(conversation_pbx_queue_uuid, opts = {})
      data, _status_code, _headers = get_pbx_queue_with_http_info(conversation_pbx_queue_uuid, opts)
      data
    end

    # Get pbx queue
    # Retrieve a pbx queue 
    # @param conversation_pbx_queue_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxQueueResponse, Fixnum, Hash)>] ConversationPbxQueueResponse data, response status code and response headers
    def get_pbx_queue_with_http_info(conversation_pbx_queue_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationApi.get_pbx_queue ...'
      end
      # verify the required parameter 'conversation_pbx_queue_uuid' is set
      if @api_client.config.client_side_validation && conversation_pbx_queue_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_pbx_queue_uuid' when calling ConversationApi.get_pbx_queue"
      end
      # resource path
      local_var_path = '/conversation/pbx/queue/{conversationPbxQueueUuid}'.sub('{' + 'conversationPbxQueueUuid' + '}', conversation_pbx_queue_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConversationPbxQueueResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationApi#get_pbx_queue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get pbx queues
    # Retrieve pbx queues 
    # @param [Hash] opts the optional parameters
    # @return [ConversationPbxQueuesResponse]
    def get_pbx_queues(opts = {})
      data, _status_code, _headers = get_pbx_queues_with_http_info(opts)
      data
    end

    # Get pbx queues
    # Retrieve pbx queues 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConversationPbxQueuesResponse, Fixnum, Hash)>] ConversationPbxQueuesResponse data, response status code and response headers
    def get_pbx_queues_with_http_info(opts = {})
      if @api_client.config.debugging
[...]
