=begin
#UltraCart Rest API V2

#UltraCart REST API Version 2

The version of the OpenAPI document: 2.0.0
Contact: support@ultracart.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1-SNAPSHOT

=end

require 'cgi'

module UltracartClient
  class FraudApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    def self.new_using_api_key(simple_key, verify_ssl = true, debugging = false)
      api_config = Configuration.new
      api_config.api_key_prefix['x-ultracart-simple-key'] = simple_key
      api_config.api_version = '2017-03-01'
      api_config.verify_ssl = verify_ssl

      api_client = ApiClient.new(api_config)
      api_client.config.debugging = debugging

      UltracartClient::FraudApi.new(api_client)
    end

    # Decline emails during checkout fraud review
    # Adds one or more email addresses to the fraud decline list for this merchant account. 
    # @param fraud_decline_emails_request [FraudDeclineEmailRequest] Fraud decline emails request
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def decline_email(fraud_decline_emails_request, opts = {})
      decline_email_with_http_info(fraud_decline_emails_request, opts)
      nil
    end

    # Decline emails during checkout fraud review
    # Adds one or more email addresses to the fraud decline list for this merchant account. 
    # @param fraud_decline_emails_request [FraudDeclineEmailRequest] Fraud decline emails request
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def decline_email_with_http_info(fraud_decline_emails_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FraudApi.decline_email ...'
      end
      # verify the required parameter 'fraud_decline_emails_request' is set
      if @api_client.config.client_side_validation && fraud_decline_emails_request.nil?
        fail ArgumentError, "Missing the required parameter 'fraud_decline_emails_request' when calling FraudApi.decline_email"
      end
      # resource path
      local_var_path = '/fraud/decline_email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fraud_decline_emails_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"FraudApi.decline_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FraudApi#decline_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a fraud rule
    # Deletes a fraud rule for this merchant account. 
    # @param fraud_rule_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_fraud_rule(fraud_rule_oid, opts = {})
      delete_fraud_rule_with_http_info(fraud_rule_oid, opts)
      nil
    end

    # Delete a fraud rule
    # Deletes a fraud rule for this merchant account. 
    # @param fraud_rule_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_fraud_rule_with_http_info(fraud_rule_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FraudApi.delete_fraud_rule ...'
      end
      # verify the required parameter 'fraud_rule_oid' is set
      if @api_client.config.client_side_validation && fraud_rule_oid.nil?
        fail ArgumentError, "Missing the required parameter 'fraud_rule_oid' when calling FraudApi.delete_fraud_rule"
      end
      # resource path
      local_var_path = '/fraud/rules/{fraud_rule_oid}'.sub('{' + 'fraud_rule_oid' + '}', CGI.escape(fraud_rule_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"FraudApi.delete_fraud_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FraudApi#delete_fraud_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve fraud rule lookup values
    # Returns the dropdown values required to build valid fraud rule insert and search requests. Includes rule types, failure actions, user actions, IP range types, AVS match types, the merchant's rotating transaction gateways, screen branding themes, countries, and affiliates. 
    # @param [Hash] opts the optional parameters
    # @return [FraudLookupValuesResponse]
    def get_fraud_lookup_values(opts = {})
      data, _status_code, _headers = get_fraud_lookup_values_with_http_info(opts)
      data
    end

    # Retrieve fraud rule lookup values
    # Returns the dropdown values required to build valid fraud rule insert and search requests. Includes rule types, failure actions, user actions, IP range types, AVS match types, the merchant&#39;s rotating transaction gateways, screen branding themes, countries, and affiliates. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FraudLookupValuesResponse, Integer, Hash)>] FraudLookupValuesResponse data, response status code and response headers
    def get_fraud_lookup_values_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FraudApi.get_fraud_lookup_values ...'
      end
      # resource path
      local_var_path = '/fraud/lookup_values'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FraudLookupValuesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"FraudApi.get_fraud_lookup_values",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FraudApi#get_fraud_lookup_values\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Insert a fraud rule
    # Creates a fraud rule for this merchant account. Field names in the request body are semantic (eg amount_threshold, email, ip_address). Call GET /v2/fraud/lookup_values for the list of valid rule_type, failure_action, and related dropdown values. The 'credit card matches' rule type is not supported via REST. 
    # @param fraud_rule_insert_request [FraudRuleInsertRequest] Fraud rule insert request
    # @param [Hash] opts the optional parameters
    # @return [FraudRuleResponse]
    def insert_fraud_rule(fraud_rule_insert_request, opts = {})
      data, _status_code, _headers = insert_fraud_rule_with_http_info(fraud_rule_insert_request, opts)
      data
    end

    # Insert a fraud rule
    # Creates a fraud rule for this merchant account. Field names in the request body are semantic (eg amount_threshold, email, ip_address). Call GET /v2/fraud/lookup_values for the list of valid rule_type, failure_action, and related dropdown values. The &#39;credit card matches&#39; rule type is not supported via REST. 
    # @param fraud_rule_insert_request [FraudRuleInsertRequest] Fraud rule insert request
    # @param [Hash] opts the optional parameters
    # @return [Array<(FraudRuleResponse, Integer, Hash)>] FraudRuleResponse data, response status code and response headers
    def insert_fraud_rule_with_http_info(fraud_rule_insert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FraudApi.insert_fraud_rule ...'
      end
      # verify the required parameter 'fraud_rule_insert_request' is set
      if @api_client.config.client_side_validation && fraud_rule_insert_request.nil?
        fail ArgumentError, "Missing the required parameter 'fraud_rule_insert_request' when calling FraudApi.insert_fraud_rule"
      end
      # resource path
      local_var_path = '/fraud/rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fraud_rule_insert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FraudRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"FraudApi.insert_fraud_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FraudApi#insert_fraud_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search fraud rules
    # Searches fraud rules for this merchant account using semantic filter fields. Pagination and sort are passed as query parameters (_limit, _offset, _sort). You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. Results are capped at 10,000 records by ElasticSearch and the warning slot indicates when that cap was hit. Use more selective filters in that case. 
    # @param fraud_rule_search_request [FraudRuleSearchRequest] Fraud rule search request
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 200) (default to 100)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_sort The sort order of the fraud rules.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
    # @return [FraudRulesResponse]
    def search_fraud_rules(fraud_rule_search_request, opts = {})
      data, _status_code, _headers = search_fraud_rules_with_http_info(fraud_rule_search_request, opts)
      data
    end

    # Search fraud rules
    # Searches fraud rules for this merchant account using semantic filter fields. Pagination and sort are passed as query parameters (_limit, _offset, _sort). You will need to make multiple API calls in order to retrieve the entire result set since this API performs result set pagination. Results are capped at 10,000 records by ElasticSearch and the warning slot indicates when that cap was hit. Use more selective filters in that case. 
    # @param fraud_rule_search_request [FraudRuleSearchRequest] Fraud rule search request
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :_limit The maximum number of records to return on this one API call. (Maximum 200) (default to 100)
    # @option opts [Integer] :_offset Pagination of the record set.  Offset is a zero based index. (default to 0)
    # @option opts [String] :_sort The sort order of the fraud rules.  See Sorting documentation for examples of using multiple values and sorting by ascending and descending.
    # @return [Array<(FraudRulesResponse, Integer, Hash)>] FraudRulesResponse data, response status code and response headers
    def search_fraud_rules_with_http_info(fraud_rule_search_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FraudApi.search_fraud_rules ...'
      end
      # verify the required parameter 'fraud_rule_search_request' is set
      if @api_client.config.client_side_validation && fraud_rule_search_request.nil?
        fail ArgumentError, "Missing the required parameter 'fraud_rule_search_request' when calling FraudApi.search_fraud_rules"
      end
      # resource path
      local_var_path = '/fraud/rules/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'_limit'] = opts[:'_limit'] if !opts[:'_limit'].nil?
      query_params[:'_offset'] = opts[:'_offset'] if !opts[:'_offset'].nil?
      query_params[:'_sort'] = opts[:'_sort'] if !opts[:'_sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fraud_rule_search_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FraudRulesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"FraudApi.search_fraud_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FraudApi#search_fraud_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
