=begin
#UltraCart Rest API V2

#UltraCart REST API Version 2

The version of the OpenAPI document: 2.0.0
Contact: support@ultracart.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1-SNAPSHOT

=end

require 'cgi'

module UltracartClient
  class SfvbApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    def self.new_using_api_key(simple_key, verify_ssl = true, debugging = false)
      api_config = Configuration.new
      api_config.api_key_prefix['x-ultracart-simple-key'] = simple_key
      api_config.api_version = '2017-03-01'
      api_config.verify_ssl = verify_ssl

      api_client = ApiClient.new(api_config)
      api_client.config.debugging = debugging

      UltracartClient::SfvbApi.new(api_client)
    end

    # Assign blog posts to a page
    # Adds posts by blog_post_oid, at most 500 at a time.  Every oid must be a post on this storefront, and one that is not changes nothing.  Refused on a page whose selectors choose its blog posts.  Always needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param path [String] Page path, for example /blog/
    # @param page_blog_posts_request [SfvbPageBlogPostsRequest] Blog posts to assign
    # @param [Hash] opts the optional parameters
    # @return [SfvbPageBlogPostsResponse]
    def add_sfvb_page_blog_posts(storefront_oid, path, page_blog_posts_request, opts = {})
      data, _status_code, _headers = add_sfvb_page_blog_posts_with_http_info(storefront_oid, path, page_blog_posts_request, opts)
      data
    end

    # Assign blog posts to a page
    # Adds posts by blog_post_oid, at most 500 at a time.  Every oid must be a post on this storefront, and one that is not changes nothing.  Refused on a page whose selectors choose its blog posts.  Always needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param path [String] Page path, for example /blog/
    # @param page_blog_posts_request [SfvbPageBlogPostsRequest] Blog posts to assign
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbPageBlogPostsResponse, Integer, Hash)>] SfvbPageBlogPostsResponse data, response status code and response headers
    def add_sfvb_page_blog_posts_with_http_info(storefront_oid, path, page_blog_posts_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.add_sfvb_page_blog_posts ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.add_sfvb_page_blog_posts"
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SfvbApi.add_sfvb_page_blog_posts"
      end
      # verify the required parameter 'page_blog_posts_request' is set
      if @api_client.config.client_side_validation && page_blog_posts_request.nil?
        fail ArgumentError, "Missing the required parameter 'page_blog_posts_request' when calling SfvbApi.add_sfvb_page_blog_posts"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/pages/blog_posts/add'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = path

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=UTF-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(page_blog_posts_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbPageBlogPostsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.add_sfvb_page_blog_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#add_sfvb_page_blog_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign items to a page
    # Adds items by item id, at most 500 at a time, or changes the sort order or url part of items already on the page.  Every id is checked first and one unknown id changes nothing.  Refused on a page whose selectors choose its items.  sort_order is refused unless the page sorts its items by a custom order.  Always needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param path [String] Page path, for example /lp/spring-sale/
    # @param page_items_add_request [SfvbPageItemsAddRequest] Items to assign
    # @param [Hash] opts the optional parameters
    # @return [SfvbPageItemsResponse]
    def add_sfvb_page_items(storefront_oid, path, page_items_add_request, opts = {})
      data, _status_code, _headers = add_sfvb_page_items_with_http_info(storefront_oid, path, page_items_add_request, opts)
      data
    end

    # Assign items to a page
    # Adds items by item id, at most 500 at a time, or changes the sort order or url part of items already on the page.  Every id is checked first and one unknown id changes nothing.  Refused on a page whose selectors choose its items.  sort_order is refused unless the page sorts its items by a custom order.  Always needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param path [String] Page path, for example /lp/spring-sale/
    # @param page_items_add_request [SfvbPageItemsAddRequest] Items to assign
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbPageItemsResponse, Integer, Hash)>] SfvbPageItemsResponse data, response status code and response headers
    def add_sfvb_page_items_with_http_info(storefront_oid, path, page_items_add_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.add_sfvb_page_items ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.add_sfvb_page_items"
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SfvbApi.add_sfvb_page_items"
      end
      # verify the required parameter 'page_items_add_request' is set
      if @api_client.config.client_side_validation && page_items_add_request.nil?
        fail ArgumentError, "Missing the required parameter 'page_items_add_request' when calling SfvbApi.add_sfvb_page_items"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/pages/items/add'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = path

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=UTF-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(page_items_add_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbPageItemsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.add_sfvb_page_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#add_sfvb_page_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Archive an upsell path
    # Files the path out of the default list.  An archived path does not run.  Archiving one that is switched on is a live change and needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param upsell_path_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbUpsellPath]
    def archive_sfvb_upsell_path(storefront_oid, upsell_path_oid, opts = {})
      data, _status_code, _headers = archive_sfvb_upsell_path_with_http_info(storefront_oid, upsell_path_oid, opts)
      data
    end

    # Archive an upsell path
    # Files the path out of the default list.  An archived path does not run.  Archiving one that is switched on is a live change and needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param upsell_path_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbUpsellPath, Integer, Hash)>] SfvbUpsellPath data, response status code and response headers
    def archive_sfvb_upsell_path_with_http_info(storefront_oid, upsell_path_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.archive_sfvb_upsell_path ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.archive_sfvb_upsell_path"
      end
      # verify the required parameter 'upsell_path_oid' is set
      if @api_client.config.client_side_validation && upsell_path_oid.nil?
        fail ArgumentError, "Missing the required parameter 'upsell_path_oid' when calling SfvbApi.archive_sfvb_upsell_path"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/upsell_paths/{upsell_path_oid}/archive'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'upsell_path_oid' + '}', CGI.escape(upsell_path_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbUpsellPath'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.archive_sfvb_upsell_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#archive_sfvb_upsell_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Compile CJSON to Velocity
    # Compiles a container document to Velocity without storing anything.  Supply theme_oid to compile with the theme's inherit groups applied; omit it to compile standalone. 
    # @param compile_request [SfvbCompileRequest] CJSON to compile
    # @param [Hash] opts the optional parameters
    # @return [SfvbCompileResponse]
    def compile_sfvb_cjson(compile_request, opts = {})
      data, _status_code, _headers = compile_sfvb_cjson_with_http_info(compile_request, opts)
      data
    end

    # Compile CJSON to Velocity
    # Compiles a container document to Velocity without storing anything.  Supply theme_oid to compile with the theme&#39;s inherit groups applied; omit it to compile standalone. 
    # @param compile_request [SfvbCompileRequest] CJSON to compile
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbCompileResponse, Integer, Hash)>] SfvbCompileResponse data, response status code and response headers
    def compile_sfvb_cjson_with_http_info(compile_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.compile_sfvb_cjson ...'
      end
      # verify the required parameter 'compile_request' is set
      if @api_client.config.client_side_validation && compile_request.nil?
        fail ArgumentError, "Missing the required parameter 'compile_request' when calling SfvbApi.compile_sfvb_cjson"
      end
      # resource path
      local_var_path = '/sfvb/cjson/compile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(compile_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbCompileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.compile_sfvb_cjson",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#compile_sfvb_cjson\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # One time link that opens a preview in a browser with no UltraCart login
    # The preview URL only works in a browser already signed in to UltraCart on the storefront's own host, and an agent's built in browser never is.  This returns a single use access_url on the storefront host instead.  Opening it gets past the storefront lock, shows the requested theme and applies the requested preview session for the rest of that browser session, then redirects to path.  It expires two minutes after issue or on first use.  Pages opened afterwards carry an X-UltraCart-Preview header of applied or not-applied.  Requires a token that resolves to a user, so use the device authorization flow. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [SfvbPreviewAccessRequest] :preview_access What the browser should see
    # @return [SfvbPreviewAccessResponse]
    def create_sfvb_preview_access(storefront_oid, opts = {})
      data, _status_code, _headers = create_sfvb_preview_access_with_http_info(storefront_oid, opts)
      data
    end

    # One time link that opens a preview in a browser with no UltraCart login
    # The preview URL only works in a browser already signed in to UltraCart on the storefront&#39;s own host, and an agent&#39;s built in browser never is.  This returns a single use access_url on the storefront host instead.  Opening it gets past the storefront lock, shows the requested theme and applies the requested preview session for the rest of that browser session, then redirects to path.  It expires two minutes after issue or on first use.  Pages opened afterwards carry an X-UltraCart-Preview header of applied or not-applied.  Requires a token that resolves to a user, so use the device authorization flow. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [SfvbPreviewAccessRequest] :preview_access What the browser should see
    # @return [Array<(SfvbPreviewAccessResponse, Integer, Hash)>] SfvbPreviewAccessResponse data, response status code and response headers
    def create_sfvb_preview_access_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.create_sfvb_preview_access ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.create_sfvb_preview_access"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/preview_access'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'preview_access'])

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbPreviewAccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.create_sfvb_preview_access",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#create_sfvb_preview_access\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a preview session
    # Returns a server generated session id to push containers into, and opens the session so that id exists rather than merely being random.  The id is not caller supplied, because concurrent agents choosing their own would be free to collide, and the browser editor's habit of minting one with Math.random is not a property worth carrying into an API.  Expires after eight hours and can be deleted sooner.  Requires a token that resolves to a user, so use the device authorization flow. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbPreviewSessionResponse]
    def create_sfvb_preview_session(storefront_oid, opts = {})
      data, _status_code, _headers = create_sfvb_preview_session_with_http_info(storefront_oid, opts)
      data
    end

    # Create a preview session
    # Returns a server generated session id to push containers into, and opens the session so that id exists rather than merely being random.  The id is not caller supplied, because concurrent agents choosing their own would be free to collide, and the browser editor&#39;s habit of minting one with Math.random is not a property worth carrying into an API.  Expires after eight hours and can be deleted sooner.  Requires a token that resolves to a user, so use the device authorization flow. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbPreviewSessionResponse, Integer, Hash)>] SfvbPreviewSessionResponse data, response status code and response headers
    def create_sfvb_preview_session_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.create_sfvb_preview_session ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.create_sfvb_preview_session"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/preview_sessions'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbPreviewSessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.create_sfvb_preview_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#create_sfvb_preview_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a storefront file
    # Recoverable from the recycle bin. 
    # @param storefront_oid [Integer] 
    # @param if_match [String] Content hash of the file being deleted.  Required; 428 when absent, 412 when stale.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [nil]
    def delete_sfvb_file(storefront_oid, if_match, opts = {})
      delete_sfvb_file_with_http_info(storefront_oid, if_match, opts)
      nil
    end

    # Delete a storefront file
    # Recoverable from the recycle bin. 
    # @param storefront_oid [Integer] 
    # @param if_match [String] Content hash of the file being deleted.  Required; 428 when absent, 412 when stale.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sfvb_file_with_http_info(storefront_oid, if_match, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.delete_sfvb_file ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.delete_sfvb_file"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling SfvbApi.delete_sfvb_file"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/files'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.delete_sfvb_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#delete_sfvb_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an attribute from an item
    # Removes one attribute that no template on the item's pages declares - a test name, a misspelling, one a retired template used.  A declared attribute is refused, because the template would list it again, empty; send an empty value through the attributes update to clear one of those instead. 
    # @param storefront_oid [Integer] 
    # @param name [String] The attribute name, matched without regard to case
    # @param [Hash] opts the optional parameters
    # @option opts [String] :merchant_item_id 
    # @option opts [Integer] :merchant_item_oid 
    # @return [SfvbItemResponse]
    def delete_sfvb_item_attribute(storefront_oid, name, opts = {})
      data, _status_code, _headers = delete_sfvb_item_attribute_with_http_info(storefront_oid, name, opts)
      data
    end

    # Delete an attribute from an item
    # Removes one attribute that no template on the item&#39;s pages declares - a test name, a misspelling, one a retired template used.  A declared attribute is refused, because the template would list it again, empty; send an empty value through the attributes update to clear one of those instead. 
    # @param storefront_oid [Integer] 
    # @param name [String] The attribute name, matched without regard to case
    # @param [Hash] opts the optional parameters
    # @option opts [String] :merchant_item_id 
    # @option opts [Integer] :merchant_item_oid 
    # @return [Array<(SfvbItemResponse, Integer, Hash)>] SfvbItemResponse data, response status code and response headers
    def delete_sfvb_item_attribute_with_http_info(storefront_oid, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.delete_sfvb_item_attribute ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.delete_sfvb_item_attribute"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SfvbApi.delete_sfvb_item_attribute"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/items/attributes'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'merchant_item_id'] = opts[:'merchant_item_id'] if !opts[:'merchant_item_id'].nil?
      query_params[:'merchant_item_oid'] = opts[:'merchant_item_oid'] if !opts[:'merchant_item_oid'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.delete_sfvb_item_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#delete_sfvb_item_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detach an image from an item
    # Removes the item's copy of the image in one slot.  The file you uploaded is left where it is, so the same source can be attached again or used elsewhere. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :merchant_item_id 
    # @option opts [Integer] :merchant_item_oid 
    # @option opts [String] :code The image code to detach
    # @option opts [Boolean] :default Detach the default image instead of a coded one
    # @return [SfvbItemResponse]
    def delete_sfvb_item_multimedia(storefront_oid, opts = {})
      data, _status_code, _headers = delete_sfvb_item_multimedia_with_http_info(storefront_oid, opts)
      data
    end

    # Detach an image from an item
    # Removes the item&#39;s copy of the image in one slot.  The file you uploaded is left where it is, so the same source can be attached again or used elsewhere. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :merchant_item_id 
    # @option opts [Integer] :merchant_item_oid 
    # @option opts [String] :code The image code to detach
    # @option opts [Boolean] :default Detach the default image instead of a coded one
    # @return [Array<(SfvbItemResponse, Integer, Hash)>] SfvbItemResponse data, response status code and response headers
    def delete_sfvb_item_multimedia_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.delete_sfvb_item_multimedia ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.delete_sfvb_item_multimedia"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/items/multimedia'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'merchant_item_id'] = opts[:'merchant_item_id'] if !opts[:'merchant_item_id'].nil?
      query_params[:'merchant_item_oid'] = opts[:'merchant_item_oid'] if !opts[:'merchant_item_oid'].nil?
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'default'] = opts[:'default'] if !opts[:'default'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.delete_sfvb_item_multimedia",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#delete_sfvb_item_multimedia\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detach an image from a page
    # Name exactly one of code or default.  Removes the page's copy of the image; the source file in the page folder is left alone.  Always needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param path [String] Page path, for example /catalog/dispensers/
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Image code to detach
    # @option opts [Boolean] :default True to detach the default image
    # @return [SfvbPageResponse]
    def delete_sfvb_page_multimedia(storefront_oid, path, opts = {})
      data, _status_code, _headers = delete_sfvb_page_multimedia_with_http_info(storefront_oid, path, opts)
      data
    end

    # Detach an image from a page
    # Name exactly one of code or default.  Removes the page&#39;s copy of the image; the source file in the page folder is left alone.  Always needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param path [String] Page path, for example /catalog/dispensers/
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Image code to detach
    # @option opts [Boolean] :default True to detach the default image
    # @return [Array<(SfvbPageResponse, Integer, Hash)>] SfvbPageResponse data, response status code and response headers
    def delete_sfvb_page_multimedia_with_http_info(storefront_oid, path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.delete_sfvb_page_multimedia ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.delete_sfvb_page_multimedia"
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SfvbApi.delete_sfvb_page_multimedia"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/pages/multimedia'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = path
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'default'] = opts[:'default'] if !opts[:'default'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbPageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.delete_sfvb_page_multimedia",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#delete_sfvb_page_multimedia\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a preview session
    # Releases the session before its eight hour expiry.  Without this the only way to free one is to wait, which is a poor answer for a tool that may open a dozen in an afternoon. 
    # @param storefront_oid [Integer] 
    # @param preview_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sfvb_preview_session(storefront_oid, preview_session_id, opts = {})
      delete_sfvb_preview_session_with_http_info(storefront_oid, preview_session_id, opts)
      nil
    end

    # Delete a preview session
    # Releases the session before its eight hour expiry.  Without this the only way to free one is to wait, which is a poor answer for a tool that may open a dozen in an afternoon. 
    # @param storefront_oid [Integer] 
    # @param preview_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sfvb_preview_session_with_http_info(storefront_oid, preview_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.delete_sfvb_preview_session ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.delete_sfvb_preview_session"
      end
      # verify the required parameter 'preview_session_id' is set
      if @api_client.config.client_side_validation && preview_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'preview_session_id' when calling SfvbApi.delete_sfvb_preview_session"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/preview_sessions/{preview_session_id}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'preview_session_id' + '}', CGI.escape(preview_session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.delete_sfvb_preview_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#delete_sfvb_preview_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable an upsell offer
    # Switches the offer off.  Disabling one that is switched on is a live change and needs sfvb_publish.  An offer that is already off is returned unchanged.  There is no delete. 
    # @param storefront_oid [Integer] 
    # @param upsell_offer_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbUpsellOffer]
    def disable_sfvb_upsell_offer(storefront_oid, upsell_offer_oid, opts = {})
      data, _status_code, _headers = disable_sfvb_upsell_offer_with_http_info(storefront_oid, upsell_offer_oid, opts)
      data
    end

    # Disable an upsell offer
    # Switches the offer off.  Disabling one that is switched on is a live change and needs sfvb_publish.  An offer that is already off is returned unchanged.  There is no delete. 
    # @param storefront_oid [Integer] 
    # @param upsell_offer_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbUpsellOffer, Integer, Hash)>] SfvbUpsellOffer data, response status code and response headers
    def disable_sfvb_upsell_offer_with_http_info(storefront_oid, upsell_offer_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.disable_sfvb_upsell_offer ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.disable_sfvb_upsell_offer"
      end
      # verify the required parameter 'upsell_offer_oid' is set
      if @api_client.config.client_side_validation && upsell_offer_oid.nil?
        fail ArgumentError, "Missing the required parameter 'upsell_offer_oid' when calling SfvbApi.disable_sfvb_upsell_offer"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/upsell_offers/{upsell_offer_oid}/disable'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'upsell_offer_oid' + '}', CGI.escape(upsell_offer_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbUpsellOffer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.disable_sfvb_upsell_offer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#disable_sfvb_upsell_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable an upsell path
    # Switches the path off.  Disabling a running path is a live change and needs sfvb_publish.  A path that is already off is returned unchanged.  There is no delete. 
    # @param storefront_oid [Integer] 
    # @param upsell_path_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbUpsellPath]
    def disable_sfvb_upsell_path(storefront_oid, upsell_path_oid, opts = {})
      data, _status_code, _headers = disable_sfvb_upsell_path_with_http_info(storefront_oid, upsell_path_oid, opts)
      data
    end

    # Disable an upsell path
    # Switches the path off.  Disabling a running path is a live change and needs sfvb_publish.  A path that is already off is returned unchanged.  There is no delete. 
    # @param storefront_oid [Integer] 
    # @param upsell_path_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbUpsellPath, Integer, Hash)>] SfvbUpsellPath data, response status code and response headers
    def disable_sfvb_upsell_path_with_http_info(storefront_oid, upsell_path_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.disable_sfvb_upsell_path ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.disable_sfvb_upsell_path"
      end
      # verify the required parameter 'upsell_path_oid' is set
      if @api_client.config.client_side_validation && upsell_path_oid.nil?
        fail ArgumentError, "Missing the required parameter 'upsell_path_oid' when calling SfvbApi.disable_sfvb_upsell_path"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/upsell_paths/{upsell_path_oid}/disable'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'upsell_path_oid' + '}', CGI.escape(upsell_path_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbUpsellPath'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.disable_sfvb_upsell_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#disable_sfvb_upsell_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a storefront file's raw bytes
    # Returns the file itself rather than a JSON envelope, for any type including binaries that files/content refuses.  Use this to verify what you uploaded, and note it is the only way to read a file inside a theme that is not active - such a file is served to nobody until the theme is promoted, so it has no public URL to fetch instead.  On success the body is the file; on failure it is the usual JSON error object, so do not assume the content type without checking the status. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [nil]
    def download_sfvb_file(storefront_oid, opts = {})
      download_sfvb_file_with_http_info(storefront_oid, opts)
      nil
    end

    # Read a storefront file&#39;s raw bytes
    # Returns the file itself rather than a JSON envelope, for any type including binaries that files/content refuses.  Use this to verify what you uploaded, and note it is the only way to read a file inside a theme that is not active - such a file is served to nobody until the theme is promoted, so it has no public URL to fetch instead.  On success the body is the file; on failure it is the usual JSON error object, so do not assume the content type without checking the status. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_sfvb_file_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.download_sfvb_file ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.download_sfvb_file"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/files/download'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.download_sfvb_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#download_sfvb_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Copy a page to a new path
    # Copies what the store admin's duplicate copies - settings, items, blog posts, permissions, attributes, selectors, images and the page folder with its body.  The copy goes to the path you choose, under any existing page, with the same path rules as creating a page, and a 409 with the code sfvb.page_exists when that path is taken.  The root page and pages with pages under them cannot be copied.  A page whose folder holds a started experiment is refused, because the copy would share the experiment - end it first.  Translated title and description text is not copied.  Always needs sfvb_publish, because the copy is live as soon as it exists. 
    # @param storefront_oid [Integer] 
    # @param page_duplicate_request [SfvbPageDuplicateRequest] The page to copy and where
    # @param [Hash] opts the optional parameters
    # @return [SfvbPageResponse]
    def duplicate_sfvb_page(storefront_oid, page_duplicate_request, opts = {})
      data, _status_code, _headers = duplicate_sfvb_page_with_http_info(storefront_oid, page_duplicate_request, opts)
      data
    end

    # Copy a page to a new path
    # Copies what the store admin&#39;s duplicate copies - settings, items, blog posts, permissions, attributes, selectors, images and the page folder with its body.  The copy goes to the path you choose, under any existing page, with the same path rules as creating a page, and a 409 with the code sfvb.page_exists when that path is taken.  The root page and pages with pages under them cannot be copied.  A page whose folder holds a started experiment is refused, because the copy would share the experiment - end it first.  Translated title and description text is not copied.  Always needs sfvb_publish, because the copy is live as soon as it exists. 
    # @param storefront_oid [Integer] 
    # @param page_duplicate_request [SfvbPageDuplicateRequest] The page to copy and where
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbPageResponse, Integer, Hash)>] SfvbPageResponse data, response status code and response headers
    def duplicate_sfvb_page_with_http_info(storefront_oid, page_duplicate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.duplicate_sfvb_page ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.duplicate_sfvb_page"
      end
      # verify the required parameter 'page_duplicate_request' is set
      if @api_client.config.client_side_validation && page_duplicate_request.nil?
        fail ArgumentError, "Missing the required parameter 'page_duplicate_request' when calling SfvbApi.duplicate_sfvb_page"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/pages/duplicate'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=UTF-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(page_duplicate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbPageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.duplicate_sfvb_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#duplicate_sfvb_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate a theme
    # Copies a theme into a new one and returns a job handle to poll.  Asynchronous, because copying a theme copies every file in it.  Needs sfvb_write rather than sfvb_publish, because the job explicitly does not activate what it creates, so the worst outcome of a mistaken call is a spare theme.  This is how you get somewhere safe to work - duplicate, edit the copy with an ordinary write scope, and let a human promote it. 
    # @param storefront_oid [Integer] 
    # @param theme_oid [Integer] 
    # @param duplicate_request [SfvbThemeDuplicateRequest] Theme duplication details
    # @param [Hash] opts the optional parameters
    # @return [SfvbThemeJobResponse]
    def duplicate_sfvb_theme(storefront_oid, theme_oid, duplicate_request, opts = {})
      data, _status_code, _headers = duplicate_sfvb_theme_with_http_info(storefront_oid, theme_oid, duplicate_request, opts)
      data
    end

    # Duplicate a theme
    # Copies a theme into a new one and returns a job handle to poll.  Asynchronous, because copying a theme copies every file in it.  Needs sfvb_write rather than sfvb_publish, because the job explicitly does not activate what it creates, so the worst outcome of a mistaken call is a spare theme.  This is how you get somewhere safe to work - duplicate, edit the copy with an ordinary write scope, and let a human promote it. 
    # @param storefront_oid [Integer] 
    # @param theme_oid [Integer] 
    # @param duplicate_request [SfvbThemeDuplicateRequest] Theme duplication details
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbThemeJobResponse, Integer, Hash)>] SfvbThemeJobResponse data, response status code and response headers
    def duplicate_sfvb_theme_with_http_info(storefront_oid, theme_oid, duplicate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.duplicate_sfvb_theme ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.duplicate_sfvb_theme"
      end
      # verify the required parameter 'theme_oid' is set
      if @api_client.config.client_side_validation && theme_oid.nil?
        fail ArgumentError, "Missing the required parameter 'theme_oid' when calling SfvbApi.duplicate_sfvb_theme"
      end
      # verify the required parameter 'duplicate_request' is set
      if @api_client.config.client_side_validation && duplicate_request.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_request' when calling SfvbApi.duplicate_sfvb_theme"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/themes/{theme_oid}/duplicate'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'theme_oid' + '}', CGI.escape(theme_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbThemeJobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.duplicate_sfvb_theme",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#duplicate_sfvb_theme\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate an upsell offer
    # A copy named Copy of, switched off, with its own copy of the container.  Put it on a path with a path update to have it shown. 
    # @param storefront_oid [Integer] 
    # @param upsell_offer_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbUpsellOffer]
    def duplicate_sfvb_upsell_offer(storefront_oid, upsell_offer_oid, opts = {})
      data, _status_code, _headers = duplicate_sfvb_upsell_offer_with_http_info(storefront_oid, upsell_offer_oid, opts)
      data
    end

    # Duplicate an upsell offer
    # A copy named Copy of, switched off, with its own copy of the container.  Put it on a path with a path update to have it shown. 
    # @param storefront_oid [Integer] 
    # @param upsell_offer_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbUpsellOffer, Integer, Hash)>] SfvbUpsellOffer data, response status code and response headers
    def duplicate_sfvb_upsell_offer_with_http_info(storefront_oid, upsell_offer_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.duplicate_sfvb_upsell_offer ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.duplicate_sfvb_upsell_offer"
      end
      # verify the required parameter 'upsell_offer_oid' is set
      if @api_client.config.client_side_validation && upsell_offer_oid.nil?
        fail ArgumentError, "Missing the required parameter 'upsell_offer_oid' when calling SfvbApi.duplicate_sfvb_upsell_offer"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/upsell_offers/{upsell_offer_oid}/duplicate'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'upsell_offer_oid' + '}', CGI.escape(upsell_offer_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbUpsellOffer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.duplicate_sfvb_upsell_offer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#duplicate_sfvb_upsell_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate an upsell path or one of its variations
    # Without a variation, copies the whole path right after it, switched off.  With a variation, appends a copy of that variation to the same path, which needs sfvb_publish when the path is running.  Every offer the copy uses is copied too and switched off.  Within this storefront only. 
    # @param storefront_oid [Integer] 
    # @param upsell_path_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [SfvbUpsellPathDuplicateRequest] :duplicate_request What to duplicate
    # @return [SfvbUpsellPath]
    def duplicate_sfvb_upsell_path(storefront_oid, upsell_path_oid, opts = {})
      data, _status_code, _headers = duplicate_sfvb_upsell_path_with_http_info(storefront_oid, upsell_path_oid, opts)
      data
    end

    # Duplicate an upsell path or one of its variations
    # Without a variation, copies the whole path right after it, switched off.  With a variation, appends a copy of that variation to the same path, which needs sfvb_publish when the path is running.  Every offer the copy uses is copied too and switched off.  Within this storefront only. 
    # @param storefront_oid [Integer] 
    # @param upsell_path_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [SfvbUpsellPathDuplicateRequest] :duplicate_request What to duplicate
    # @return [Array<(SfvbUpsellPath, Integer, Hash)>] SfvbUpsellPath data, response status code and response headers
    def duplicate_sfvb_upsell_path_with_http_info(storefront_oid, upsell_path_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.duplicate_sfvb_upsell_path ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.duplicate_sfvb_upsell_path"
      end
      # verify the required parameter 'upsell_path_oid' is set
      if @api_client.config.client_side_validation && upsell_path_oid.nil?
        fail ArgumentError, "Missing the required parameter 'upsell_path_oid' when calling SfvbApi.duplicate_sfvb_upsell_path"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/upsell_paths/{upsell_path_oid}/duplicate'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'upsell_path_oid' + '}', CGI.escape(upsell_path_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=UTF-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'duplicate_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbUpsellPath'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.duplicate_sfvb_upsell_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#duplicate_sfvb_upsell_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # End an experiment
    # Ends a running experiment.  With winner_variation_number the winner gets every visitor, including visitors already assigned to another variation, and a page experiment's winning content is promoted into the page by the completion job on its next run, which also emails the merchant.  Without a winner a page experiment's id is cleared from its page body so the page shows variation 0, and a url experiment sends everyone to variation 0.  Always needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param experiment_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [SfvbExperimentEndRequest] :experiment_end_request The winner, if any
    # @return [SfvbExperiment]
    def end_sfvb_experiment(storefront_oid, experiment_oid, opts = {})
      data, _status_code, _headers = end_sfvb_experiment_with_http_info(storefront_oid, experiment_oid, opts)
      data
    end

    # End an experiment
    # Ends a running experiment.  With winner_variation_number the winner gets every visitor, including visitors already assigned to another variation, and a page experiment&#39;s winning content is promoted into the page by the completion job on its next run, which also emails the merchant.  Without a winner a page experiment&#39;s id is cleared from its page body so the page shows variation 0, and a url experiment sends everyone to variation 0.  Always needs sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param experiment_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [SfvbExperimentEndRequest] :experiment_end_request The winner, if any
    # @return [Array<(SfvbExperiment, Integer, Hash)>] SfvbExperiment data, response status code and response headers
    def end_sfvb_experiment_with_http_info(storefront_oid, experiment_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.end_sfvb_experiment ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.end_sfvb_experiment"
      end
      # verify the required parameter 'experiment_oid' is set
      if @api_client.config.client_side_validation && experiment_oid.nil?
        fail ArgumentError, "Missing the required parameter 'experiment_oid' when calling SfvbApi.end_sfvb_experiment"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/experiments/{experiment_oid}/end'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'experiment_oid' + '}', CGI.escape(experiment_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json; charset=UTF-8'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'experiment_end_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbExperiment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.end_sfvb_experiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#end_sfvb_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Element types used by a container
    # @param compile_request [SfvbCompileRequest] CJSON to inspect
    # @param [Hash] opts the optional parameters
    # @return [SfvbElementsResponse]
    def get_sfvb_cjson_used_elements(compile_request, opts = {})
      data, _status_code, _headers = get_sfvb_cjson_used_elements_with_http_info(compile_request, opts)
      data
    end

    # Element types used by a container
    # @param compile_request [SfvbCompileRequest] CJSON to inspect
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbElementsResponse, Integer, Hash)>] SfvbElementsResponse data, response status code and response headers
    def get_sfvb_cjson_used_elements_with_http_info(compile_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_cjson_used_elements ...'
      end
      # verify the required parameter 'compile_request' is set
      if @api_client.config.client_side_validation && compile_request.nil?
        fail ArgumentError, "Missing the required parameter 'compile_request' when calling SfvbApi.get_sfvb_cjson_used_elements"
      end
      # resource path
      local_var_path = '/sfvb/cjson/elements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(compile_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbElementsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_cjson_used_elements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_cjson_used_elements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a container stored outside the file system
    # owner_type is one of upsell, email, postcardfront, postcardback, item or itemid.  It also says how owner_object_id is read - item and upsell take an oid, itemid takes a merchant item id, and the rest take an esp uuid.  itemid reaches the same containers as item and is the way to address one from a storefront, where data-context-item-id carries the merchant item id and the oid appears nowhere.  Item containers also require container_name.  Theme and page containers are files; read those through files/content. 
    # @param storefront_oid [Integer] 
    # @param owner_type [String] 
    # @param owner_object_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :container_name 
    # @return [SfvbContainerResponse]
    def get_sfvb_container(storefront_oid, owner_type, owner_object_id, opts = {})
      data, _status_code, _headers = get_sfvb_container_with_http_info(storefront_oid, owner_type, owner_object_id, opts)
      data
    end

    # Read a container stored outside the file system
    # owner_type is one of upsell, email, postcardfront, postcardback, item or itemid.  It also says how owner_object_id is read - item and upsell take an oid, itemid takes a merchant item id, and the rest take an esp uuid.  itemid reaches the same containers as item and is the way to address one from a storefront, where data-context-item-id carries the merchant item id and the oid appears nowhere.  Item containers also require container_name.  Theme and page containers are files; read those through files/content. 
    # @param storefront_oid [Integer] 
    # @param owner_type [String] 
    # @param owner_object_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :container_name 
    # @return [Array<(SfvbContainerResponse, Integer, Hash)>] SfvbContainerResponse data, response status code and response headers
    def get_sfvb_container_with_http_info(storefront_oid, owner_type, owner_object_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_container ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_container"
      end
      # verify the required parameter 'owner_type' is set
      if @api_client.config.client_side_validation && owner_type.nil?
        fail ArgumentError, "Missing the required parameter 'owner_type' when calling SfvbApi.get_sfvb_container"
      end
      # verify the required parameter 'owner_object_id' is set
      if @api_client.config.client_side_validation && owner_object_id.nil?
        fail ArgumentError, "Missing the required parameter 'owner_object_id' when calling SfvbApi.get_sfvb_container"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/containers/{owner_type}/{owner_object_id}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'owner_type' + '}', CGI.escape(owner_type.to_s)).sub('{' + 'owner_object_id' + '}', CGI.escape(owner_object_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'container_name'] = opts[:'container_name'] if !opts[:'container_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbContainerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_container",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_container\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read the CJSON stored in one container history entry
    # Inspect or diff an earlier version without reverting to it.  The version is addressed through the container that owns it, so a history oid belonging to some other resource cannot be read through this route.  owner_type also says how owner_object_id is read, and itemid addresses an item container by merchant item id. 
    # @param storefront_oid [Integer] 
    # @param container_history_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :owner_type 
    # @option opts [String] :owner_object_id 
    # @option opts [String] :container_name 
    # @return [SfvbContainerVersion]
    def get_sfvb_container_version(storefront_oid, container_history_oid, opts = {})
      data, _status_code, _headers = get_sfvb_container_version_with_http_info(storefront_oid, container_history_oid, opts)
      data
    end

    # Read the CJSON stored in one container history entry
    # Inspect or diff an earlier version without reverting to it.  The version is addressed through the container that owns it, so a history oid belonging to some other resource cannot be read through this route.  owner_type also says how owner_object_id is read, and itemid addresses an item container by merchant item id. 
    # @param storefront_oid [Integer] 
    # @param container_history_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :owner_type 
    # @option opts [String] :owner_object_id 
    # @option opts [String] :container_name 
    # @return [Array<(SfvbContainerVersion, Integer, Hash)>] SfvbContainerVersion data, response status code and response headers
    def get_sfvb_container_version_with_http_info(storefront_oid, container_history_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_container_version ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_container_version"
      end
      # verify the required parameter 'container_history_oid' is set
      if @api_client.config.client_side_validation && container_history_oid.nil?
        fail ArgumentError, "Missing the required parameter 'container_history_oid' when calling SfvbApi.get_sfvb_container_version"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/container_versions/{container_history_oid}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'container_history_oid' + '}', CGI.escape(container_history_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'owner_type'] = opts[:'owner_type'] if !opts[:'owner_type'].nil?
      query_params[:'owner_object_id'] = opts[:'owner_object_id'] if !opts[:'owner_object_id'].nil?
      query_params[:'container_name'] = opts[:'container_name'] if !opts[:'container_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbContainerVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_container_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_container_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configuration schema and field card for one element type
    # schema is the draft-07 JSON schema for the element config object and doc is the markdown field card, both as strings.  Either is omitted when none has been published for the element, which is still a 200.  The catalog is published by the visual builder release process, and a republish can take up to an hour to appear here. 
    # @param element_type [String] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbElementSchemaResponse]
    def get_sfvb_element(element_type, opts = {})
      data, _status_code, _headers = get_sfvb_element_with_http_info(element_type, opts)
      data
    end

    # Configuration schema and field card for one element type
    # schema is the draft-07 JSON schema for the element config object and doc is the markdown field card, both as strings.  Either is omitted when none has been published for the element, which is still a 200.  The catalog is published by the visual builder release process, and a republish can take up to an hour to appear here. 
    # @param element_type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbElementSchemaResponse, Integer, Hash)>] SfvbElementSchemaResponse data, response status code and response headers
    def get_sfvb_element_with_http_info(element_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_element ...'
      end
      # verify the required parameter 'element_type' is set
      if @api_client.config.client_side_validation && element_type.nil?
        fail ArgumentError, "Missing the required parameter 'element_type' when calling SfvbApi.get_sfvb_element"
      end
      # resource path
      local_var_path = '/sfvb/elements/{element_type}'.sub('{' + 'element_type' + '}', CGI.escape(element_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbElementSchemaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_element",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_element\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read one experiment and its statistics
    # The experiment, its variations and their statistics, and with daily=true each variation's daily rows.  p95_sessions_needed is estimated only after 1000 sessions, and sessions_needed_computed_dts says when.  For a url experiment, router_url is the address visitors must enter through. 
    # @param storefront_oid [Integer] 
    # @param experiment_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :daily Include each variation&#39;s daily statistics
    # @return [SfvbExperiment]
    def get_sfvb_experiment(storefront_oid, experiment_oid, opts = {})
      data, _status_code, _headers = get_sfvb_experiment_with_http_info(storefront_oid, experiment_oid, opts)
      data
    end

    # Read one experiment and its statistics
    # The experiment, its variations and their statistics, and with daily&#x3D;true each variation&#39;s daily rows.  p95_sessions_needed is estimated only after 1000 sessions, and sessions_needed_computed_dts says when.  For a url experiment, router_url is the address visitors must enter through. 
    # @param storefront_oid [Integer] 
    # @param experiment_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :daily Include each variation&#39;s daily statistics
    # @return [Array<(SfvbExperiment, Integer, Hash)>] SfvbExperiment data, response status code and response headers
    def get_sfvb_experiment_with_http_info(storefront_oid, experiment_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_experiment ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_experiment"
      end
      # verify the required parameter 'experiment_oid' is set
      if @api_client.config.client_side_validation && experiment_oid.nil?
        fail ArgumentError, "Missing the required parameter 'experiment_oid' when calling SfvbApi.get_sfvb_experiment"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/experiments/{experiment_oid}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'experiment_oid' + '}', CGI.escape(experiment_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'daily'] = opts[:'daily'] if !opts[:'daily'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbExperiment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_experiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the objectives an experiment can optimize
    # Each objective with what is measured per session and compared between variations, the usual optimization type, and whether it needs an event name. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbExperimentObjectivesResponse]
    def get_sfvb_experiment_objectives(storefront_oid, opts = {})
      data, _status_code, _headers = get_sfvb_experiment_objectives_with_http_info(storefront_oid, opts)
      data
    end

    # List the objectives an experiment can optimize
    # Each objective with what is measured per session and compared between variations, the usual optimization type, and whether it needs an event name. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbExperimentObjectivesResponse, Integer, Hash)>] SfvbExperimentObjectivesResponse data, response status code and response headers
    def get_sfvb_experiment_objectives_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_experiment_objectives ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_experiment_objectives"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/experiments/objectives'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbExperimentObjectivesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_experiment_objectives",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_experiment_objectives\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a storefront file
    # Returns the current content, or an earlier version when version is supplied.  Send the body's hash_sha256 back as If-Match when writing.  The ETag header carries the same hash, but a compressing proxy may append a suffix such as -gzip to it, so prefer the body value. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @option opts [Integer] :version 
    # @return [SfvbFileContentResponse]
    def get_sfvb_file_content(storefront_oid, opts = {})
      data, _status_code, _headers = get_sfvb_file_content_with_http_info(storefront_oid, opts)
      data
    end

    # Read a storefront file
    # Returns the current content, or an earlier version when version is supplied.  Send the body&#39;s hash_sha256 back as If-Match when writing.  The ETag header carries the same hash, but a compressing proxy may append a suffix such as -gzip to it, so prefer the body value. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @option opts [Integer] :version 
    # @return [Array<(SfvbFileContentResponse, Integer, Hash)>] SfvbFileContentResponse data, response status code and response headers
    def get_sfvb_file_content_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_file_content ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_file_content"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/files/content'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?
      query_params[:'version'] = opts[:'version'] if !opts[:'version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbFileContentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_file_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_file_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a URL to upload a binary asset to
[...]
