=begin
#UltraCart Rest API V2

#UltraCart REST API Version 2

The version of the OpenAPI document: 2.0.0
Contact: support@ultracart.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1-SNAPSHOT

=end

require 'cgi'

module UltracartClient
  class SfvbApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    def self.new_using_api_key(simple_key, verify_ssl = true, debugging = false)
      api_config = Configuration.new
      api_config.api_key_prefix['x-ultracart-simple-key'] = simple_key
      api_config.api_version = '2017-03-01'
      api_config.verify_ssl = verify_ssl

      api_client = ApiClient.new(api_config)
      api_client.config.debugging = debugging

      UltracartClient::SfvbApi.new(api_client)
    end

    # Compile CJSON to Velocity
    # Compiles a container document to Velocity without storing anything.  Supply theme_oid to compile with the theme's inherit groups applied; omit it to compile standalone. 
    # @param compile_request [SfvbCompileRequest] CJSON to compile
    # @param [Hash] opts the optional parameters
    # @return [SfvbCompileResponse]
    def compile_sfvb_cjson(compile_request, opts = {})
      data, _status_code, _headers = compile_sfvb_cjson_with_http_info(compile_request, opts)
      data
    end

    # Compile CJSON to Velocity
    # Compiles a container document to Velocity without storing anything.  Supply theme_oid to compile with the theme&#39;s inherit groups applied; omit it to compile standalone. 
    # @param compile_request [SfvbCompileRequest] CJSON to compile
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbCompileResponse, Integer, Hash)>] SfvbCompileResponse data, response status code and response headers
    def compile_sfvb_cjson_with_http_info(compile_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.compile_sfvb_cjson ...'
      end
      # verify the required parameter 'compile_request' is set
      if @api_client.config.client_side_validation && compile_request.nil?
        fail ArgumentError, "Missing the required parameter 'compile_request' when calling SfvbApi.compile_sfvb_cjson"
      end
      # resource path
      local_var_path = '/sfvb/cjson/compile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(compile_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbCompileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.compile_sfvb_cjson",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#compile_sfvb_cjson\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a preview session
    # Returns a server generated session id to push containers into.  The id is not caller supplied, because concurrent agents choosing their own would be free to collide, and the browser editor's habit of minting one with Math.random is not a property worth carrying into an API.  Expires after eight hours and can be deleted sooner.  Requires a token that resolves to a user, so use the device authorization flow. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbPreviewSessionResponse]
    def create_sfvb_preview_session(storefront_oid, opts = {})
      data, _status_code, _headers = create_sfvb_preview_session_with_http_info(storefront_oid, opts)
      data
    end

    # Create a preview session
    # Returns a server generated session id to push containers into.  The id is not caller supplied, because concurrent agents choosing their own would be free to collide, and the browser editor&#39;s habit of minting one with Math.random is not a property worth carrying into an API.  Expires after eight hours and can be deleted sooner.  Requires a token that resolves to a user, so use the device authorization flow. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbPreviewSessionResponse, Integer, Hash)>] SfvbPreviewSessionResponse data, response status code and response headers
    def create_sfvb_preview_session_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.create_sfvb_preview_session ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.create_sfvb_preview_session"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/preview_sessions'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbPreviewSessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.create_sfvb_preview_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#create_sfvb_preview_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a storefront file
    # Recoverable from the recycle bin. 
    # @param storefront_oid [Integer] 
    # @param if_match [String] Content hash of the file being deleted.  Required; 428 when absent, 412 when stale.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [nil]
    def delete_sfvb_file(storefront_oid, if_match, opts = {})
      delete_sfvb_file_with_http_info(storefront_oid, if_match, opts)
      nil
    end

    # Delete a storefront file
    # Recoverable from the recycle bin. 
    # @param storefront_oid [Integer] 
    # @param if_match [String] Content hash of the file being deleted.  Required; 428 when absent, 412 when stale.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sfvb_file_with_http_info(storefront_oid, if_match, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.delete_sfvb_file ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.delete_sfvb_file"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling SfvbApi.delete_sfvb_file"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/files'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.delete_sfvb_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#delete_sfvb_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a preview session
    # Releases the session before its eight hour expiry.  Without this the only way to free one is to wait, which is a poor answer for a tool that may open a dozen in an afternoon. 
    # @param storefront_oid [Integer] 
    # @param preview_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sfvb_preview_session(storefront_oid, preview_session_id, opts = {})
      delete_sfvb_preview_session_with_http_info(storefront_oid, preview_session_id, opts)
      nil
    end

    # Delete a preview session
    # Releases the session before its eight hour expiry.  Without this the only way to free one is to wait, which is a poor answer for a tool that may open a dozen in an afternoon. 
    # @param storefront_oid [Integer] 
    # @param preview_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sfvb_preview_session_with_http_info(storefront_oid, preview_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.delete_sfvb_preview_session ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.delete_sfvb_preview_session"
      end
      # verify the required parameter 'preview_session_id' is set
      if @api_client.config.client_side_validation && preview_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'preview_session_id' when calling SfvbApi.delete_sfvb_preview_session"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/preview_sessions/{preview_session_id}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'preview_session_id' + '}', CGI.escape(preview_session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.delete_sfvb_preview_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#delete_sfvb_preview_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate a theme
    # Copies a theme into a new one and returns a job handle to poll.  Asynchronous, because copying a theme copies every file in it.  Needs sfvb_write rather than sfvb_publish, because the job explicitly does not activate what it creates, so the worst outcome of a mistaken call is a spare theme.  This is how you get somewhere safe to work - duplicate, edit the copy with an ordinary write scope, and let a human promote it. 
    # @param storefront_oid [Integer] 
    # @param theme_oid [Integer] 
    # @param duplicate_request [SfvbThemeDuplicateRequest] Theme duplication details
    # @param [Hash] opts the optional parameters
    # @return [SfvbThemeJobResponse]
    def duplicate_sfvb_theme(storefront_oid, theme_oid, duplicate_request, opts = {})
      data, _status_code, _headers = duplicate_sfvb_theme_with_http_info(storefront_oid, theme_oid, duplicate_request, opts)
      data
    end

    # Duplicate a theme
    # Copies a theme into a new one and returns a job handle to poll.  Asynchronous, because copying a theme copies every file in it.  Needs sfvb_write rather than sfvb_publish, because the job explicitly does not activate what it creates, so the worst outcome of a mistaken call is a spare theme.  This is how you get somewhere safe to work - duplicate, edit the copy with an ordinary write scope, and let a human promote it. 
    # @param storefront_oid [Integer] 
    # @param theme_oid [Integer] 
    # @param duplicate_request [SfvbThemeDuplicateRequest] Theme duplication details
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbThemeJobResponse, Integer, Hash)>] SfvbThemeJobResponse data, response status code and response headers
    def duplicate_sfvb_theme_with_http_info(storefront_oid, theme_oid, duplicate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.duplicate_sfvb_theme ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.duplicate_sfvb_theme"
      end
      # verify the required parameter 'theme_oid' is set
      if @api_client.config.client_side_validation && theme_oid.nil?
        fail ArgumentError, "Missing the required parameter 'theme_oid' when calling SfvbApi.duplicate_sfvb_theme"
      end
      # verify the required parameter 'duplicate_request' is set
      if @api_client.config.client_side_validation && duplicate_request.nil?
        fail ArgumentError, "Missing the required parameter 'duplicate_request' when calling SfvbApi.duplicate_sfvb_theme"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/themes/{theme_oid}/duplicate'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'theme_oid' + '}', CGI.escape(theme_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbThemeJobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.duplicate_sfvb_theme",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#duplicate_sfvb_theme\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Element types used by a container
    # @param compile_request [SfvbCompileRequest] CJSON to inspect
    # @param [Hash] opts the optional parameters
    # @return [SfvbElementsResponse]
    def get_sfvb_cjson_used_elements(compile_request, opts = {})
      data, _status_code, _headers = get_sfvb_cjson_used_elements_with_http_info(compile_request, opts)
      data
    end

    # Element types used by a container
    # @param compile_request [SfvbCompileRequest] CJSON to inspect
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbElementsResponse, Integer, Hash)>] SfvbElementsResponse data, response status code and response headers
    def get_sfvb_cjson_used_elements_with_http_info(compile_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_cjson_used_elements ...'
      end
      # verify the required parameter 'compile_request' is set
      if @api_client.config.client_side_validation && compile_request.nil?
        fail ArgumentError, "Missing the required parameter 'compile_request' when calling SfvbApi.get_sfvb_cjson_used_elements"
      end
      # resource path
      local_var_path = '/sfvb/cjson/elements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(compile_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbElementsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_cjson_used_elements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_cjson_used_elements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a container stored outside the file system
    # owner_type is one of upsell, email, postcardfront, postcardback or item.  Item containers also require container_name.  Theme and page containers are files; read those through files/content. 
    # @param storefront_oid [Integer] 
    # @param owner_type [String] 
    # @param owner_object_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :container_name 
    # @return [SfvbContainerResponse]
    def get_sfvb_container(storefront_oid, owner_type, owner_object_id, opts = {})
      data, _status_code, _headers = get_sfvb_container_with_http_info(storefront_oid, owner_type, owner_object_id, opts)
      data
    end

    # Read a container stored outside the file system
    # owner_type is one of upsell, email, postcardfront, postcardback or item.  Item containers also require container_name.  Theme and page containers are files; read those through files/content. 
    # @param storefront_oid [Integer] 
    # @param owner_type [String] 
    # @param owner_object_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :container_name 
    # @return [Array<(SfvbContainerResponse, Integer, Hash)>] SfvbContainerResponse data, response status code and response headers
    def get_sfvb_container_with_http_info(storefront_oid, owner_type, owner_object_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_container ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_container"
      end
      # verify the required parameter 'owner_type' is set
      if @api_client.config.client_side_validation && owner_type.nil?
        fail ArgumentError, "Missing the required parameter 'owner_type' when calling SfvbApi.get_sfvb_container"
      end
      # verify the required parameter 'owner_object_id' is set
      if @api_client.config.client_side_validation && owner_object_id.nil?
        fail ArgumentError, "Missing the required parameter 'owner_object_id' when calling SfvbApi.get_sfvb_container"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/containers/{owner_type}/{owner_object_id}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'owner_type' + '}', CGI.escape(owner_type.to_s)).sub('{' + 'owner_object_id' + '}', CGI.escape(owner_object_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'container_name'] = opts[:'container_name'] if !opts[:'container_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbContainerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_container",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_container\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read the CJSON stored in one container history entry
    # Inspect or diff an earlier version without reverting to it.  The version is addressed through the container that owns it, so a history oid belonging to some other resource cannot be read through this route. 
    # @param storefront_oid [Integer] 
    # @param container_history_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :owner_type 
    # @option opts [String] :owner_object_id 
    # @option opts [String] :container_name 
    # @return [SfvbContainerVersion]
    def get_sfvb_container_version(storefront_oid, container_history_oid, opts = {})
      data, _status_code, _headers = get_sfvb_container_version_with_http_info(storefront_oid, container_history_oid, opts)
      data
    end

    # Read the CJSON stored in one container history entry
    # Inspect or diff an earlier version without reverting to it.  The version is addressed through the container that owns it, so a history oid belonging to some other resource cannot be read through this route. 
    # @param storefront_oid [Integer] 
    # @param container_history_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :owner_type 
    # @option opts [String] :owner_object_id 
    # @option opts [String] :container_name 
    # @return [Array<(SfvbContainerVersion, Integer, Hash)>] SfvbContainerVersion data, response status code and response headers
    def get_sfvb_container_version_with_http_info(storefront_oid, container_history_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_container_version ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_container_version"
      end
      # verify the required parameter 'container_history_oid' is set
      if @api_client.config.client_side_validation && container_history_oid.nil?
        fail ArgumentError, "Missing the required parameter 'container_history_oid' when calling SfvbApi.get_sfvb_container_version"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/container_versions/{container_history_oid}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'container_history_oid' + '}', CGI.escape(container_history_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'owner_type'] = opts[:'owner_type'] if !opts[:'owner_type'].nil?
      query_params[:'owner_object_id'] = opts[:'owner_object_id'] if !opts[:'owner_object_id'].nil?
      query_params[:'container_name'] = opts[:'container_name'] if !opts[:'container_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbContainerVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_container_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_container_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configuration schema for one element type
    # @param element_type [String] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbElementSchemaResponse]
    def get_sfvb_element(element_type, opts = {})
      data, _status_code, _headers = get_sfvb_element_with_http_info(element_type, opts)
      data
    end

    # Configuration schema for one element type
    # @param element_type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbElementSchemaResponse, Integer, Hash)>] SfvbElementSchemaResponse data, response status code and response headers
    def get_sfvb_element_with_http_info(element_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_element ...'
      end
      # verify the required parameter 'element_type' is set
      if @api_client.config.client_side_validation && element_type.nil?
        fail ArgumentError, "Missing the required parameter 'element_type' when calling SfvbApi.get_sfvb_element"
      end
      # resource path
      local_var_path = '/sfvb/elements/{element_type}'.sub('{' + 'element_type' + '}', CGI.escape(element_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbElementSchemaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_element",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_element\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a storefront file
    # Returns the current content, or an earlier version when version is supplied.  The content hash is returned as an ETag; send it back as If-Match when writing. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @option opts [Integer] :version 
    # @return [SfvbFileContentResponse]
    def get_sfvb_file_content(storefront_oid, opts = {})
      data, _status_code, _headers = get_sfvb_file_content_with_http_info(storefront_oid, opts)
      data
    end

    # Read a storefront file
    # Returns the current content, or an earlier version when version is supplied.  The content hash is returned as an ETag; send it back as If-Match when writing. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @option opts [Integer] :version 
    # @return [Array<(SfvbFileContentResponse, Integer, Hash)>] SfvbFileContentResponse data, response status code and response headers
    def get_sfvb_file_content_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_file_content ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_file_content"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/files/content'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?
      query_params[:'version'] = opts[:'version'] if !opts[:'version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbFileContentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_file_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_file_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read one library entry including its CJSON
    # Returns the fragment as authored.  If it references images or other storefront files those paths will not resolve on this storefront until the entry is installed, so use install rather than this when the intent is to place the fragment. 
    # @param storefront_oid [Integer] 
    # @param library_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbLibraryEntry]
    def get_sfvb_library_entry(storefront_oid, library_oid, opts = {})
      data, _status_code, _headers = get_sfvb_library_entry_with_http_info(storefront_oid, library_oid, opts)
      data
    end

    # Read one library entry including its CJSON
    # Returns the fragment as authored.  If it references images or other storefront files those paths will not resolve on this storefront until the entry is installed, so use install rather than this when the intent is to place the fragment. 
    # @param storefront_oid [Integer] 
    # @param library_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbLibraryEntry, Integer, Hash)>] SfvbLibraryEntry data, response status code and response headers
    def get_sfvb_library_entry_with_http_info(storefront_oid, library_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_library_entry ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_library_entry"
      end
      # verify the required parameter 'library_oid' is set
      if @api_client.config.client_side_validation && library_oid.nil?
        fail ArgumentError, "Missing the required parameter 'library_oid' when calling SfvbApi.get_sfvb_library_entry"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/library/{library_oid}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'library_oid' + '}', CGI.escape(library_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbLibraryEntry'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_library_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_library_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # URL that renders a preview session
    # @param storefront_oid [Integer] 
    # @param preview_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [SfvbPreviewUrlResponse]
    def get_sfvb_preview_url(storefront_oid, preview_session_id, opts = {})
      data, _status_code, _headers = get_sfvb_preview_url_with_http_info(storefront_oid, preview_session_id, opts)
      data
    end

    # URL that renders a preview session
    # @param storefront_oid [Integer] 
    # @param preview_session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [Array<(SfvbPreviewUrlResponse, Integer, Hash)>] SfvbPreviewUrlResponse data, response status code and response headers
    def get_sfvb_preview_url_with_http_info(storefront_oid, preview_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_preview_url ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_preview_url"
      end
      # verify the required parameter 'preview_session_id' is set
      if @api_client.config.client_side_validation && preview_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'preview_session_id' when calling SfvbApi.get_sfvb_preview_url"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/preview_sessions/{preview_session_id}/url'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'preview_session_id' + '}', CGI.escape(preview_session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbPreviewUrlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_preview_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_preview_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a theme
    # @param storefront_oid [Integer] 
    # @param theme_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbTheme]
    def get_sfvb_theme(storefront_oid, theme_oid, opts = {})
      data, _status_code, _headers = get_sfvb_theme_with_http_info(storefront_oid, theme_oid, opts)
      data
    end

    # Get a theme
    # @param storefront_oid [Integer] 
    # @param theme_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbTheme, Integer, Hash)>] SfvbTheme data, response status code and response headers
    def get_sfvb_theme_with_http_info(storefront_oid, theme_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_theme ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_theme"
      end
      # verify the required parameter 'theme_oid' is set
      if @api_client.config.client_side_validation && theme_oid.nil?
        fail ArgumentError, "Missing the required parameter 'theme_oid' when calling SfvbApi.get_sfvb_theme"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/themes/{theme_oid}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'theme_oid' + '}', CGI.escape(theme_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbTheme'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_theme",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_theme\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Status of an asynchronous theme job
    # Poll until complete is true, then check success.  Note that the new theme's oid is not returned.  The job's product is a plain text report rather than a structured result, so once it completes, list themes and match on the target_path the start call gave you. 
    # @param storefront_oid [Integer] 
    # @param job_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbThemeJobResponse]
    def get_sfvb_theme_job(storefront_oid, job_id, opts = {})
      data, _status_code, _headers = get_sfvb_theme_job_with_http_info(storefront_oid, job_id, opts)
      data
    end

    # Status of an asynchronous theme job
    # Poll until complete is true, then check success.  Note that the new theme&#39;s oid is not returned.  The job&#39;s product is a plain text report rather than a structured result, so once it completes, list themes and match on the target_path the start call gave you. 
    # @param storefront_oid [Integer] 
    # @param job_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbThemeJobResponse, Integer, Hash)>] SfvbThemeJobResponse data, response status code and response headers
    def get_sfvb_theme_job_with_http_info(storefront_oid, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_theme_job ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.get_sfvb_theme_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling SfvbApi.get_sfvb_theme_job"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/theme_jobs/{job_id}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbThemeJobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_theme_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_theme_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Compiler version for this merchant
    # The visual builder release channel is per merchant, so a CLI holding cached schema or element data should compare against this to know when it has gone stale. 
    # @param [Hash] opts the optional parameters
    # @return [SfvbVersionResponse]
    def get_sfvb_version(opts = {})
      data, _status_code, _headers = get_sfvb_version_with_http_info(opts)
      data
    end

    # Compiler version for this merchant
    # The visual builder release channel is per merchant, so a CLI holding cached schema or element data should compare against this to know when it has gone stale. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbVersionResponse, Integer, Hash)>] SfvbVersionResponse data, response status code and response headers
    def get_sfvb_version_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_version ...'
      end
      # resource path
      local_var_path = '/sfvb/version'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbVersionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Who this token is
    # Returns the merchant, user, granted scopes and reachable storefronts for the calling token.  Declared for any scope so an application can always discover which account it is connected to. 
    # @param [Hash] opts the optional parameters
    # @return [SfvbWhoamiResponse]
    def get_sfvb_whoami(opts = {})
      data, _status_code, _headers = get_sfvb_whoami_with_http_info(opts)
      data
    end

    # Who this token is
    # Returns the merchant, user, granted scopes and reachable storefronts for the calling token.  Declared for any scope so an application can always discover which account it is connected to. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbWhoamiResponse, Integer, Hash)>] SfvbWhoamiResponse data, response status code and response headers
    def get_sfvb_whoami_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.get_sfvb_whoami ...'
      end
      # resource path
      local_var_path = '/sfvb/whoami'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbWhoamiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.get_sfvb_whoami",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#get_sfvb_whoami\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Install a library entry into a storefront
    # Copies the fragment's referenced assets into the storefront file system and returns the CJSON with its paths resolved, ready to place.  This writes, which is why it is a POST rather than the GET the internal admin endpoint uses.  It also requires sfvb_publish, because the assets land in the shared storefront file system, which is served to shoppers regardless of which theme is active, so no amount of working inside a duplicate theme isolates them. 
    # @param storefront_oid [Integer] 
    # @param library_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbLibraryEntry]
    def install_sfvb_library_entry(storefront_oid, library_oid, opts = {})
      data, _status_code, _headers = install_sfvb_library_entry_with_http_info(storefront_oid, library_oid, opts)
      data
    end

    # Install a library entry into a storefront
    # Copies the fragment&#39;s referenced assets into the storefront file system and returns the CJSON with its paths resolved, ready to place.  This writes, which is why it is a POST rather than the GET the internal admin endpoint uses.  It also requires sfvb_publish, because the assets land in the shared storefront file system, which is served to shoppers regardless of which theme is active, so no amount of working inside a duplicate theme isolates them. 
    # @param storefront_oid [Integer] 
    # @param library_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbLibraryEntry, Integer, Hash)>] SfvbLibraryEntry data, response status code and response headers
    def install_sfvb_library_entry_with_http_info(storefront_oid, library_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.install_sfvb_library_entry ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.install_sfvb_library_entry"
      end
      # verify the required parameter 'library_oid' is set
      if @api_client.config.client_side_validation && library_oid.nil?
        fail ArgumentError, "Missing the required parameter 'library_oid' when calling SfvbApi.install_sfvb_library_entry"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/library/{library_oid}/install'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'library_oid' + '}', CGI.escape(library_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbLibraryEntry'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.install_sfvb_library_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#install_sfvb_library_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Version history for a container stored outside the file system
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :owner_type 
    # @option opts [String] :owner_object_id 
    # @option opts [String] :container_name 
    # @return [SfvbContainerVersionsResponse]
    def list_sfvb_container_versions(storefront_oid, opts = {})
      data, _status_code, _headers = list_sfvb_container_versions_with_http_info(storefront_oid, opts)
      data
    end

    # Version history for a container stored outside the file system
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :owner_type 
    # @option opts [String] :owner_object_id 
    # @option opts [String] :container_name 
    # @return [Array<(SfvbContainerVersionsResponse, Integer, Hash)>] SfvbContainerVersionsResponse data, response status code and response headers
    def list_sfvb_container_versions_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.list_sfvb_container_versions ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.list_sfvb_container_versions"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/container_versions'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'owner_type'] = opts[:'owner_type'] if !opts[:'owner_type'].nil?
      query_params[:'owner_object_id'] = opts[:'owner_object_id'] if !opts[:'owner_object_id'].nil?
      query_params[:'container_name'] = opts[:'container_name'] if !opts[:'container_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbContainerVersionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.list_sfvb_container_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#list_sfvb_container_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List every SFVB element type
    # The authoritative vocabulary, taken from the same lookup the compiler uses.  A type absent from this list compiles to a literal placeholder line in the page rather than failing, which is why validation treats an unknown type as an error. 
    # @param [Hash] opts the optional parameters
    # @return [SfvbElementsResponse]
    def list_sfvb_elements(opts = {})
      data, _status_code, _headers = list_sfvb_elements_with_http_info(opts)
      data
    end

    # List every SFVB element type
    # The authoritative vocabulary, taken from the same lookup the compiler uses.  A type absent from this list compiles to a literal placeholder line in the page rather than failing, which is why validation treats an unknown type as an error. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbElementsResponse, Integer, Hash)>] SfvbElementsResponse data, response status code and response headers
    def list_sfvb_elements_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.list_sfvb_elements ...'
      end
      # resource path
      local_var_path = '/sfvb/elements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbElementsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.list_sfvb_elements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#list_sfvb_elements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Version history for a storefront file
    # Version history is the undo for anything in the storefront file system, which is what makes an agent's writes recoverable. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [SfvbFileVersionsResponse]
    def list_sfvb_file_versions(storefront_oid, opts = {})
      data, _status_code, _headers = list_sfvb_file_versions_with_http_info(storefront_oid, opts)
      data
    end

    # Version history for a storefront file
    # Version history is the undo for anything in the storefront file system, which is what makes an agent&#39;s writes recoverable. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [Array<(SfvbFileVersionsResponse, Integer, Hash)>] SfvbFileVersionsResponse data, response status code and response headers
    def list_sfvb_file_versions_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.list_sfvb_file_versions ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.list_sfvb_file_versions"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/files/versions'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbFileVersionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.list_sfvb_file_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#list_sfvb_file_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a storefront directory
    # Directories first, then files, each sorted by name.  Address by path or by directory oid; supplying theme_oid also retries a path that does not resolve at the storefront root relative to that theme, so /theme/css/ works without knowing the theme's directory name.  Each file carries its content hash, so a listing is enough to start an If-Match write without a separate read. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @option opts [Integer] :storefront_fs_directory_oid 
    # @option opts [Integer] :theme_oid 
    # @option opts [Integer] :max_entries 
    # @return [SfvbFilesResponse]
    def list_sfvb_files(storefront_oid, opts = {})
      data, _status_code, _headers = list_sfvb_files_with_http_info(storefront_oid, opts)
      data
    end

    # List a storefront directory
    # Directories first, then files, each sorted by name.  Address by path or by directory oid; supplying theme_oid also retries a path that does not resolve at the storefront root relative to that theme, so /theme/css/ works without knowing the theme&#39;s directory name.  Each file carries its content hash, so a listing is enough to start an If-Match write without a separate read. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @option opts [Integer] :storefront_fs_directory_oid 
    # @option opts [Integer] :theme_oid 
    # @option opts [Integer] :max_entries 
    # @return [Array<(SfvbFilesResponse, Integer, Hash)>] SfvbFilesResponse data, response status code and response headers
    def list_sfvb_files_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.list_sfvb_files ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.list_sfvb_files"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/files'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?
      query_params[:'storefront_fs_directory_oid'] = opts[:'storefront_fs_directory_oid'] if !opts[:'storefront_fs_directory_oid'].nil?
      query_params[:'theme_oid'] = opts[:'theme_oid'] if !opts[:'theme_oid'].nil?
      query_params[:'max_entries'] = opts[:'max_entries'] if !opts[:'max_entries'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbFilesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.list_sfvb_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#list_sfvb_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List storefronts
    # @param [Hash] opts the optional parameters
    # @return [SfvbStorefrontsResponse]
    def list_sfvb_storefronts(opts = {})
      data, _status_code, _headers = list_sfvb_storefronts_with_http_info(opts)
      data
    end

    # List storefronts
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbStorefrontsResponse, Integer, Hash)>] SfvbStorefrontsResponse data, response status code and response headers
    def list_sfvb_storefronts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.list_sfvb_storefronts ...'
      end
      # resource path
      local_var_path = '/sfvb/storefronts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbStorefrontsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.list_sfvb_storefronts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#list_sfvb_storefronts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List themes for a storefront
    # Exactly one theme is flagged active.  Writing to the active theme is writing live and requires the sfvb_publish scope. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbThemesResponse]
    def list_sfvb_themes(storefront_oid, opts = {})
      data, _status_code, _headers = list_sfvb_themes_with_http_info(storefront_oid, opts)
      data
    end

    # List themes for a storefront
    # Exactly one theme is flagged active.  Writing to the active theme is writing live and requires the sfvb_publish scope. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbThemesResponse, Integer, Hash)>] SfvbThemesResponse data, response status code and response headers
    def list_sfvb_themes_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.list_sfvb_themes ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.list_sfvb_themes"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/themes'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbThemesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.list_sfvb_themes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#list_sfvb_themes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List upsell offers
    # Without container JSON, so the funnel can be surveyed cheaply.  A large container size alongside a small element count is the signature of markup pasted into a single html element. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [SfvbUpsellOffersResponse]
    def list_sfvb_upsell_offers(storefront_oid, opts = {})
      data, _status_code, _headers = list_sfvb_upsell_offers_with_http_info(storefront_oid, opts)
      data
    end

    # List upsell offers
    # Without container JSON, so the funnel can be surveyed cheaply.  A large container size alongside a small element count is the signature of markup pasted into a single html element. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbUpsellOffersResponse, Integer, Hash)>] SfvbUpsellOffersResponse data, response status code and response headers
    def list_sfvb_upsell_offers_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.list_sfvb_upsell_offers ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.list_sfvb_upsell_offers"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/upsell_offers'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbUpsellOffersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.list_sfvb_upsell_offers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#list_sfvb_upsell_offers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Write a container stored outside the file system
    # Validation is mandatory and runs here regardless of whether the caller validated first.  The previous value is snapshotted before the write, so the change can be reverted.  Side effects the visual builder performs on save, such as upsell screenshot regeneration and email content review flagging, are applied too. 
    # @param storefront_oid [Integer] 
    # @param owner_type [String] 
    # @param owner_object_id [String] 
    # @param if_match [String] CJSON hash from the last read.  Required; 428 when absent, 412 when stale.
    # @param container_write_request [SfvbContainerWriteRequest] Container CJSON to write
    # @param [Hash] opts the optional parameters
    # @option opts [String] :container_name 
    # @return [SfvbContainerResponse]
    def put_sfvb_container(storefront_oid, owner_type, owner_object_id, if_match, container_write_request, opts = {})
      data, _status_code, _headers = put_sfvb_container_with_http_info(storefront_oid, owner_type, owner_object_id, if_match, container_write_request, opts)
      data
    end

    # Write a container stored outside the file system
    # Validation is mandatory and runs here regardless of whether the caller validated first.  The previous value is snapshotted before the write, so the change can be reverted.  Side effects the visual builder performs on save, such as upsell screenshot regeneration and email content review flagging, are applied too. 
    # @param storefront_oid [Integer] 
    # @param owner_type [String] 
    # @param owner_object_id [String] 
    # @param if_match [String] CJSON hash from the last read.  Required; 428 when absent, 412 when stale.
    # @param container_write_request [SfvbContainerWriteRequest] Container CJSON to write
    # @param [Hash] opts the optional parameters
    # @option opts [String] :container_name 
    # @return [Array<(SfvbContainerResponse, Integer, Hash)>] SfvbContainerResponse data, response status code and response headers
    def put_sfvb_container_with_http_info(storefront_oid, owner_type, owner_object_id, if_match, container_write_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.put_sfvb_container ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.put_sfvb_container"
      end
      # verify the required parameter 'owner_type' is set
      if @api_client.config.client_side_validation && owner_type.nil?
        fail ArgumentError, "Missing the required parameter 'owner_type' when calling SfvbApi.put_sfvb_container"
      end
      # verify the required parameter 'owner_object_id' is set
      if @api_client.config.client_side_validation && owner_object_id.nil?
        fail ArgumentError, "Missing the required parameter 'owner_object_id' when calling SfvbApi.put_sfvb_container"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling SfvbApi.put_sfvb_container"
      end
      # verify the required parameter 'container_write_request' is set
      if @api_client.config.client_side_validation && container_write_request.nil?
        fail ArgumentError, "Missing the required parameter 'container_write_request' when calling SfvbApi.put_sfvb_container"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/containers/{owner_type}/{owner_object_id}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'owner_type' + '}', CGI.escape(owner_type.to_s)).sub('{' + 'owner_object_id' + '}', CGI.escape(owner_object_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'container_name'] = opts[:'container_name'] if !opts[:'container_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(container_write_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbContainerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.put_sfvb_container",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#put_sfvb_container\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Write a storefront file
    # Runs the template sandbox, Velocity validation and the internationalization check, records a version, and compiles the sibling .vm when the file is a .cjson under a theme.  Send If-Match with the hash from the last read to avoid clobbering a concurrent change.  Writing into the active theme requires sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param if_match [String] Content hash from the last read.  Required; 428 when absent, 412 when stale.
    # @param file_write_request [SfvbFileWriteRequest] File content to write
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [SfvbFileWriteResponse]
    def put_sfvb_file_content(storefront_oid, if_match, file_write_request, opts = {})
      data, _status_code, _headers = put_sfvb_file_content_with_http_info(storefront_oid, if_match, file_write_request, opts)
      data
    end

    # Write a storefront file
    # Runs the template sandbox, Velocity validation and the internationalization check, records a version, and compiles the sibling .vm when the file is a .cjson under a theme.  Send If-Match with the hash from the last read to avoid clobbering a concurrent change.  Writing into the active theme requires sfvb_publish. 
    # @param storefront_oid [Integer] 
    # @param if_match [String] Content hash from the last read.  Required; 428 when absent, 412 when stale.
    # @param file_write_request [SfvbFileWriteRequest] File content to write
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path 
    # @return [Array<(SfvbFileWriteResponse, Integer, Hash)>] SfvbFileWriteResponse data, response status code and response headers
    def put_sfvb_file_content_with_http_info(storefront_oid, if_match, file_write_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.put_sfvb_file_content ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.put_sfvb_file_content"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling SfvbApi.put_sfvb_file_content"
      end
      # verify the required parameter 'file_write_request' is set
      if @api_client.config.client_side_validation && file_write_request.nil?
        fail ArgumentError, "Missing the required parameter 'file_write_request' when calling SfvbApi.put_sfvb_file_content"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/files/content'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(file_write_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbFileWriteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.put_sfvb_file_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#put_sfvb_file_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Push containers into a preview session
    # Stores compiled containers against a session created by createSfvbPreviewSession.  Replaces whatever the session held.  Nothing durable is written.  Requires a token that resolves to a user, so use the device authorization flow. 
    # @param storefront_oid [Integer] 
    # @param preview_session_id [String] 
    # @param preview_session [SfvbPreviewSessionRequest] Containers to stage in the preview session
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :theme_oid 
    # @return [SfvbPreviewSessionResponse]
    def put_sfvb_preview_session(storefront_oid, preview_session_id, preview_session, opts = {})
      data, _status_code, _headers = put_sfvb_preview_session_with_http_info(storefront_oid, preview_session_id, preview_session, opts)
      data
    end

    # Push containers into a preview session
    # Stores compiled containers against a session created by createSfvbPreviewSession.  Replaces whatever the session held.  Nothing durable is written.  Requires a token that resolves to a user, so use the device authorization flow. 
    # @param storefront_oid [Integer] 
    # @param preview_session_id [String] 
    # @param preview_session [SfvbPreviewSessionRequest] Containers to stage in the preview session
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :theme_oid 
    # @return [Array<(SfvbPreviewSessionResponse, Integer, Hash)>] SfvbPreviewSessionResponse data, response status code and response headers
    def put_sfvb_preview_session_with_http_info(storefront_oid, preview_session_id, preview_session, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.put_sfvb_preview_session ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.put_sfvb_preview_session"
      end
      # verify the required parameter 'preview_session_id' is set
      if @api_client.config.client_side_validation && preview_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'preview_session_id' when calling SfvbApi.put_sfvb_preview_session"
      end
      # verify the required parameter 'preview_session' is set
      if @api_client.config.client_side_validation && preview_session.nil?
        fail ArgumentError, "Missing the required parameter 'preview_session' when calling SfvbApi.put_sfvb_preview_session"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/preview_sessions/{preview_session_id}'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'preview_session_id' + '}', CGI.escape(preview_session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'theme_oid'] = opts[:'theme_oid'] if !opts[:'theme_oid'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(preview_session)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbPreviewSessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.put_sfvb_preview_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#put_sfvb_preview_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render a CJSON node to HTML
    # Renders one node in the context of a theme and a page.  Unlike compile this is stateful.  Rendering resolves merchant data, so an element bound to an item renders wrongly, and silently, without a context item id.  One node per call, so a node that fails to render fails on its own rather than taking a batch with it, and a failure says why. 
    # @param storefront_oid [Integer] 
    # @param theme_oid [Integer] 
    # @param render_request [SfvbRenderRequest] Widgets to render
    # @param [Hash] opts the optional parameters
    # @return [SfvbRenderResponse]
    def render_sfvb_widgets(storefront_oid, theme_oid, render_request, opts = {})
      data, _status_code, _headers = render_sfvb_widgets_with_http_info(storefront_oid, theme_oid, render_request, opts)
      data
    end

    # Render a CJSON node to HTML
    # Renders one node in the context of a theme and a page.  Unlike compile this is stateful.  Rendering resolves merchant data, so an element bound to an item renders wrongly, and silently, without a context item id.  One node per call, so a node that fails to render fails on its own rather than taking a batch with it, and a failure says why. 
    # @param storefront_oid [Integer] 
    # @param theme_oid [Integer] 
    # @param render_request [SfvbRenderRequest] Widgets to render
    # @param [Hash] opts the optional parameters
    # @return [Array<(SfvbRenderResponse, Integer, Hash)>] SfvbRenderResponse data, response status code and response headers
    def render_sfvb_widgets_with_http_info(storefront_oid, theme_oid, render_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.render_sfvb_widgets ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.render_sfvb_widgets"
      end
      # verify the required parameter 'theme_oid' is set
      if @api_client.config.client_side_validation && theme_oid.nil?
        fail ArgumentError, "Missing the required parameter 'theme_oid' when calling SfvbApi.render_sfvb_widgets"
      end
      # verify the required parameter 'render_request' is set
      if @api_client.config.client_side_validation && render_request.nil?
        fail ArgumentError, "Missing the required parameter 'render_request' when calling SfvbApi.render_sfvb_widgets"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/themes/{theme_oid}/render'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s)).sub('{' + 'theme_oid' + '}', CGI.escape(theme_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(render_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SfvbRenderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ultraCartOauth', 'ultraCartSimpleApiKey']

      new_options = opts.merge(
        :operation => :"SfvbApi.render_sfvb_widgets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SfvbApi#render_sfvb_widgets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reserve a block of widget ids
    # Widget ids are allocated by the server, not invented by the caller.  Reserve a block, then form ids as elementType-number.  This is the single most likely thing to get wrong on a first write.  A POST rather than a GET because it consumes a sequence.  A GET that mutates will eventually be prefetched, retried or cached by something that assumed it was safe. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count 
    # @return [SfvbWidgetIdsResponse]
    def reserve_sfvb_widget_ids(storefront_oid, opts = {})
      data, _status_code, _headers = reserve_sfvb_widget_ids_with_http_info(storefront_oid, opts)
      data
    end

    # Reserve a block of widget ids
    # Widget ids are allocated by the server, not invented by the caller.  Reserve a block, then form ids as elementType-number.  This is the single most likely thing to get wrong on a first write.  A POST rather than a GET because it consumes a sequence.  A GET that mutates will eventually be prefetched, retried or cached by something that assumed it was safe. 
    # @param storefront_oid [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count 
    # @return [Array<(SfvbWidgetIdsResponse, Integer, Hash)>] SfvbWidgetIdsResponse data, response status code and response headers
    def reserve_sfvb_widget_ids_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SfvbApi.reserve_sfvb_widget_ids ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling SfvbApi.reserve_sfvb_widget_ids"
      end
      # resource path
      local_var_path = '/sfvb/storefronts/{storefront_oid}/widget_ids'.sub('{' + 'storefront_oid' + '}', CGI.escape(storefront_oid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
[...]
