=begin
#UltraCart Rest API V2

#UltraCart REST API Version 2

OpenAPI spec version: 2.0.0
Contact: support@ultracart.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15-SNAPSHOT

=end

require 'uri'

module UltracartClient
  class StorefrontApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    def self.new_using_api_key(simple_key, verify_ssl = true, debugging = false)
      api_config = Configuration.new
      api_config.api_key_prefix['x-ultracart-simple-key'] = simple_key
      api_config.api_version = '2017-03-01'
      api_config.verify_ssl = verify_ssl

      api_client = ApiClient.new(api_config)
      api_client.config.debugging = debugging

      UltracartClient::StorefrontApi.new(api_client)
    end

    # Add to library
    # @param add_library_request New library item request
    # @param [Hash] opts the optional parameters
    # @return [LibraryItemResponse]
    def add_to_library(add_library_request, opts = {})
      data, _status_code, _headers = add_to_library_with_http_info(add_library_request, opts)
      data
    end

    # Add to library
    # @param add_library_request New library item request
    # @param [Hash] opts the optional parameters
    # @return [Array<(LibraryItemResponse, Fixnum, Hash)>] LibraryItemResponse data, response status code and response headers
    def add_to_library_with_http_info(add_library_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.add_to_library ...'
      end
      # verify the required parameter 'add_library_request' is set
      if @api_client.config.client_side_validation && add_library_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_library_request' when calling StorefrontApi.add_to_library"
      end
      # resource path
      local_var_path = '/storefront/code_library'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(add_library_request)
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LibraryItemResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#add_to_library\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Apply library item to storefront.
    # @param apply_library_request New library item
    # @param [Hash] opts the optional parameters
    # @return [ApplyLibraryItemResponse]
    def apply_to_store_front(apply_library_request, opts = {})
      data, _status_code, _headers = apply_to_store_front_with_http_info(apply_library_request, opts)
      data
    end

    # Apply library item to storefront.
    # @param apply_library_request New library item
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyLibraryItemResponse, Fixnum, Hash)>] ApplyLibraryItemResponse data, response status code and response headers
    def apply_to_store_front_with_http_info(apply_library_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.apply_to_store_front ...'
      end
      # verify the required parameter 'apply_library_request' is set
      if @api_client.config.client_side_validation && apply_library_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_library_request' when calling StorefrontApi.apply_to_store_front"
      end
      # resource path
      local_var_path = '/storefront/code_library/apply'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(apply_library_request)
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ApplyLibraryItemResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#apply_to_store_front\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Archive email list
    # @param storefront_oid 
    # @param email_list_uuid 
    # @param [Hash] opts the optional parameters
    # @return [EmailListArchiveResponse]
    def archive_email_list(storefront_oid, email_list_uuid, opts = {})
      data, _status_code, _headers = archive_email_list_with_http_info(storefront_oid, email_list_uuid, opts)
      data
    end

    # Archive email list
    # @param storefront_oid 
    # @param email_list_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailListArchiveResponse, Fixnum, Hash)>] EmailListArchiveResponse data, response status code and response headers
    def archive_email_list_with_http_info(storefront_oid, email_list_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.archive_email_list ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.archive_email_list"
      end
      # verify the required parameter 'email_list_uuid' is set
      if @api_client.config.client_side_validation && email_list_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_list_uuid' when calling StorefrontApi.archive_email_list"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/lists/{email_list_uuid}/archive'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_list_uuid' + '}', email_list_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailListArchiveResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#archive_email_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Archive email segment
    # @param storefront_oid 
    # @param email_segment_uuid 
    # @param [Hash] opts the optional parameters
    # @return [EmailSegmentArchiveResponse]
    def archive_email_segment(storefront_oid, email_segment_uuid, opts = {})
      data, _status_code, _headers = archive_email_segment_with_http_info(storefront_oid, email_segment_uuid, opts)
      data
    end

    # Archive email segment
    # @param storefront_oid 
    # @param email_segment_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailSegmentArchiveResponse, Fixnum, Hash)>] EmailSegmentArchiveResponse data, response status code and response headers
    def archive_email_segment_with_http_info(storefront_oid, email_segment_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.archive_email_segment ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.archive_email_segment"
      end
      # verify the required parameter 'email_segment_uuid' is set
      if @api_client.config.client_side_validation && email_segment_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_segment_uuid' when calling StorefrontApi.archive_email_segment"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/segments/{email_segment_uuid}/archive'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_segment_uuid' + '}', email_segment_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailSegmentArchiveResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#archive_email_segment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Back populate email flow
    # @param storefront_oid 
    # @param email_flow_uuid 
    # @param back_populate_request The request to back populate
    # @param [Hash] opts the optional parameters
    # @return [EmailFlowBackPopulateResponse]
    def back_populate_email_flow(storefront_oid, email_flow_uuid, back_populate_request, opts = {})
      data, _status_code, _headers = back_populate_email_flow_with_http_info(storefront_oid, email_flow_uuid, back_populate_request, opts)
      data
    end

    # Back populate email flow
    # @param storefront_oid 
    # @param email_flow_uuid 
    # @param back_populate_request The request to back populate
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailFlowBackPopulateResponse, Fixnum, Hash)>] EmailFlowBackPopulateResponse data, response status code and response headers
    def back_populate_email_flow_with_http_info(storefront_oid, email_flow_uuid, back_populate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.back_populate_email_flow ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.back_populate_email_flow"
      end
      # verify the required parameter 'email_flow_uuid' is set
      if @api_client.config.client_side_validation && email_flow_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_flow_uuid' when calling StorefrontApi.back_populate_email_flow"
      end
      # verify the required parameter 'back_populate_request' is set
      if @api_client.config.client_side_validation && back_populate_request.nil?
        fail ArgumentError, "Missing the required parameter 'back_populate_request' when calling StorefrontApi.back_populate_email_flow"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/flows/{email_flow_uuid}/backfill'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_flow_uuid' + '}', email_flow_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(back_populate_request)
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailFlowBackPopulateResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#back_populate_email_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Check download of email segment
    # @param storefront_oid 
    # @param email_segment_uuid 
    # @param email_segment_rebuild_uuid 
    # @param [Hash] opts the optional parameters
    # @return [EmailSegmentDownloadPrepareResponse]
    def check_download_email_segment(storefront_oid, email_segment_uuid, email_segment_rebuild_uuid, opts = {})
      data, _status_code, _headers = check_download_email_segment_with_http_info(storefront_oid, email_segment_uuid, email_segment_rebuild_uuid, opts)
      data
    end

    # Check download of email segment
    # @param storefront_oid 
    # @param email_segment_uuid 
    # @param email_segment_rebuild_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailSegmentDownloadPrepareResponse, Fixnum, Hash)>] EmailSegmentDownloadPrepareResponse data, response status code and response headers
    def check_download_email_segment_with_http_info(storefront_oid, email_segment_uuid, email_segment_rebuild_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.check_download_email_segment ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.check_download_email_segment"
      end
      # verify the required parameter 'email_segment_uuid' is set
      if @api_client.config.client_side_validation && email_segment_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_segment_uuid' when calling StorefrontApi.check_download_email_segment"
      end
      # verify the required parameter 'email_segment_rebuild_uuid' is set
      if @api_client.config.client_side_validation && email_segment_rebuild_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_segment_rebuild_uuid' when calling StorefrontApi.check_download_email_segment"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/segments/{email_segment_uuid}/downloadPrepare/{email_segment_rebuild_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_segment_uuid' + '}', email_segment_uuid.to_s).sub('{' + 'email_segment_rebuild_uuid' + '}', email_segment_rebuild_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailSegmentDownloadPrepareResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#check_download_email_segment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Clone email campaign
    # @param storefront_oid 
    # @param email_campaign_uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :target_storefront_oid 
    # @return [EmailCampaignResponse]
    def clone_email_campaign(storefront_oid, email_campaign_uuid, opts = {})
      data, _status_code, _headers = clone_email_campaign_with_http_info(storefront_oid, email_campaign_uuid, opts)
      data
    end

    # Clone email campaign
    # @param storefront_oid 
    # @param email_campaign_uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :target_storefront_oid 
    # @return [Array<(EmailCampaignResponse, Fixnum, Hash)>] EmailCampaignResponse data, response status code and response headers
    def clone_email_campaign_with_http_info(storefront_oid, email_campaign_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.clone_email_campaign ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.clone_email_campaign"
      end
      # verify the required parameter 'email_campaign_uuid' is set
      if @api_client.config.client_side_validation && email_campaign_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_campaign_uuid' when calling StorefrontApi.clone_email_campaign"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/campaigns/{email_campaign_uuid}/clone'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_campaign_uuid' + '}', email_campaign_uuid.to_s)

      # query parameters
      query_params = {}
      query_params[:'target_storefront_oid'] = opts[:'target_storefront_oid'] if !opts[:'target_storefront_oid'].nil?

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailCampaignResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#clone_email_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Clone email flow
    # @param storefront_oid 
    # @param email_flow_uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :target_storefront_oid 
    # @return [EmailFlowResponse]
    def clone_email_flow(storefront_oid, email_flow_uuid, opts = {})
      data, _status_code, _headers = clone_email_flow_with_http_info(storefront_oid, email_flow_uuid, opts)
      data
    end

    # Clone email flow
    # @param storefront_oid 
    # @param email_flow_uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :target_storefront_oid 
    # @return [Array<(EmailFlowResponse, Fixnum, Hash)>] EmailFlowResponse data, response status code and response headers
    def clone_email_flow_with_http_info(storefront_oid, email_flow_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.clone_email_flow ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.clone_email_flow"
      end
      # verify the required parameter 'email_flow_uuid' is set
      if @api_client.config.client_side_validation && email_flow_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_flow_uuid' when calling StorefrontApi.clone_email_flow"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/flows/{email_flow_uuid}/clone'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_flow_uuid' + '}', email_flow_uuid.to_s)

      # query parameters
      query_params = {}
      query_params[:'target_storefront_oid'] = opts[:'target_storefront_oid'] if !opts[:'target_storefront_oid'].nil?

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailFlowResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#clone_email_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create email campaign
    # @param domain 
    # @param [Hash] opts the optional parameters
    # @return [EmailSendingDomainResponse]
    def create_email_sending_domain(domain, opts = {})
      data, _status_code, _headers = create_email_sending_domain_with_http_info(domain, opts)
      data
    end

    # Create email campaign
    # @param domain 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailSendingDomainResponse, Fixnum, Hash)>] EmailSendingDomainResponse data, response status code and response headers
    def create_email_sending_domain_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.create_email_sending_domain ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling StorefrontApi.create_email_sending_domain"
      end
      # resource path
      local_var_path = '/storefront/email/sending_domains/{domain}/create'.sub('{' + 'domain' + '}', domain.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailSendingDomainResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#create_email_sending_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete email campaignFolder
    # @param storefront_oid 
    # @param email_campaign_folder_uuid 
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def delete_email_campaign_folder(storefront_oid, email_campaign_folder_uuid, opts = {})
      data, _status_code, _headers = delete_email_campaign_folder_with_http_info(storefront_oid, email_campaign_folder_uuid, opts)
      data
    end

    # Delete email campaignFolder
    # @param storefront_oid 
    # @param email_campaign_folder_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def delete_email_campaign_folder_with_http_info(storefront_oid, email_campaign_folder_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_email_campaign_folder ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_email_campaign_folder"
      end
      # verify the required parameter 'email_campaign_folder_uuid' is set
      if @api_client.config.client_side_validation && email_campaign_folder_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_campaign_folder_uuid' when calling StorefrontApi.delete_email_campaign_folder"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/campaign_folders/{email_campaign_folder_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_campaign_folder_uuid' + '}', email_campaign_folder_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_email_campaign_folder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete communication sequence stats
    # @param storefront_oid 
    # @param commseq_uuid 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_email_commseq_stat(storefront_oid, commseq_uuid, opts = {})
      delete_email_commseq_stat_with_http_info(storefront_oid, commseq_uuid, opts)
      nil
    end

    # Delete communication sequence stats
    # @param storefront_oid 
    # @param commseq_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_email_commseq_stat_with_http_info(storefront_oid, commseq_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_email_commseq_stat ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_email_commseq_stat"
      end
      # verify the required parameter 'commseq_uuid' is set
      if @api_client.config.client_side_validation && commseq_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'commseq_uuid' when calling StorefrontApi.delete_email_commseq_stat"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/commseqs/{commseq_uuid}/stat'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'commseq_uuid' + '}', commseq_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_email_commseq_stat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete email email
    # @param storefront_oid 
    # @param commseq_email_uuid 
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def delete_email_email(storefront_oid, commseq_email_uuid, opts = {})
      data, _status_code, _headers = delete_email_email_with_http_info(storefront_oid, commseq_email_uuid, opts)
      data
    end

    # Delete email email
    # @param storefront_oid 
    # @param commseq_email_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def delete_email_email_with_http_info(storefront_oid, commseq_email_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_email_email ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_email_email"
      end
      # verify the required parameter 'commseq_email_uuid' is set
      if @api_client.config.client_side_validation && commseq_email_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'commseq_email_uuid' when calling StorefrontApi.delete_email_email"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/emails/{commseq_email_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'commseq_email_uuid' + '}', commseq_email_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_email_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete email flowFolder
    # @param storefront_oid 
    # @param email_flow_folder_uuid 
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def delete_email_flow_folder(storefront_oid, email_flow_folder_uuid, opts = {})
      data, _status_code, _headers = delete_email_flow_folder_with_http_info(storefront_oid, email_flow_folder_uuid, opts)
      data
    end

    # Delete email flowFolder
    # @param storefront_oid 
    # @param email_flow_folder_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def delete_email_flow_folder_with_http_info(storefront_oid, email_flow_folder_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_email_flow_folder ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_email_flow_folder"
      end
      # verify the required parameter 'email_flow_folder_uuid' is set
      if @api_client.config.client_side_validation && email_flow_folder_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_flow_folder_uuid' when calling StorefrontApi.delete_email_flow_folder"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/flow_folders/{email_flow_folder_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_flow_folder_uuid' + '}', email_flow_folder_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_email_flow_folder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete email list customer
    # @param storefront_oid 
    # @param email_list_uuid 
    # @param email_customer_uuid 
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def delete_email_list_customer(storefront_oid, email_list_uuid, email_customer_uuid, opts = {})
      data, _status_code, _headers = delete_email_list_customer_with_http_info(storefront_oid, email_list_uuid, email_customer_uuid, opts)
      data
    end

    # Delete email list customer
    # @param storefront_oid 
    # @param email_list_uuid 
    # @param email_customer_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def delete_email_list_customer_with_http_info(storefront_oid, email_list_uuid, email_customer_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_email_list_customer ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_email_list_customer"
      end
      # verify the required parameter 'email_list_uuid' is set
      if @api_client.config.client_side_validation && email_list_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_list_uuid' when calling StorefrontApi.delete_email_list_customer"
      end
      # verify the required parameter 'email_customer_uuid' is set
      if @api_client.config.client_side_validation && email_customer_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_customer_uuid' when calling StorefrontApi.delete_email_list_customer"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/lists/{email_list_uuid}/customers/{email_customer_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_list_uuid' + '}', email_list_uuid.to_s).sub('{' + 'email_customer_uuid' + '}', email_customer_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_email_list_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete email ListSegmentFolder
    # @param storefront_oid 
    # @param email_list_segment_folder_uuid 
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def delete_email_list_segment_folder(storefront_oid, email_list_segment_folder_uuid, opts = {})
      data, _status_code, _headers = delete_email_list_segment_folder_with_http_info(storefront_oid, email_list_segment_folder_uuid, opts)
      data
    end

    # Delete email ListSegmentFolder
    # @param storefront_oid 
    # @param email_list_segment_folder_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def delete_email_list_segment_folder_with_http_info(storefront_oid, email_list_segment_folder_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_email_list_segment_folder ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_email_list_segment_folder"
      end
      # verify the required parameter 'email_list_segment_folder_uuid' is set
      if @api_client.config.client_side_validation && email_list_segment_folder_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_list_segment_folder_uuid' when calling StorefrontApi.delete_email_list_segment_folder"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/list_segment_folders/{email_list_segment_folder_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_list_segment_folder_uuid' + '}', email_list_segment_folder_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_email_list_segment_folder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete email postcard
    # @param storefront_oid 
    # @param commseq_postcard_uuid 
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def delete_email_postcard(storefront_oid, commseq_postcard_uuid, opts = {})
      data, _status_code, _headers = delete_email_postcard_with_http_info(storefront_oid, commseq_postcard_uuid, opts)
      data
    end

    # Delete email postcard
    # @param storefront_oid 
    # @param commseq_postcard_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def delete_email_postcard_with_http_info(storefront_oid, commseq_postcard_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_email_postcard ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_email_postcard"
      end
      # verify the required parameter 'commseq_postcard_uuid' is set
      if @api_client.config.client_side_validation && commseq_postcard_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'commseq_postcard_uuid' when calling StorefrontApi.delete_email_postcard"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/postcards/{commseq_postcard_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'commseq_postcard_uuid' + '}', commseq_postcard_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_email_postcard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # delete email campaign
    # @param domain 
    # @param [Hash] opts the optional parameters
    # @return [BaseResponse]
    def delete_email_sending_domain(domain, opts = {})
      data, _status_code, _headers = delete_email_sending_domain_with_http_info(domain, opts)
      data
    end

    # delete email campaign
    # @param domain 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseResponse, Fixnum, Hash)>] BaseResponse data, response status code and response headers
    def delete_email_sending_domain_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_email_sending_domain ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling StorefrontApi.delete_email_sending_domain"
      end
      # resource path
      local_var_path = '/storefront/email/sending_domains/{domain}'.sub('{' + 'domain' + '}', domain.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_email_sending_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete experiment
    # @param storefront_oid 
    # @param storefront_experiment_oid 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_experiment(storefront_oid, storefront_experiment_oid, opts = {})
      delete_experiment_with_http_info(storefront_oid, storefront_experiment_oid, opts)
      nil
    end

    # Delete experiment
    # @param storefront_oid 
    # @param storefront_experiment_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_experiment_with_http_info(storefront_oid, storefront_experiment_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_experiment ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_experiment"
      end
      # verify the required parameter 'storefront_experiment_oid' is set
      if @api_client.config.client_side_validation && storefront_experiment_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_experiment_oid' when calling StorefrontApi.delete_experiment"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/experiments/{storefront_experiment_oid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'storefront_experiment_oid' + '}', storefront_experiment_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete screen recording heatmap
    # Delete screen recording heatmap 
    # @param storefront_oid 
    # @param query Query
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_heatmap(storefront_oid, query, opts = {})
      delete_heatmap_with_http_info(storefront_oid, query, opts)
      nil
    end

    # Delete screen recording heatmap
    # Delete screen recording heatmap 
    # @param storefront_oid 
    # @param query Query
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_heatmap_with_http_info(storefront_oid, query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_heatmap ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_heatmap"
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling StorefrontApi.delete_heatmap"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/screen_recordings/heatmap'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(query)
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_heatmap\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete library item
    # @param library_item_oid 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_library_item(library_item_oid, opts = {})
      delete_library_item_with_http_info(library_item_oid, opts)
      nil
    end

    # Delete library item
    # @param library_item_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_library_item_with_http_info(library_item_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_library_item ...'
      end
      # verify the required parameter 'library_item_oid' is set
      if @api_client.config.client_side_validation && library_item_oid.nil?
        fail ArgumentError, "Missing the required parameter 'library_item_oid' when calling StorefrontApi.delete_library_item"
      end
      # resource path
      local_var_path = '/storefront/code_library/{library_item_oid}'.sub('{' + 'library_item_oid' + '}', library_item_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_library_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete all published versions for a library item, including anything in review.
    # @param library_item_oid 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_library_item_published_versions(library_item_oid, opts = {})
      delete_library_item_published_versions_with_http_info(library_item_oid, opts)
      nil
    end

    # Delete all published versions for a library item, including anything in review.
    # @param library_item_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_library_item_published_versions_with_http_info(library_item_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_library_item_published_versions ...'
      end
      # verify the required parameter 'library_item_oid' is set
      if @api_client.config.client_side_validation && library_item_oid.nil?
        fail ArgumentError, "Missing the required parameter 'library_item_oid' when calling StorefrontApi.delete_library_item_published_versions"
      end
      # resource path
      local_var_path = '/storefront/code_library/{library_item_oid}/published_versions'.sub('{' + 'library_item_oid' + '}', library_item_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_library_item_published_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete screen recording segment
    # @param storefront_oid 
    # @param screen_recording_segment_oid 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_screen_recording_segment(storefront_oid, screen_recording_segment_oid, opts = {})
      delete_screen_recording_segment_with_http_info(storefront_oid, screen_recording_segment_oid, opts)
      nil
    end

    # Delete screen recording segment
    # @param storefront_oid 
    # @param screen_recording_segment_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_screen_recording_segment_with_http_info(storefront_oid, screen_recording_segment_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.delete_screen_recording_segment ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.delete_screen_recording_segment"
      end
      # verify the required parameter 'screen_recording_segment_oid' is set
      if @api_client.config.client_side_validation && screen_recording_segment_oid.nil?
        fail ArgumentError, "Missing the required parameter 'screen_recording_segment_oid' when calling StorefrontApi.delete_screen_recording_segment"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/screen_recordings/segments/{screen_recording_segment_oid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'screen_recording_segment_oid' + '}', screen_recording_segment_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#delete_screen_recording_segment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Duplicate library item.
    # @param library_item_oid 
    # @param [Hash] opts the optional parameters
    # @return [LibraryItemResponse]
    def duplicate_library_item(library_item_oid, opts = {})
      data, _status_code, _headers = duplicate_library_item_with_http_info(library_item_oid, opts)
      data
    end

    # Duplicate library item.
    # @param library_item_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LibraryItemResponse, Fixnum, Hash)>] LibraryItemResponse data, response status code and response headers
    def duplicate_library_item_with_http_info(library_item_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.duplicate_library_item ...'
      end
      # verify the required parameter 'library_item_oid' is set
      if @api_client.config.client_side_validation && library_item_oid.nil?
        fail ArgumentError, "Missing the required parameter 'library_item_oid' when calling StorefrontApi.duplicate_library_item"
      end
      # resource path
      local_var_path = '/storefront/code_library/{library_item_oid}/duplicate'.sub('{' + 'library_item_oid' + '}', library_item_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'LibraryItemResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#duplicate_library_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update favorite flag on screen recording
    # Update favorite flag on screen recording 
    # @param storefront_oid 
    # @param screen_recording_uuid 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def favorite_screen_recording(storefront_oid, screen_recording_uuid, opts = {})
      favorite_screen_recording_with_http_info(storefront_oid, screen_recording_uuid, opts)
      nil
    end

    # Update favorite flag on screen recording
    # Update favorite flag on screen recording 
    # @param storefront_oid 
    # @param screen_recording_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def favorite_screen_recording_with_http_info(storefront_oid, screen_recording_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.favorite_screen_recording ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.favorite_screen_recording"
      end
      # verify the required parameter 'screen_recording_uuid' is set
      if @api_client.config.client_side_validation && screen_recording_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'screen_recording_uuid' when calling StorefrontApi.favorite_screen_recording"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/screen_recordings/{screen_recording_uuid}/favorite'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'screen_recording_uuid' + '}', screen_recording_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#favorite_screen_recording\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtain lat/long for an address
    # @param storefront_oid 
    # @param geocode_request geocode request
    # @param [Hash] opts the optional parameters
    # @return [GeocodeResponse]
    def geocode_address(storefront_oid, geocode_request, opts = {})
      data, _status_code, _headers = geocode_address_with_http_info(storefront_oid, geocode_request, opts)
      data
    end

    # Obtain lat/long for an address
    # @param storefront_oid 
    # @param geocode_request geocode request
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeocodeResponse, Fixnum, Hash)>] GeocodeResponse data, response status code and response headers
    def geocode_address_with_http_info(storefront_oid, geocode_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.geocode_address ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.geocode_address"
      end
      # verify the required parameter 'geocode_request' is set
      if @api_client.config.client_side_validation && geocode_request.nil?
        fail ArgumentError, "Missing the required parameter 'geocode_request' when calling StorefrontApi.geocode_address"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/geocode'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(geocode_request)
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GeocodeResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#geocode_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get countries
    # Obtain a list of all the countries 
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [CountriesResponse]
    def get_countries(storefront_oid, opts = {})
      data, _status_code, _headers = get_countries_with_http_info(storefront_oid, opts)
      data
    end

    # Get countries
    # Obtain a list of all the countries 
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountriesResponse, Fixnum, Hash)>] CountriesResponse data, response status code and response headers
    def get_countries_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_countries ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_countries"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/countries'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CountriesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_countries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets editor token
    # Fetches a temporary authentication token for the editor 
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [EmailEditorTokenResponse]
    def get_editor_token(storefront_oid, opts = {})
      data, _status_code, _headers = get_editor_token_with_http_info(storefront_oid, opts)
      data
    end

    # Gets editor token
    # Fetches a temporary authentication token for the editor 
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailEditorTokenResponse, Fixnum, Hash)>] EmailEditorTokenResponse data, response status code and response headers
    def get_editor_token_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_editor_token ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_editor_token"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/editor_token'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailEditorTokenResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_editor_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get email communication base templates
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [EmailBaseTemplateListResponse]
    def get_email_base_templates(storefront_oid, opts = {})
      data, _status_code, _headers = get_email_base_templates_with_http_info(storefront_oid, opts)
      data
    end

    # Get email communication base templates
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailBaseTemplateListResponse, Fixnum, Hash)>] EmailBaseTemplateListResponse data, response status code and response headers
    def get_email_base_templates_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_email_base_templates ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_email_base_templates"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/baseTemplates'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailBaseTemplateListResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_email_base_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get email campaign
    # @param storefront_oid 
    # @param email_campaign_uuid 
    # @param [Hash] opts the optional parameters
    # @return [EmailCampaignResponse]
    def get_email_campaign(storefront_oid, email_campaign_uuid, opts = {})
      data, _status_code, _headers = get_email_campaign_with_http_info(storefront_oid, email_campaign_uuid, opts)
      data
    end

    # Get email campaign
    # @param storefront_oid 
    # @param email_campaign_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailCampaignResponse, Fixnum, Hash)>] EmailCampaignResponse data, response status code and response headers
    def get_email_campaign_with_http_info(storefront_oid, email_campaign_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_email_campaign ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_email_campaign"
      end
      # verify the required parameter 'email_campaign_uuid' is set
      if @api_client.config.client_side_validation && email_campaign_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_campaign_uuid' when calling StorefrontApi.get_email_campaign"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/campaigns/{email_campaign_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_campaign_uuid' + '}', email_campaign_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailCampaignResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_email_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get email campaign folder
    # @param storefront_oid 
    # @param email_campaign_folder_uuid 
    # @param [Hash] opts the optional parameters
    # @return [EmailCampaignFolderResponse]
    def get_email_campaign_folder(storefront_oid, email_campaign_folder_uuid, opts = {})
      data, _status_code, _headers = get_email_campaign_folder_with_http_info(storefront_oid, email_campaign_folder_uuid, opts)
      data
    end

    # Get email campaign folder
    # @param storefront_oid 
    # @param email_campaign_folder_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailCampaignFolderResponse, Fixnum, Hash)>] EmailCampaignFolderResponse data, response status code and response headers
    def get_email_campaign_folder_with_http_info(storefront_oid, email_campaign_folder_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_email_campaign_folder ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_email_campaign_folder"
      end
      # verify the required parameter 'email_campaign_folder_uuid' is set
      if @api_client.config.client_side_validation && email_campaign_folder_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_campaign_folder_uuid' when calling StorefrontApi.get_email_campaign_folder"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/campaign_folders/{email_campaign_folder_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_campaign_folder_uuid' + '}', email_campaign_folder_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailCampaignFolderResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_email_campaign_folder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get email campaign folders
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [EmailCampaignFoldersResponse]
    def get_email_campaign_folders(storefront_oid, opts = {})
      data, _status_code, _headers = get_email_campaign_folders_with_http_info(storefront_oid, opts)
      data
    end

    # Get email campaign folders
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailCampaignFoldersResponse, Fixnum, Hash)>] EmailCampaignFoldersResponse data, response status code and response headers
    def get_email_campaign_folders_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_email_campaign_folders ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_email_campaign_folders"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/campaign_folders'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailCampaignFoldersResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_email_campaign_folders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get email campaign screenshots
    # @param storefront_oid 
    # @param email_campaign_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ScreenshotsResponse]
    def get_email_campaign_screenshots(storefront_oid, email_campaign_uuid, opts = {})
      data, _status_code, _headers = get_email_campaign_screenshots_with_http_info(storefront_oid, email_campaign_uuid, opts)
      data
    end

    # Get email campaign screenshots
    # @param storefront_oid 
    # @param email_campaign_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScreenshotsResponse, Fixnum, Hash)>] ScreenshotsResponse data, response status code and response headers
    def get_email_campaign_screenshots_with_http_info(storefront_oid, email_campaign_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_email_campaign_screenshots ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_email_campaign_screenshots"
      end
      # verify the required parameter 'email_campaign_uuid' is set
      if @api_client.config.client_side_validation && email_campaign_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'email_campaign_uuid' when calling StorefrontApi.get_email_campaign_screenshots"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/campaigns/{email_campaign_uuid}/screenshots'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'email_campaign_uuid' + '}', email_campaign_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ScreenshotsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_email_campaign_screenshots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get email campaigns
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [EmailCampaignsResponse]
    def get_email_campaigns(storefront_oid, opts = {})
      data, _status_code, _headers = get_email_campaigns_with_http_info(storefront_oid, opts)
      data
    end

    # Get email campaigns
    # @param storefront_oid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailCampaignsResponse, Fixnum, Hash)>] EmailCampaignsResponse data, response status code and response headers
    def get_email_campaigns_with_http_info(storefront_oid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_email_campaigns ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_email_campaigns"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/campaigns'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailCampaignsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_email_campaigns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get email campaigns with stats
    # @param storefront_oid 
    # @param stat_days 
    # @param [Hash] opts the optional parameters
    # @return [EmailCampaignsResponse]
    def get_email_campaigns_with_stats(storefront_oid, stat_days, opts = {})
      data, _status_code, _headers = get_email_campaigns_with_stats_with_http_info(storefront_oid, stat_days, opts)
      data
    end

    # Get email campaigns with stats
    # @param storefront_oid 
    # @param stat_days 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailCampaignsResponse, Fixnum, Hash)>] EmailCampaignsResponse data, response status code and response headers
    def get_email_campaigns_with_stats_with_http_info(storefront_oid, stat_days, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_email_campaigns_with_stats ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_email_campaigns_with_stats"
      end
      # verify the required parameter 'stat_days' is set
      if @api_client.config.client_side_validation && stat_days.nil?
        fail ArgumentError, "Missing the required parameter 'stat_days' when calling StorefrontApi.get_email_campaigns_with_stats"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/campaignsWithStats/{stat_days}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'stat_days' + '}', stat_days.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailCampaignsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_email_campaigns_with_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get email commseq
    # @param storefront_oid 
    # @param commseq_uuid 
    # @param [Hash] opts the optional parameters
    # @return [EmailCommseqResponse]
    def get_email_commseq(storefront_oid, commseq_uuid, opts = {})
      data, _status_code, _headers = get_email_commseq_with_http_info(storefront_oid, commseq_uuid, opts)
      data
    end

    # Get email commseq
    # @param storefront_oid 
    # @param commseq_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailCommseqResponse, Fixnum, Hash)>] EmailCommseqResponse data, response status code and response headers
    def get_email_commseq_with_http_info(storefront_oid, commseq_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_email_commseq ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_email_commseq"
      end
      # verify the required parameter 'commseq_uuid' is set
      if @api_client.config.client_side_validation && commseq_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'commseq_uuid' when calling StorefrontApi.get_email_commseq"
      end
      # resource path
      local_var_path = '/storefront/{storefront_oid}/email/commseqs/{commseq_uuid}'.sub('{' + 'storefront_oid' + '}', storefront_oid.to_s).sub('{' + 'commseq_uuid' + '}', commseq_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      header_params['X-UltraCart-Api-Version'] = @api_client.select_header_api_version()
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['ultraCartBrowserApiKey', 'ultraCartOauth', 'ultraCartSimpleApiKey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EmailCommseqResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorefrontApi#get_email_commseq\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get email communication sequence emails stats
    # @param storefront_oid 
    # @param commseq_uuid 
    # @param stats_request StatsRequest
    # @param [Hash] opts the optional parameters
    # @return [EmailStatSummaryResponse]
    def get_email_commseq_email_stats(storefront_oid, commseq_uuid, stats_request, opts = {})
      data, _status_code, _headers = get_email_commseq_email_stats_with_http_info(storefront_oid, commseq_uuid, stats_request, opts)
      data
    end

    # Get email communication sequence emails stats
    # @param storefront_oid 
    # @param commseq_uuid 
    # @param stats_request StatsRequest
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailStatSummaryResponse, Fixnum, Hash)>] EmailStatSummaryResponse data, response status code and response headers
    def get_email_commseq_email_stats_with_http_info(storefront_oid, commseq_uuid, stats_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorefrontApi.get_email_commseq_email_stats ...'
      end
      # verify the required parameter 'storefront_oid' is set
      if @api_client.config.client_side_validation && storefront_oid.nil?
        fail ArgumentError, "Missing the required parameter 'storefront_oid' when calling StorefrontApi.get_email_commseq_email_stats"
      end
      # verify the required parameter 'commseq_uuid' is set
      if @api_client.config.client_side_validation && commseq_uuid.nil?
[...]
