# UltracartClient::VerificationRecord

## Properties

| Name | Type | Description | Notes |
| ---- | ---- | ----------- | ----- |
| **name** | **String** |  | [optional] |
| **type** | **String** |  | [optional] |
| **value** | **String** |  | [optional] |

## Example

```ruby
require 'ultracart_api'

instance = UltracartClient::VerificationRecord.new(
  name: null,
  type: null,
  value: null
)
```

